Repository CodeMonkeyCybersecurity/eos, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, cli, ansible, scripts, pkg-container, pkg-vault, pkg-kvm, pkg-delphi, pkg-crypto, pkg-hecate, pkg-ldap, pkg-mattermost, pkg-platform, pkg-utils, pkg-other, ci, dependencies, policies, sql

refactor: Replace map[string]interface{} with map[string]any for improved type safety
  .github/workflows/# Tools Configuration.go
  pkg/delphi/agent.go
  pkg/delphi/http.go
Labels: pkg-delphi, pkg-other, ci

refactor(security): Add #nosec comments to clarify placeholders and paths as non-credentials
  cmd/create/k3s.go
  cmd/hecate/update/jenkins.go
  pkg/delphi/provision.go
  pkg/delphi/types.go
  pkg/shared/constants.go
  pkg/shared/passwd_constants.go
  pkg/shared/vault_kvv2.go
  pkg/terraform/vault_templates.go
  pkg/ubuntu/unattended_upgrades.go
  pkg/vault/phase2_env_setup.go
Labels: cli, pkg-vault, pkg-delphi, pkg-hecate, pkg-utils, pkg-other

Refactor and enhance Delphi services management
  assets/python_workers/custom-delphi-webhook.py
  assets/python_workers/delphi-agent-enricher.py
  assets/python_workers/delphi-listener.py
  assets/services/delphi-agent-enricher.service
  assets/services/delphi-emailer.service
  assets/services/delphi-listener.service
  assets/services/llm-worker.service
  cmd/delphi/delphi.go
  cmd/delphi/services/disable.go
  cmd/delphi/services/enable.go
  cmd/delphi/services/logs.go
  cmd/delphi/services/restart.go
  cmd/delphi/services/services.go
  cmd/delphi/services/start.go
  cmd/delphi/services/status.go
  cmd/delphi/services/stop.go
  scripts/custom-delphi-webook
Labels: cli, scripts

Refactor telemetry command to self-management module
  cmd/config/config.go
  cmd/delphi/delphi.go
  cmd/delphi/watch/agents.go
  cmd/delphi/watch/alerts.go
  cmd/delphi/watch/all.go
  cmd/delphi/watch/watch.go
  cmd/root.go
  cmd/self/self.go
  cmd/self/telemetry.go
Labels: cli

feat(delphi): Implement Delphi webhook deployment command and scripts
  assets/python_workers/custom-delphi-webhook.py
  cmd/create/delphi_webhook.go
  scripts/custom-delphi-webhook
Labels: cli, scripts

feat(services): Add service existence checks before enabling, disabling, starting, stopping, and checking status
  cmd/delphi/services/disable.go
  cmd/delphi/services/enable.go
  cmd/delphi/services/restart.go
  cmd/delphi/services/start.go
  cmd/delphi/services/status.go
  cmd/delphi/services/stop.go
  pkg/eos_unix/systemctl.go
Labels: cli, pkg-other

feat(logger): Implement dual-output logging with OpenTelemetry integration and comprehensive configuration
  CLAUDE.md
  pkg/logger/README.md
  pkg/logger/fallback.go
Labels: documentation, pkg-utils, pkg-other

feat(services): Add commands for checking and installing Python dependencies for Delphi services
  cmd/delphi/services/check.go
  cmd/delphi/services/preflight-install.go
  cmd/delphi/services/services.go
Labels: cli

Add custom Delphi webhook integration script
  assets/README.md
  assets/python_workers/__pycache__/alert-to-db.cpython-313.pyc
  assets/python_workers/__pycache__/custom-delphi-webhook.cpython-313.pyc
  assets/python_workers/__pycache__/delphi-agent-enricher.cpython-313.pyc
  assets/python_workers/alert-to-db.py
  assets/python_workers/custom-delphi-webhook.py
  assets/python_workers/delphi-agent-enricher.py
  assets/python_workers/delphi-listener.py
  cmd/delphi/services/disable.go
  cmd/delphi/services/preflight-install.go
  cmd/delphi/services/status.go
  cmd/self/self.go
  scripts/custom-delphi-webook
Labels: documentation, cli, scripts

feat(python): Remove unused compiled Python files from __pycache__
  assets/python_workers/__pycache__/alert-to-db.cpython-313.pyc
  assets/python_workers/__pycache__/custom-delphi-webhook.cpython-313.pyc
  assets/python_workers/__pycache__/delphi-agent-enricher.cpython-313.pyc
Labels: none

feat: Add deploy-template command for email template deployment
  assets/python_workers/delphi-emailer.py
  cmd/delphi/services/deploy-template.go
  cmd/delphi/services/services.go
  docs/INTEGRATION_TESTING.md
  docs/README-terraform-integration.md
  docs/SECURITY.md
  docs/SECURITY_ANALYSIS.md
  docs/TESTING_GUIDE.md
Labels: documentation, cli

feat(logs): Add --all flag to view logs for all Delphi services with formatted output
  assets/python_workers/llm-worker.py
  cmd/delphi/services/logs.go
Labels: cli

fix: Add type ignore comments for requests, psycopg2, and dotenv imports
  assets/python_workers/llm-worker.py
Labels: none

fix: Update port number from 9000 to 9101 in delphi-listener.py
  assets/python_workers/delphi-listener.py
Labels: none

feat(telemetry): Create telemetry log directory and handle fallback to user home
  pkg/telemetry/telemetry.go
Labels: pkg-other

feat(telemetry): Enhance telemetry command with status option and detailed logging
  cmd/self/README.md
  cmd/self/telemetry.go
  pkg/telemetry/README.md
  pkg/telemetry/telemetry.go
Labels: documentation, cli, pkg-other

Add Delphi Notify prompts and implement osquery installation and verification for multiple platforms
  assets/system-prompts/delphi-notify-long.txt
  assets/system-prompts/delphi-notify-short.txt
  cmd/create/osquery.go
  pkg/osquery/config.go
  pkg/osquery/lifecycle.go
  pkg/osquery/macos.go
  pkg/osquery/osquery.go
  pkg/osquery/types.go
  pkg/osquery/verify.go
  pkg/osquery/windows.go
Labels: cli, pkg-other

feat(osquery): Add installation guidance based on user context and platform fix(telemetry): Initialize no-op tracer if tracer is nil in telemetry functions
  cmd/create/osquery.go
  pkg/osquery/macos.go
  pkg/telemetry/telemetry.go
Labels: cli, pkg-other

feat(osquery): Enhance macOS service configuration and verification process
  pkg/osquery/macos.go
Labels: pkg-other

feat(osquery): Update macOS installation guidance and enhance verification for Homebrew
  cmd/create/osquery.go
  pkg/osquery/macos.go
  pkg/osquery/osquery.go
Labels: cli, pkg-other

feat(osquery): Enhance installation and verification processes for macOS and Windows, supporting both Homebrew cask and formula
  pkg/osquery/macos.go
  pkg/osquery/osquery.go
  pkg/osquery/verify.go
  pkg/osquery/windows.go
Labels: pkg-other

feat: Improve error handling in database operations and enhance telemetry directory creation logic
  .gitignore
  assets/system-prompts/cybersobar.txt
  cmd/delphi/watch/agents.go
  cmd/delphi/watch/alerts.go
  cmd/delphi/watch/all.go
  cmd/self/telemetry.go
  pkg/telemetry/telemetry.go
Labels: cli, pkg-other

feat(osquery): Consolidate Go and GitHub CLI installation into main script, enhancing platform detection and package management for RHEL and Debian systems
  install.sh
  installGoAndGhOnRhel.sh
  setupGo.sh
Labels: scripts

feat(prompts): Implement prompts management command with subcommands for listing, reading, creating, updating, deleting, and validating system prompts
  cmd/delphi/delphi.go
  cmd/delphi/prompts/create.go
  cmd/delphi/prompts/delete.go
  cmd/delphi/prompts/list.go
  cmd/delphi/prompts/prompts.go
  cmd/delphi/prompts/read.go
  cmd/delphi/prompts/update.go
  cmd/delphi/prompts/validate.go
  cmd/delphi/services/services.go
  cmd/delphi/services/update.go
Labels: cli

Add A/B Testing Worker and Service Configuration
  assets/python_workers/README_AB_TESTING.md
  assets/python_workers/__pycache__/ab-test-analyzer.cpython-313.pyc
  assets/python_workers/__pycache__/prompt-ab-tester.cpython-313.pyc
  assets/python_workers/ab-test-analyzer.py
  assets/python_workers/prompt-ab-tester.py
  assets/services/prompt-ab-tester.service
Labels: documentation

feat(services): Add A/B testing worker and related commands for prompt optimization
  cmd/delphi/services/ab-test-config.go
  cmd/delphi/services/analyze-ab-results.go
  cmd/delphi/services/disable.go
  cmd/delphi/services/enable.go
  cmd/delphi/services/logs.go
  cmd/delphi/services/restart.go
  cmd/delphi/services/services.go
  cmd/delphi/services/start.go
  cmd/delphi/services/status.go
  cmd/delphi/services/stop.go
  cmd/delphi/services/update.go
Labels: cli

feat(vault): Enhance runtime directory management and logging for Vault Agent
  pkg/shared/vault_agent.go
  pkg/vault/phase13_write_agent_config.go
  pkg/vault/phase14_start_agent_and_validate.go
Labels: pkg-vault, pkg-utils, pkg-other

feat(vault): Implement cleanup for stale HCP directory to prevent JSON parsing issues
  cmd/delete/vault_secure.go
  pkg/vault/phase13_write_agent_config.go
Labels: cli, pkg-vault, pkg-other

feat(services): Standardize StartLimitIntervalSec configuration across service files
  assets/services/delphi-agent-enricher.service
  assets/services/delphi-emailer.service
  assets/services/delphi-listener.service
  pkg/shared/vault_agent.go
Labels: pkg-utils, pkg-other

Refactor logging in logs.go for improved clarity and consistency; update Vault agent tests for better structure and manual checks
  cmd/read/logs.go
  pkg/vault/agent_lifecycle_test.go
  pkg/vault/enable_vault_integration_test.go
Labels: cli, pkg-vault, pkg-other

Enhance Delphi Notify prompts with new confidence rating and reference requirements; improve clarity and structure for non-technical users
  assets/system-prompts/cybersobar.txt
  assets/system-prompts/delphi-notify-long.txt
  assets/system-prompts/delphi-notify-short.txt
Labels: none

Update CLAUDE.md to include new default install directory and data location; modify GetSystemPromptsDir function to use /srv as the working directory for prompts
  CLAUDE.md
  cmd/delphi/prompts/list.go
Labels: documentation, cli

Update paths for system prompts and default prompt file to use /srv directory
  assets/python_workers/README_AB_TESTING.md
  assets/python_workers/llm-worker.py
  assets/python_workers/prompt-ab-tester.py
  assets/services/prompt-ab-tester.service
Labels: documentation

feat: Implement CRUD operations for Delphi services management
  .gitignore
  CLAUDE.md
  assets/email.html
  cmd/delphi/services/README.md
  cmd/delphi/services/create.go
  cmd/delphi/services/delete.go
  cmd/delphi/services/list.go
  cmd/delphi/services/read.go
  cmd/delphi/services/services.go
Labels: documentation, cli

feat: Refactor email processing into modular services
  assets/python_workers/PROMPT_INTEGRATION_GUIDE.md
  assets/python_workers/email-formatter.py
  assets/python_workers/email-sender.py
  assets/python_workers/email-structurer.py
  assets/services/email-formatter.service
  assets/services/email-sender.service
  assets/services/email-structurer.service
  cmd/delphi/services/PIPELINE_FLOW.md
  cmd/delphi/services/create.go
  cmd/delphi/services/start.go
  sql/migrations/001_add_structured_alert_data.sql
  sql/migrations/002_add_prompt_tracking.sql
Labels: documentation, cli, sql

feat(parser-monitor): Add parser health monitoring service and dashboard
  assets/python_workers/parser-monitor.py
  assets/services/parser-monitor.service
  cmd/ai/ai.go
  cmd/create/hecate_terraform.go
  cmd/create/hera.go
  cmd/create/jenkins.go
  cmd/create/zabbix.go
  cmd/delete/jenkins.go
  cmd/delete/umami.go
  cmd/delphi/delphi.go
  cmd/delphi/monitor/monitor.go
  cmd/delphi/services/PARSER_MONITORING.md
  cmd/delphi/services/create.go
  cmd/hecate/delete/delete.go
  cmd/hecate/deploy/jenkins.go
  cmd/hecate/read/config.go
  cmd/hecate/update/jenkins.go
  pkg/container/check.go
  pkg/container/compose.go
  pkg/inspect/docker.go
  pkg/inspect/types.go
  pkg/templates/jenkins.go
  pkg/utils/inspect.go
  scripts/stopDockerCompose.py
Labels: documentation, cli, scripts, pkg-container, pkg-hecate, pkg-utils, pkg-other

feat(jenkins): Enhance Jenkins installation process with improved logging and error handling
  cmd/create/jenkins.go
Labels: cli

feat(jenkins): Enhance Jenkins startup process with sudo and increased timeout; improve password retrieval with fallback methods
  cmd/create/jenkins.go
  pkg/container/exec.go
Labels: cli, pkg-container, pkg-other

feat: Add notification channel standardization and validation scripts
  assets/python_workers/email-structurer.py
  assets/python_workers/llm-worker.py
  assets/scripts/fix-notification-channels.py
  assets/scripts/validate-delphi-config.py
  cmd/delphi/services/PIPELINE_FLOW.md
  sql/migrations/003_fix_critical_compatibility_issues.sql
Labels: documentation, cli, sql

refactor: Remove emoji from log messages for consistency
  CLAUDE.md
  cmd/create/jenkins.go
  cmd/create/osquery.go
  cmd/delphi/services/create.go
  cmd/delphi/services/delete.go
  cmd/read/infra.go
  cmd/update/hostname.go
  pkg/osquery/osquery.go
  pkg/vault/phase2_env_setup.go
Labels: documentation, cli, pkg-vault, pkg-other

.github/labeler.yml:

# Top-level docs
documentation:
  - README.md
  - SECURITY.md
  - LICENSE.*
  - '**/*.md'

cli:
  - main.go
  - cmd/**
  - policies/**
  - sql/**

ansible:
  - ansible/**

scripts:
  - scripts/**
  - install.sh
  - installGoAndGhOnRhel.sh
  - setupGo.sh
  - uninstall.sh
  - install.ps1

pkg-container:
  - pkg/container/**
  - pkg/docker/**

pkg-vault:
  - pkg/vault/**

pkg-kvm:
  - pkg/kvm/**

pkg-delphi:
  - pkg/delphi/**

pkg-crypto:
  - pkg/crypto/**

pkg-hecate:
  - pkg/hecate/**
  - cmd/hecate/**

pkg-ldap:
  - pkg/ldap/**

pkg-mattermost:
  - pkg/mattermost/**

pkg-platform:
  - pkg/platform/**

pkg-utils:
  - pkg/utils/**
  - pkg/shared/**
  - pkg/logger/**

pkg-other:
  - pkg/**

ci:
  - .github/workflows/**
  - .github/labeler.yml
  - .github/dependabot.yml

dependencies:
  - go.mod
  - go.sum
  - Dockerfile
  - docker-compose.yml

policies:
  - policies/**
sql:
  - sql/**
