Repository CodeMonkeyCybersecurity/eos, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, cli, ansible, scripts, pkg-container, pkg-vault, pkg-kvm, pkg-delphi, pkg-crypto, pkg-hecate, pkg-ldap, pkg-mattermost, pkg-platform, pkg-utils, pkg-other, ci, dependencies, policies, sql

fix(openwebui): Use URL-safe passwords for ALL generated secrets
  pkg/delphi/secure.go
  pkg/dev_environment/code_server.go
  pkg/openwebui/install.go
Labels: pkg-delphi, pkg-other

refactor: simplify URL-safe password generator to use alphanumeric-only chars for better compatibility
  pkg/crypto/passwd.go
Labels: pkg-crypto, pkg-other

feat: add GetStats method to retrieve repository statistics and metrics
  cmd/list/backups.go
  pkg/backup/client.go
Labels: cli, pkg-other

feat: add environment variable support and improve vault configuration validation
  pkg/execute/execute.go
  pkg/execute/types.go
  pkg/vault/config_validator.go
  pkg/vault/install.go
  pkg/vault/phase6a_init.go
  pkg/vault/vault-complete-specification.md
  pkg/vault/vault-critical-checks.md
Labels: documentation, pkg-vault, pkg-other

feat: enhance vault port diagnostics with lsof and improved error handling
  pkg/debug/vault/diagnostics.go
  pkg/vault/config_validator.go
Labels: pkg-vault, pkg-other

refactor: add structured config validation with detailed error types and field-level checks
  pkg/vault/config_validator.go
  pkg/vault/config_validator_test.go
  pkg/vault/historical_issues_regression_test.go
Labels: pkg-vault, pkg-other

feat: add comprehensive permission and service config diagnostics for vault
  pkg/debug/vault/diagnostics.go
Labels: pkg-other

fix: ensure parent directory has correct permissions before vault data directory creation
  pkg/debug/vault/diagnostics.go
  pkg/vault/install.go
Labels: pkg-vault, pkg-other

refactor: improve vault installation with atomic directory operations and granular readiness checks
  pkg/vault/install.go
Labels: pkg-vault, pkg-other

refactor: use shared constants for Vault port configuration instead of hardcoded values
  pkg/vault/hardening.go
  pkg/vault/phase8_health_check.go
  pkg/vault/preflight_checks.go
Labels: pkg-vault, pkg-other

fix: enforce 0600 permissions on vault agent token file and require vault.service
  pkg/shared/vault_agent.go
  pkg/vault/agent_lifecycle.go
Labels: pkg-vault, pkg-utils, pkg-other

refactor: remove build command files and consolidate into new package structure
  cmd/build/build.go
  cmd/check/check.go
  cmd/config/config.go
  cmd/create/all.go
  cmd/create/app.go
  cmd/create/clean.go
  cmd/create/component.go
  cmd/create/create.go
  cmd/create/env.go
  cmd/create/secrets.go
  cmd/create/service.go
  cmd/create/stack.go
  cmd/create/validate.go
  cmd/create/vault_raft.go
  cmd/delete/config.go
  cmd/delete/env.go
  cmd/deploy/deploy.go
  cmd/env/apply.go
  cmd/env/env.go
  cmd/env/update.go
  cmd/env/use.go
  cmd/list/authentik.go
  cmd/list/config.go
  cmd/list/env.go
  cmd/list/list.go
  cmd/list/vault.go
  cmd/read/config.go
  cmd/read/env.go
  cmd/root.go
  cmd/update/config.go
  cmd/update/env.go
  cmd/update/update.go
Labels: cli

fix: use dynamic port for vault health check instead of hardcoded value
  pkg/debug/vault/diagnostics.go
Labels: pkg-other

docs: remove checkmark emojis from documentation
  OPENWEBUI_DEPLOYMENT_READY.md
  OPENWEBUI_GENERATED_FILES_EXAMPLE.md
  OPENWEBUI_LITELLM_REVIEW.md
  OPENWEBUI_PORT_VERIFICATION.md
  cmd/create/secrets.go
  cmd/create/vault_raft.go
  cmd/debug/openwebui.go
  cmd/update/vault_cluster.go
  pkg/vault/COMPLIANCE_AUDIT.md
  pkg/vault/CONSOLIDATION_PLAN.md
  pkg/vault/RAFT_MIGRATION_SUMMARY.md
  pkg/vault/cluster_operations.go
  pkg/vault/config_validator.go
  pkg/vault/install.go
  pkg/vault/phase3_tls_cert.go
  pkg/vault/raft-vs-file-architecture.md
  pkg/vault/tls_certificate.go
  pkg/vault/tls_raft.go
  pkg/vault/vault-complete-specification-v1.0-raft-integrated.md
  pkg/vault/vault-critical-checks.md
  pkg/vault/vault-documentation-navigation-guide.md
  pkg/vault/vault-documentation-update-summary.md
Labels: documentation, cli, pkg-vault, pkg-other

fix(vault): respect --force flag for TLS certificate regeneration
  VAULT_TLS_FIX.md
  pkg/vault/CONSOLIDATION_PLAN_V2.md
  pkg/vault/install.go
Labels: documentation, pkg-vault, pkg-other

docs: add detailed phase documentation for Vault installation and enablement process
  cmd/create/secrets.go
  pkg/bootstrap/orchestrator.go
  pkg/vault/config_validator.go
  pkg/vault/install.go
  pkg/vault/lifecycle2_enable.go
  pkg/vault/phase1_install.go
Labels: cli, pkg-vault, pkg-other

refactor: remove bootstrap commands and consolidate into new architecture
  cmd/bootstrap/all.go
  cmd/bootstrap/bootstrap.go
  cmd/bootstrap/bootstrap_enhanced.go
  cmd/bootstrap/core.go
  cmd/bootstrap/nomad.go
  cmd/bootstrap/osquery.go
  cmd/bootstrap/vault.go
Labels: cli

refactor: remove bootstrap system and its dependencies
  CLAUDE.md
  cmd/create/consul.go
  cmd/root.go
  pkg/bootstrap/check.go
  pkg/bootstrap/checkpoint.go
  pkg/bootstrap/common.go
  pkg/bootstrap/common_test.go
  pkg/bootstrap/conflict_resolution.go
  pkg/bootstrap/detector.go
  pkg/bootstrap/discovery_server.go
  pkg/bootstrap/enhanced_errors.go
  pkg/bootstrap/environment_setup.go
  pkg/bootstrap/hardening_safety.go
  pkg/bootstrap/hashicorp_bootstrap.go
  pkg/bootstrap/health_check.go
  pkg/bootstrap/idempotent.go
  pkg/bootstrap/integration.go
  pkg/bootstrap/orchestrator.go
  pkg/bootstrap/orchestrator_test.go
  pkg/bootstrap/registration.go
  pkg/bootstrap/roles.go
  pkg/bootstrap/safety.go
  pkg/bootstrap/service_health.go
  pkg/bootstrap/service_manager.go
  pkg/bootstrap/service_manager_test.go
  pkg/bootstrap/state_detection.go
  pkg/bootstrap/state_validator.go
  pkg/bootstrap/storage_integration.go
  pkg/bootstrap/system_bootstrap.go
  pkg/bootstrap/system_bootstrap_test.go
  pkg/bootstrap/validation.go
  pkg/eos_cli/wrap.go
Labels: documentation, cli, pkg-other

feat: add TLS skip verification and improved logging for vault health checks
  pkg/vault/install.go
Labels: pkg-vault, pkg-other

refactor: simplify vault deletion confirmation flow and rename --force flag to --yes
  cmd/delete/vault.go
Labels: cli

fix: clean up Vault environment variables during health check to avoid CACERT conflicts
  pkg/vault/install.go
  pkg/vault/phase3_tls_cert.go
Labels: pkg-vault, pkg-other

refactor: update vault functions to use RuntimeContext instead of raw context
  cmd/read/secrets.go
  pkg/vault/agent_lifecycle.go
  pkg/vault/auth.go
  pkg/vault/phase5_start_service.go
  pkg/vault/print.go
  pkg/vault/raft_helpers.go
  pkg/vault/secure_init_reader.go
  pkg/vault/security_helpers.go
  pkg/vault/util_check.go
  pkg/vault/util_fallback.go
  pkg/vault/util_kv_v2.go
  pkg/vault/util_read.go
  pkg/vault/util_write.go
Labels: cli, pkg-vault, pkg-other

refactor: use VAULT_SKIP_VERIFY instead of VAULT_CACERT for self-signed certificates
  pkg/vault/auth_bypass_test.go
  pkg/vault/credential_exposure_test.go
  pkg/vault/phase2_env_setup.go
Labels: pkg-vault, pkg-other

feat: add TLS skip verification for self-signed vault certificates during installation
  pkg/vault/installer_helpers.go
Labels: pkg-vault, pkg-other

feat: add Raft cluster mode configuration with join/create options for Vault installation
  pkg/vault/install.go
  pkg/vault/installer_helpers.go
Labels: pkg-vault, pkg-other

refactor: migrate Vault cluster operations from CLI to SDK/API calls
  VAULT_LIFECYCLE_ANALYSIS.md
  cmd/create/secrets.go
  pkg/vault/cluster_operations.go
Labels: documentation, cli, pkg-vault, pkg-other

refactor: replace CLI-based Raft peer listing with Vault SDK/API implementation
  pkg/crypto/password_encryption.go
  pkg/vault/cluster_operations.go
  pkg/vault/key_distribution.go
  pkg/vault/phase6a_init.go
Labels: pkg-vault, pkg-crypto, pkg-other

feat: add database and PKI secrets engines with activity tracking support
  cmd/create/secrets.go
  pkg/crypto/password_encryption.go
  pkg/vault/key_distribution.go
  pkg/vault/lifecycle2_enable.go
  pkg/vault/phase9d_enable_secrets_engines.go
  pkg/vault/phase9e_enable_tracking.go
Labels: cli, pkg-vault, pkg-crypto, pkg-other

fix: align box borders in pre-deletion summary display
  pkg/vault/uninstall.go
Labels: pkg-vault, pkg-other

style: remove clipboard emoji from titles and prompts
  OPENWEBUI_LITELLM_REVIEW.md
  cmd/delete/vault.go
  cmd/read/check.go
  docs/archive/migration/REMAINING_MIGRATION_PLAN.md
  docs/archive/migration/VAULT_ADVERSARIAL_REVIEW.md
  docs/archive/migration/VAULT_REMOVAL_ANALYSIS.md
  pkg/vault/security_warnings.go
  pkg/vault/uninstall.go
  pkg/vault/vault-critical-checks.md
Labels: documentation, cli, pkg-vault, pkg-other

fix: remove newline from terminal prompt separator in vault deletion UI
  cmd/delete/vault.go
Labels: cli

fix: enable self-signed certificate support by setting VAULT_SKIP_VERIFY and removing force flag requirement
  VAULT_TLS_FIX.md
  pkg/debug/vault/diagnostics.go
  pkg/vault/client_context.go
  pkg/vault/phase2_env_setup.go
Labels: documentation, pkg-vault, pkg-other

feat: add kvm-upgrade command for resolving QEMU drift with package updates and VM reboots
  KVM_UPGRADE_FEATURE.md
  cmd/update/kvm.go
  pkg/kvm/guest_exec.go
  pkg/kvm/package_upgrade.go
  pkg/kvm/upgrade_and_reboot.go
Labels: documentation, cli, pkg-kvm, pkg-other

feat: enhance vault initialization with interactive credential backup flow and security prompts
  VAULT_INIT_UX_IMPROVEMENT.md
  pkg/vault/phase6b_unseal.go
Labels: documentation, pkg-vault, pkg-other

fix: correct logger parameter in NewSnapshotManager calls
  pkg/kvm/upgrade_and_reboot.go
Labels: pkg-kvm, pkg-other

fix: check both hex and base64 unseal key formats in verification
  pkg/vault/phase6b_unseal.go
Labels: pkg-vault, pkg-other

fix: allow retry when joining Raft cluster nodes
  cmd/create/secrets.go
Labels: cli

docs: remove emoji characters from markdown and command output
  VAULT_INIT_UX_IMPROVEMENT.md
  VAULT_LIFECYCLE_ANALYSIS.md
  VAULT_TLS_FIX.md
  cmd/create/nomad_terraform.go
  cmd/create/stack.go
  cmd/debug/watchdog_traces.go
  cmd/list/cluster_nodes.go
  cmd/list/vault.go
  cmd/promote/approve.go
  cmd/promote/stack.go
  cmd/read/environment.go
  cmd/self/secrets.go
  cmd/update/wazuh_agents.go
  pkg/authentik/extract.go
  pkg/authentik/import.go
  pkg/backup/read.go
  pkg/database_management/authc.go
  pkg/delphi/agents/mapping.go
  pkg/enrollment/logging.go
  pkg/nomad/deploy.go
  pkg/openstack/display/summary.go
  pkg/openstack/interactive.go
  pkg/penpot/crud.go
  pkg/pipeline/services.go
  pkg/pipeline/services/logs.go
  pkg/ubuntu/mfa_atomic.go
  pkg/ubuntu/secure_enhanced.go
  pkg/vault/CONSOLIDATION_PLAN.md
  pkg/vault/CONSOLIDATION_PLAN_V2.md
  pkg/vault/export_display.go
  pkg/vault/install.go
  pkg/vault/phase6b_unseal.go
  pkg/vault/secrets/credentials.go
  pkg/vault/secrets/database.go
  pkg/vault/security_warnings.go
  scripts/auto-commit.sh
  scripts/comprehensive-fuzz-runner.sh
  scripts/overnight-fuzz-simple.sh
  scripts/overnight-fuzz.sh
Labels: documentation, cli, scripts, pkg-vault, pkg-delphi, pkg-other

fix: create audit log directory with proper permissions before enabling Vault audit
  pkg/shared/vault_server.go
  pkg/vault/phase12_enable_audit.go
Labels: pkg-vault, pkg-utils, pkg-other

feat: add idempotent vault enablement with state checking
  VAULT_IDEMPOTENCY_DESIGN.md
  pkg/vault/enablement_state.go
  pkg/vault/lifecycle2_enable.go
Labels: documentation, pkg-vault, pkg-other

.github/labeler.yml:

# Top-level docs
documentation:
  - README.md
  - SECURITY.md
  - LICENSE.*
  - '**/*.md'

cli:
  - main.go
  - cmd/**
  - policies/**
  - sql/**

ansible:
  - ansible/**

scripts:
  - scripts/**
  - install.sh
  - installGoAndGhOnRhel.sh
  - setupGo.sh
  - uninstall.sh
  - install.ps1

pkg-container:
  - pkg/container/**
  - pkg/docker/**

pkg-vault:
  - pkg/vault/**

pkg-kvm:
  - pkg/kvm/**

pkg-delphi:
  - pkg/delphi/**

pkg-crypto:
  - pkg/crypto/**

pkg-hecate:
  - pkg/hecate/**
  - cmd/hecate/**

pkg-ldap:
  - pkg/ldap/**

pkg-mattermost:
  - pkg/mattermost/**

pkg-platform:
  - pkg/platform/**

pkg-utils:
  - pkg/utils/**
  - pkg/shared/**
  - pkg/logger/**

pkg-other:
  - pkg/**

ci:
  - .github/workflows/**
  - .github/labeler.yml
  - .github/dependabot.yml

dependencies:
  - go.mod
  - go.sum
  - Dockerfile
  - docker-compose.yml

policies:
  - policies/**
sql:
  - sql/**
