Repository CodeMonkeyCybersecurity/eos, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, cli, ansible, scripts, pkg-container, pkg-vault, pkg-kvm, pkg-delphi, pkg-crypto, pkg-hecate, pkg-ldap, pkg-mattermost, pkg-platform, pkg-utils, pkg-other, ci, dependencies, policies, sql

.github/labeler.yml:

# Top-level docs
documentation:
  - README.md
  - SECURITY.md
  - LICENSE.*
  - '**/*.md'

cli:
  - main.go
  - cmd/**
  - policies/**
  - sql/**

ansible:
  - ansible/**

scripts:
  - scripts/**
  - install.sh
  - installGoAndGhOnRhel.sh
  - setupGo.sh
  - uninstall.sh
  - install.ps1

pkg-container:
  - pkg/container/**
  - pkg/docker/**

pkg-vault:
  - pkg/vault/**

pkg-kvm:
  - pkg/kvm/**

pkg-delphi:
  - pkg/delphi/**

pkg-crypto:
  - pkg/crypto/**

pkg-hecate:
  - pkg/hecate/**
  - cmd/hecate/**

pkg-ldap:
  - pkg/ldap/**

pkg-mattermost:
  - pkg/mattermost/**

pkg-platform:
  - pkg/platform/**

pkg-utils:
  - pkg/utils/**
  - pkg/shared/**
  - pkg/logger/**

pkg-other:
  - pkg/**

ci:
  - .github/workflows/**
  - .github/labeler.yml
  - .github/dependabot.yml

dependencies:
  - go.mod
  - go.sum
  - Dockerfile
  - docker-compose.yml

policies:
  - policies/**
sql:
  - sql/**

fuzz cont
  docs/FUZZING_QUALITY_CHECKS.md
  docs/PRECOMMIT_CHECKLIST.md
  docs/PREEXISTING_ISSUES.md
  pkg/fuzzing/configure.go
  pkg/fuzzing/configure_test.go
  pkg/fuzzing/install.go
  pkg/fuzzing/install_test.go
  pkg/fuzzing/runner.go
  pkg/fuzzing/runner_test.go
  pkg/fuzzing/test_helpers.go
  pkg/fuzzing/verify.go
  pkg/fuzzing/verify_test.go
Labels: documentation, pkg-other

updates
  CLAUDE.md
  docs/FUZZING_QUALITY_CHECKS.md
  docs/PRECOMMIT_CHECKLIST.md
  docs/PREEXISTING_ISSUES.md
  pkg/fuzzing/configure.go
  pkg/fuzzing/types.go
  pkg/infrastructure/vault/client_test.go
  pkg/security_permissions/fuzz_test.go
  pkg/security_permissions/manager_test.go
Labels: documentation, pkg-other

tests
  pkg/eos_io/secure_input.go
  pkg/eos_io/secure_input_fuzz_test.go
  pkg/fuzzing/types.go
  pkg/ldap/ldap.go
  pkg/ldap/ldap_fuzz_test.go
  pkg/shared/file_operations.go
  pkg/shared/file_operations_fuzz_test.go
  pkg/shared/network_input_fuzz_test.go
  pkg/shared/validation.go
Labels: pkg-ldap, pkg-utils, pkg-other

testing
  pkg/execute/command_injection_fuzz_test.go
  pkg/shared/api_input_fuzz_test.go
  pkg/shared/config_fuzz_test.go
Labels: pkg-utils, pkg-other

fuxx results
  pkg/enrollment/config.go
  pkg/eos_io/secure_input.go
  pkg/shared/config_fuzz_test.go
  pkg/shared/crypto_input_fuzz_test.go
  pkg/shared/enhanced_input_validation_fuzz_test.go
  pkg/shared/network_input_fuzz_test.go
  pkg/shared/security_validators.go
Labels: pkg-utils, pkg-other

surprise
  SURPRISING_CODE_ANALYSIS.md
  cmd/create/clusterfuzz.go
  cmd/ragequit/ragequit_test.go
  cmd/read/database_status.go
  pkg/crypto/pq/mlkem_test.go
  pkg/delphi/agent.go
  pkg/eos_io/secure_input_fuzz_test.go
  pkg/eos_postgres/postgres.go
  pkg/shared/api_input_fuzz_test.go
  pkg/storage_monitor/contention.go
  pkg/utils/download.go
  pkg/vault/client_management_test.go
  pkg/vault/client_test.go
  pkg/vault/credential_store.go
  pkg/vault/phase8_health_check.go
  pkg/vault/secret_operations_test.go
  pkg/xdg/credentials.go
  pkg/xdg/credentials_file_deprecated.go
  pkg/xdg/credentials_test.go
  pkg/xdg/credentials_vault_test.go
  pkg/xdg/xdg_test.go
Labels: documentation, cli, pkg-vault, pkg-delphi, pkg-crypto, pkg-utils, pkg-other

~38 remaining manager functions
  cmd/create/grafana.go
  cmd/create/guacamole.go
  cmd/create/hecate.go
  cmd/create/kvm_qemu_guest.go
  cmd/create/loki.go
  cmd/create/mattermost.go
  cmd/create/tailscale.go
  cmd/list/containers.go
  cmd/read/container_compose.go
  cmd/update/containers.go
  pkg/container_management/containers.go
  pkg/privilege_check/privileges.go
  pkg/service_installation/services.go
  pkg/service_installation/types.go
  pkg/zfs_management/zfs.go
Labels: cli, pkg-other

cont
  pkg/backup/file_backup/backup.go
  pkg/backup/file_backup/types.go
  pkg/crypto/key_management.go
  pkg/crypto/random_operations.go
  pkg/crypto/secure_operations.go
  pkg/fileops/safe_operations.go
  pkg/sysinfo/platform_detector.go
  pkg/sysinfo/types.go
  pkg/vault/composite_secret_store.go.disabled
  pkg/vault/composite_secret_store_test.go.disabled
  pkg/vault/fallback_secret_store.go.disabled
Labels: pkg-vault, pkg-crypto, pkg-other

cont
  pkg/domain/types.go
  pkg/vault/api_secret_store.go
  pkg/vault/audit_repository.go
  pkg/vault/auth_approle.go
  pkg/vault/auth_provider.go
  pkg/vault/auth_userpass.go
  pkg/vault/client.go
  pkg/vault/client_context.go
  pkg/vault/composite_secret_store.go.disabled
  pkg/vault/composite_secret_store_test.go.disabled
  pkg/vault/config_repository.go
  pkg/vault/fallback_secret_store.go.disabled
  pkg/vault/phase6a_init.go
  pkg/vault/phase6b_unseal.go
  pkg/vault/phase7a_enable_api_client.go
  pkg/vault/tls.go
  pkg/vault/types.go
  pkg/vault/util_check.go
  pkg/vault/util_fallback.go
  pkg/vault/util_write.go
  pkg/vault/variables.go
  pkg/vault/vault_manager.go
Labels: pkg-vault, pkg-other

backups
  .gitignore
  cmd/backup/database.go
  cmd/backup/kvm.go
  cmd/create/cicd.go
  cmd/read/discovery.go
  pkg/cicd/clients.go
  pkg/cicd/pipeline_engine.go
  pkg/cicd/pipeline_store.go
  pkg/cicd/status_tracker.go
  pkg/cicd/webhook_manager.go
  pkg/database_management/backup.go
  pkg/discovery/runzero_internal.go
  pkg/kvm/snapshot.go
Labels: cli, pkg-kvm, pkg-other

hecaet
  cmd/create/hecate_backend.go
  cmd/create/hecate_route.go
  cmd/delete/hecate_backend.go
  cmd/delete/hecate_route.go
  cmd/list/hecate_routes.go
  cmd/read/hecate_backend.go
  cmd/read/hecate_health.go
  cmd/read/hecate_route.go
  cmd/update/hecate_route.go
  pkg/hecate/api/handlers.go
  pkg/hecate/api/models.go
  pkg/hecate/client.go
  pkg/hecate/configure_helpers.go
  pkg/hecate/consul/federation.go
  pkg/hecate/consul/mesh_gateway.go
  pkg/hecate/hybrid/diagnostics.go
  pkg/hecate/hybrid/discovery.go
  pkg/hecate/hybrid/health.go
  pkg/hecate/hybrid/networking.go
  pkg/hecate/hybrid/security.go
  pkg/hecate/hybrid/troubleshooting.go
  pkg/hecate/hybrid/types.go
  pkg/hecate/install_helpers.go
  pkg/hecate/monitoring/metrics.go
  pkg/hecate/route.go
  pkg/hecate/routes.go
  pkg/hecate/state/reconciler.go
  pkg/hecate/temporal/workflows.go
  pkg/hecate/types.go
  pkg/hecate/upstream.go
  pkg/hecate/validation.go
  pkg/hecate/verify_helpers.go
Labels: cli, pkg-hecate, pkg-other

consul
  pkg/consul/bootstrap.go
  pkg/consul/install.go
  pkg/consul/preflight.go
  pkg/consul/types.go
Labels: pkg-other

consul fix
  pkg/consul/install.go
  pkg/consul/preflight.go
  pkg/consul/setup/system.go
  pkg/hecate/consul/federation.go
  pkg/hecate/consul/mesh_gateway.go
Labels: pkg-hecate, pkg-other

lint, consul
  cmd/backup/list.go
  cmd/update/rollback.go
  pkg/backup/file_backup/backup.go
  pkg/build/builder.go
  pkg/consul/setup/system.go
  pkg/environments/manager.go
  pkg/httpclient/client.go
  pkg/monitoring/health_checkers.go
  pkg/monitoring/manager.go
  pkg/security/credentials.go
  pkg/service_installation/grafana.go
Labels: cli, pkg-other

consul
  pkg/consul/setup/system.go
  pkg/consul/systemd/service.go
  pkg/execute/execute.go
Labels: pkg-other

verbosity
  pkg/consul/service/manager.go
Labels: pkg-other

consul
  pkg/consul/service/manager.go
Labels: pkg-other

sysgtemd
  pkg/consul/service/manager.go
  pkg/consul/systemd/service.go
Labels: pkg-other

debug
  cmd/debug/consul.go
  cmd/debug/debug.go
  cmd/root.go
  pkg/consul/debug/checks.go
  pkg/consul/debug/diagnostics.go
  pkg/consul/debug/interventions.go
Labels: cli, pkg-other

ports
  cmd/create/cicd.go
  cmd/create/clusterfuzz.go
  cmd/debug/consul.go
  pkg/cicd/types.go
  pkg/consul/debug/checks.go
  pkg/consul/debug/interventions.go
  pkg/consul/display/summary.go
  pkg/consul/enhanced_integration.go
  pkg/consul/security.go
  pkg/consul/types.go
  pkg/deploy/types.go
  pkg/enrollment/types.go
  pkg/environments/types.go
  pkg/hecate/consul/mesh_gateway.go
  pkg/hecate/hybrid/discovery.go
  pkg/nomad/deploy.go
  pkg/wazuh_mssp/configure.go
Labels: cli, pkg-hecate, pkg-other

docs
  docs/archive/MINIO_DEPLOYMENT_ANALYSIS.md
  docs/components/HECATE.md
  docs/components/hecate-complete.md
  docs/components/wazuh-mssp-complete.md
  pkg/minio/templates/variables.tf.tmpl
  pkg/terraform/consul_templates.go
  salt/states/hashicorp/vault/config.sls
  salt/states/minio/files/terraform/variables.tf.jinja
  salt/states/minio/terraform_generator.sls
Labels: documentation, pkg-other

consul form
  cmd/create/consul_orchestrated.go
  cmd/create/example_graduated_deployment.go
  eos-test
  pkg/consul/crypto.go
  pkg/deploy/strategy/base.go
  pkg/deploy/strategy/direct.go
  pkg/deploy/strategy/factory.go
  pkg/deploy/strategy/full_stack_deployer.go.disabled
  pkg/deploy/strategy/salt_deployer.go
  pkg/deploy/strategy/salt_nomad_deployer.go.disabled
  pkg/deploy/strategy/types.go
  pkg/orchestrator/errors.go
  pkg/orchestrator/interface.go
  pkg/orchestrator/nomad/client.go
  pkg/orchestrator/pipeline.go
  pkg/orchestrator/salt/client.go
  pkg/orchestrator/salt/state_generator.go
  pkg/orchestrator/terraform/provider.go
  salt/consul/files/consul.hcl.j2
  salt/consul/files/consul.service.j2
  salt/consul/init.sls
Labels: cli, pkg-other

feat: enhance MinIO deployment with comprehensive preflight checks and Vault integration
  pkg/minio/configure.go
  pkg/minio/deployer.go
  pkg/minio/install.go
  pkg/minio/types.go
  pkg/minio/verify.go
  pkg/platform/version_resolver.go
Labels: pkg-platform, pkg-other

eos bootstramp && nuke
  .gitignore
  cmd/bootstrap/bootstrap.go
  cmd/create/bootstrap.go
  cmd/create/quickstart.go
  cmd/delete/nuke.go
  cmd/list/all.go
  cmd/nuke/nuke.go
  cmd/read/status.go
  cmd/read/verify.go
  cmd/root.go
  pkg/bootstrap/osquery.go
  pkg/bootstrap/salt.go
  pkg/bootstrap/types.go
  pkg/bootstrap/vault.go
  pkg/eos_cli/cli.go
  pkg/eos_cli/cli_test.go
  pkg/hashicorp/helpers.go
  pkg/prompt/prompt.go
  pkg/state/tracker.go
  pkg/terraform/check.go
Labels: cli, pkg-other

rm eos user
  go.mod
  go.sum
  pkg/vault/agent_lifecycle.go
  pkg/vault/auth_approle.go
  pkg/vault/phase10a_enable_userpass.go
  pkg/vault/phase13_write_agent_config.go
  pkg/vault/phase14_start_agent_and_validate.go
  pkg/vault/phase2_env_setup.go
  pkg/vault/phase3_tls_cert.go
  pkg/vault/phase5_start_service.go
  pkg/vault/phase8_health_check.go
Labels: pkg-vault, pkg-other, dependencies

rm eos user cont...
  cmd/delete/nuke.go
  pkg/shared/vault_agent.go
  pkg/shared/vault_server.go
Labels: cli, pkg-utils, pkg-other

salt vault
  cmd/create/bootstrap.go
  cmd/create/hashicorp.go
  cmd/create/quickstart.go
  pkg/bootstrap/osquery.go
  pkg/bootstrap/salt.go
  pkg/bootstrap/types.go
  pkg/bootstrap/vault.go
  pkg/hashicorp/tools.go
  pkg/nomad/deploy.go
  pkg/nomad/salt_installer.go
  pkg/saltstack/client.go
  pkg/vault/salt_deployment.go
  salt/states/hashicorp/boundary.sls
  salt/states/hashicorp/consul.sls
  salt/states/hashicorp/init.sls
  salt/states/hashicorp/nomad/config.sls
  salt/states/hashicorp/nomad/init.sls
  salt/states/hashicorp/nomad/install.sls
  salt/states/hashicorp/nomad/service.sls
  salt/states/hashicorp/packer.sls
  salt/states/hashicorp/terraform.sls
  salt/states/hashicorp/vault/config_eos.sls
  salt/states/hashicorp/vault/eos_complete.sls
  salt/states/hashicorp/vault/init.sls
  salt/states/hashicorp/vault/initialize.sls
  salt/states/hashicorp/vault/install.sls
  salt/states/hashicorp/vault/service_eos.sls
  salt/states/hashicorp/vault/tls.sls
Labels: cli, pkg-vault, pkg-other

salt vault 2
  cmd/create/bootstrap.go
  cmd/delete/nuke.go
  pkg/saltstack/file_roots.go
  pkg/saltstack/simple_install.go
  salt/states/dependencies.sls
  salt/states/hashicorp/init.sls
  salt/states/hashicorp/vault/eos_complete.sls
  salt/states/hashicorp/vault/initialize.sls
  salt/states/hashicorp/vault/tls.sls
Labels: cli, pkg-other

debug
  cmd/delete/nuke.go
  pkg/state/tracker.go
Labels: cli, pkg-other

deletions
  cmd/delete/nuke.go
  pkg/hecate/removal.go
  pkg/hecate/removal_test.go
  pkg/hecate/saltstack_deploy.go
Labels: cli, pkg-hecate, pkg-other

ports
  cmd/create/cicd.go
  cmd/create/clusterfuzz.go
  cmd/create/penpot.go
  pkg/deploy/types.go
  pkg/shared/service_addresses.go
Labels: cli, pkg-utils, pkg-other

*.txt gitignore
  .gitignore
Labels: none

tests, eos create opensttack
  HARDCODED_PORTS_AUDIT.md
  cmd/create/grafana.go
  cmd/create/openstack.go
  cmd/create/postgres.go
  go.mod
  go.sum
  pkg/eos_postgres/postgres_fuzz_test.go
  pkg/eos_postgres/postgres_test.go
  pkg/fileops/fileops_fuzz_test.go
  pkg/fileops/fileops_test.go
  pkg/hecate/saltstack_deploy.go
  pkg/httpclient/httpclient_fuzz_test.go
  pkg/httpclient/httpclient_test.go
  pkg/openstack/checks.go
  pkg/openstack/configure.go
  pkg/openstack/detect.go
  pkg/openstack/display/summary.go
  pkg/openstack/identity.go
  pkg/openstack/install.go
  pkg/openstack/integrations.go
  pkg/openstack/interactive.go
  pkg/openstack/network.go
  pkg/openstack/orchestrator/salt.go
  pkg/openstack/orchestrator/terraform.go
  pkg/openstack/recovery.go
  pkg/openstack/services.go
  pkg/openstack/storage.go
  pkg/openstack/types.go
  pkg/openstack/utils.go
  pkg/openstack/verify.go
  pkg/shared/ports.go
  pkg/shared/vault_server.go
  pkg/system/security.go
  pkg/vault/constants.go
Labels: documentation, cli, pkg-vault, pkg-hecate, pkg-utils, pkg-other, dependencies

tests, eos create opensttack
  CLAUDE.md
  pkg/nomad/install.go
Labels: documentation, pkg-other

eos create nomad
  pkg/nomad/install.go
Labels: pkg-other

nomad
  pkg/hecate/saltstack_deploy.go
Labels: pkg-hecate, pkg-other

sizing, agents
  docs/AGENTS.md
  docs/SALTSTACK_SCALING.md
  go.mod
  pkg/hecate/saltstack_deploy.go
  pkg/sizing/README.md
  pkg/sizing/calculator.go
  pkg/sizing/calculator_test.go
  pkg/sizing/example_usage.go
  pkg/sizing/integration.go
  pkg/sizing/integration_example.go
  pkg/sizing/integration_interface_test.go
  pkg/sizing/integration_test.go
  pkg/sizing/postflight.go
  pkg/sizing/preflight.go
  pkg/sizing/types.go
  pkg/sizing/validator.go
  pkg/sizing/validator_test.go
  pkg/terraform/check.go
  pkg/terraform/providers.go
  pkg/terraform/validation.go
  pkg/terraform/validation_test.go
Labels: documentation, pkg-hecate, pkg-other, dependencies

Keycloak → Authentik
  cmd/read/auth_export.go
  cmd/update/users.go
  docs/SYSTEMATIC_HARDWARE_REQUIREMENTS.md
  pkg/bootstrap/system_bootstrap.go
  pkg/bootstrap/system_bootstrap_test.go
  pkg/eos_cli/execution_checks.go
  pkg/eos_cli/wrap.go
  pkg/hecate/lifecycle_create.go
  pkg/hecate/phase2_caddy.go
  pkg/hecate/phase5_authentik.go
  pkg/hecate/saltstack_deploy.go
  pkg/hecate/types_caddy.go
  pkg/hecate/types_docker.go
  pkg/hera/authentik_client.go
  pkg/hera/keycloak_client.go
  pkg/hera/types.go
  pkg/shared/ports.go
  pkg/sizing/README.md
  pkg/sizing/calculator_v2.go
  pkg/sizing/example_usage_v2.go
  pkg/sizing/hecate_integration.go
  pkg/sizing/requirements_database.go
  pkg/sizing/service_profiles.go
Labels: documentation, cli, pkg-hecate, pkg-utils, pkg-other

Complete Keycloak → Authentik Migration Complete K3s → Nomad Migration
  cmd/create/k3s.go
  cmd/create/k3s_caddy_nginx.go
  cmd/create/nomad.go
  cmd/create/nomad_terraform.go
  cmd/create/secrets_terraform_generators.go
  cmd/delete/k3s.go
  cmd/delete/nomad.go
  cmd/read/keycloak.go
  cmd/update/users.go
  pkg/container/k3s.go
  pkg/container/k3s_test.go
  pkg/hecate/phase5_keycloak.go
  pkg/hera/keycloak_client.go
  pkg/k3s/uninstall.go
  pkg/kubernetes/k3s.go
  pkg/nomad/job_generator.go
  pkg/nomad/job_types.go
  pkg/nomad/migration_manager.go
  pkg/nomad/salt_installer.go
  pkg/nomad/service_discovery.go
  pkg/nomad/templates.go
  pkg/terraform/k3s_caddy_nginx.go
  pkg/terraform/nomad_consul.go
  pkg/terraform/nomad_job_files.go
Labels: cli, pkg-container, pkg-hecate, pkg-other

gitignore
  .gitignore
Labels: none
