Repository CodeMonkeyCybersecurity/eos, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, cli, ansible, scripts, pkg-container, pkg-vault, pkg-kvm, pkg-delphi, pkg-crypto, pkg-hecate, pkg-ldap, pkg-mattermost, pkg-platform, pkg-utils, pkg-other, ci, dependencies, policies, sql

feat: Add comprehensive overnight fuzzing guide and enhance fuzz test runner
  assets/overnight-fuzz.sh
  docs/OVERNIGHT_FUZZING_GUIDE.md
  scripts/run-fuzz-tests.sh
Labels: documentation, scripts

feat: Enhance overnight fuzzing scripts for macOS compatibility and add comprehensive reporting
  assets/overnight-fuzz-simple.sh
  assets/overnight-fuzz.sh
Labels: none

feat: Add quick fuzzing validation script for essential tests and setup verification
  assets/quick-fuzz-validation.sh
  docs/OVERNIGHT_FUZZING_GUIDE.md
Labels: documentation

Add ClusterFuzz deployment templates and documentation
  CLAUDE.md
  cmd/create/clusterfuzz.go
  cmd/create/templates/clusterfuzz/README.md
  docs/commands/clusterfuzz.md
Labels: documentation, cli

Implement comprehensive input sanitization and validation
  CLAUDE.md
  docs/STACK.md
  go.mod
  pkg/eos_cli/wrap.go
  pkg/security/input_sanitizer.go
  pkg/security/input_sanitizer_fuzz_test.go
  pkg/security/input_sanitizer_test.go
Labels: documentation, pkg-other, dependencies

Implement SecureOutput for sanitized logging and add comprehensive tests
  cmd/list/commands.go
  docs/STACK.md
  docs/security/implementation-summary.md
  docs/security/secure-output-migration.md
  pkg/security/corpus_fuzz_test.go
  pkg/security/corpus_test.go
  pkg/security/input_sanitizer.go
  pkg/security/integration_test.go
  pkg/security/output.go
  pkg/security/output_test.go
  pkg/security/performance_test.go
Labels: documentation, cli, pkg-other

Implement feature X to enhance user experience and optimize performance
  docs/STACK.md
Labels: documentation

Add telemetry package for local Eos CLI usage statistics and performance metrics
  CLAUDE.md
  cmd/create/minio.go
  docs/PIPELINE.md
  docs/PIPELINE_README.md
  docs/PIPELINE_README_OLD.md
  docs/TELEMETRY.md
  pkg/minio/deployer.go
  pkg/minio/templates/main.tf.tmpl
  pkg/minio/templates/variables.tf.tmpl
Labels: documentation, cli, pkg-other

Refactor MinIO deployment logic and enhance error handling; add Nomad job template and Terraform outputs
  CLAUDE.md
  pkg/minio/deployer.go
  pkg/minio/templates/minio.nomad.hcl.tmpl
  pkg/minio/templates/outputs.tf.tmpl
  pkg/minio/templates/terraform.tfvars.tmpl
Labels: documentation, pkg-other

feat: Add SaltStack installation and configuration command
  CLAUDE.md
  cmd/create/saltstack.go
  pkg/saltstack/configure.go
  pkg/saltstack/install.go
  pkg/saltstack/types.go
  pkg/saltstack/verify.go
Labels: documentation, cli, pkg-other

refactor: Remove deprecated user management functions and streamline Ubuntu release detection
  cmd/refresh/eos_passwd.go
  cmd/refresh/vault.go
  install.sh
  pkg/eos_unix/user_eos.go
  pkg/platform/ubuntu_detector.go
  pkg/platform/ubuntu_detector_test.go
  pkg/saltstack/install.go
  pkg/saltstack/types.go
  pkg/vault/phase2_env_setup.go
  pkg/vault/util_read.go
Labels: cli, scripts, pkg-vault, pkg-platform, pkg-other

refactor: Remove unnecessary user setup steps from installation script
  install.sh
Labels: scripts

Please enter the commit message for your changes. Lines starting with '' will be ignored, and an empty message aborts the commit.
  CLAUDE.md
  cmd/create/saltstack.go
  pkg/platform/ubuntu_detector.go
  pkg/platform/version_resolver.go
  pkg/saltstack/install.go
  pkg/saltstack/types.go
  pkg/saltstack/version_aware_install.go
Labels: documentation, cli, pkg-platform, pkg-other

Please enter the commit message for your changes. Lines starting with '' will be ignored, and an empty message aborts the commit.
  cmd/create/saltstack.go
  pkg/saltstack/bootstrap_installer.go
  pkg/saltstack/installation_manager.go
  pkg/saltstack/version_aware_install.go
Labels: cli, pkg-other

modified: cmd/create/saltstack.go modified: pkg/saltstack/bootstrap_installer.go modified: pkg/saltstack/installation_manager.go new file: pkg/saltstack/local_package_installer.go
  cmd/create/saltstack.go
  pkg/saltstack/bootstrap_installer.go
  pkg/saltstack/installation_manager.go
  pkg/saltstack/local_package_installer.go
Labels: cli, pkg-other

Please enter the commit message for your changes. Lines starting with '' will be ignored, and an empty message aborts the commit.
  cmd/create/saltstack.go
  pkg/saltstack/bootstrap_installer.go
  pkg/saltstack/installation_manager.go
  pkg/saltstack/local_package_installer.go
  pkg/saltstack/simple_bootstrap_installer.go
  pkg/saltstack/simple_install.go
  pkg/saltstack/version_aware_install.go
Labels: cli, pkg-other

Please enter the commit message for your changes. Lines starting with '' will be ignored, and an empty message aborts the commit.
  cmd/create/saltstack.go
  pkg/saltstack/simple_bootstrap_installer.go
Labels: cli, pkg-other

Please enter the commit message for your changes. Lines starting with '' will be ignored, and an empty message aborts the commit.
  pkg/minio/deployer.go
  salt/states/minio.sls
  salt/states/minio/config.sls
  salt/states/minio/init.sls
  salt/states/minio/install.sls
  salt/states/minio/service.sls
  salt/states/minio/vault_policy.sls
Labels: pkg-other

Please enter the commit message for your changes. Lines starting with '' will be ignored, and an empty message aborts the commit.
  .github/workflows/comprehensive-testing.yml
  docs/COMPREHENSIVE_TESTING_STRATEGY.md
  docs/MINIO_DEPLOYMENT_ANALYSIS.md
  pkg/minio/deployer_aligned.go
  pkg/saltstack/template_fuzz_test.go
  pkg/terraform/config_fuzz_test.go
  pkg/testing/property_based_test.go
  salt/states/minio/files/terraform/main.tf.jinja
  salt/states/minio/files/terraform/minio.nomad.hcl.jinja
  salt/states/minio/files/terraform/variables.tf.jinja
  salt/states/minio/terraform_generator.sls
  scripts/comprehensive-fuzz-runner.sh
  scripts/overnight-fuzz-simple.sh
  scripts/overnight-fuzz.sh
  scripts/quick-fuzz-validation.sh
  test/architecture_integration_fuzz_test.go
Labels: documentation, scripts, pkg-other, ci

Please enter the commit message for your changes. Lines starting with '' will be ignored, and an empty message aborts the commit.
  cmd/create/cephfs.go
  docs/FUZZING_REFACTORING_ANALYSIS.md
  scripts/README.md
  scripts/eos-fuzz-ci.sh
  scripts/eos-fuzz.sh
  scripts/run-fuzz-tests-legacy.sh
Labels: documentation, cli, scripts

Please enter the commit message for your changes. Lines starting with '' will be ignored, and an empty message aborts the commit.
  pkg/cephfs/configure.go
  pkg/cephfs/install.go
  pkg/cephfs/saltstack.go
  pkg/cephfs/terraform.go
  pkg/cephfs/types.go
  pkg/cephfs/types_test.go
  pkg/cephfs/verify.go
Labels: pkg-other

Please enter the commit message for your changes. Lines starting with '' will be ignored, and an empty message aborts the commit.
  pkg/cephfs/saltstack.go
  pkg/cephfs/types.go
  pkg/minio/deployer_aligned.go
  test/architecture_integration_fuzz_test.go
Labels: pkg-other

modified: comprehensive-fuzz-runner.sh
  scripts/comprehensive-fuzz-runner.sh
Labels: scripts

modified: scripts/comprehensive-fuzz-runner.sh
  scripts/comprehensive-fuzz-runner.sh
Labels: scripts

Fix comprehensive fuzz runner to work from correct directory
  scripts/comprehensive-fuzz-runner.sh
Labels: scripts

Please enter the commit message for your changes. Lines starting with '' will be ignored, and an empty message aborts the commit.
  scripts/comprehensive-fuzz-runner.sh
  scripts/eos-fuzz-ci.sh
  scripts/fuzz-preflight-common.sh
  scripts/overnight-fuzz-simple.sh
  scripts/overnight-fuzz.sh
  scripts/quick-fuzz-validation.sh
  scripts/run-fuzz-tests.sh
Labels: scripts

Please enter the commit message for your changes. Lines starting with '' will be ignored, and an empty message aborts the commit.
  assets/config/auto-commit.yaml
  cmd/self/git.go
  cmd/self/git_commit.go
  cmd/self/secrets.go
  docs/auto-commit-guide.md
  pkg/container/backup.go
  pkg/container/jenkins_test.go
  pkg/saltstack/configure.go
  scripts/auto-commit.sh
Labels: documentation, cli, scripts, pkg-container, pkg-other

Please enter the commit message for your changes. Lines starting with '' will be ignored, and an empty message aborts the commit.
  cmd/list/list-delphi-services.go
Labels: cli

feat: Add interactive prompts and enhanced logging to Hecate Terraform generation command
  .gitignore
  cmd/backup/restore-hecate.go
  cmd/backup/update.go
  cmd/backup/verify.go
  cmd/create/hecate_terraform.go
  cmd/self/git/deploy.go
  cmd/self/git/git.go
  cmd/self/git/info.go
  cmd/self/git/remote.go
  pkg/btrfs/compression.go
  pkg/btrfs/create.go
  pkg/cephfs/create.go
  pkg/cephfs/list.go
  pkg/cephfs/read.go
  pkg/eos_err/util.go
  pkg/lvm/lv.go
  pkg/lvm/pv.go
  pkg/lvm/vg.go
  pkg/storage_monitor/disk_usage.go
Labels: cli, pkg-other

(no commit message provided)
  cmd/create/storage_lvm.go
  cmd/self/git/remote.go
  pkg/btrfs/snapshot.go
  pkg/docker_volume/logs.go
  pkg/storage_monitor/contention.go
  pkg/storage_monitor/growth_tracking.go
  pkg/storage_monitor/io_metrics.go
  pkg/storage_monitor/types.go
Labels: cli, pkg-other

feat: add JSON and YAML output options for storage status command
  cmd/read/storage_status.go
  cmd/self/git/remote.go
Labels: cli

modified: cmd/self/git/remote.go
  cmd/self/git/remote.go
Labels: cli

fix: Add platform-specific access time handling for Linux/macOS compatibility
  pkg/storage_monitor/disk_usage.go
  pkg/storage_monitor/disk_usage_darwin.go
  pkg/storage_monitor/disk_usage_unix.go
Labels: pkg-other

Please enter the commit message for your changes. Lines starting with '' will be ignored, and an empty message aborts the commit.
  docs/STORAGE_OPS.md
  docs/eos-infrastructure-compiler.md
Labels: documentation

Please enter the commit message for your changes. Lines starting with '' will be ignored, and an empty message aborts the commit.
  cmd/create/storage_volume.go
  docs/UBUNTU_README.md
  go.mod
  go.sum
  pkg/storage/drivers_lvm.go
  pkg/storage/drivers_stubs.go
  pkg/storage/factory.go
  pkg/storage/filesystem.go
  pkg/storage/interfaces.go
  pkg/storage/manager_lvm.go
  pkg/storage/orchestrator.go
  pkg/storage/saltstack_adapter.go
  pkg/storage/types.go
  pkg/storage/types_constants.go
  pkg/storage/types_test.go
  pkg/storage/types_unified.go
  pkg/storage/utils.go
Labels: documentation, cli, pkg-other, dependencies

Please enter the commit message for your changes. Lines starting with '' will be ignored, and an empty message aborts the commit.
  go.mod
  go.sum
Labels: dependencies

Please enter the commit message for your changes. Lines starting with '' will be ignored, and an empty message aborts the commit.
  cmd/create/clusterfuzz.go
Labels: cli

fix: Enable list command in CLI by resolving package conflicts
  cmd/root.go
Labels: cli

Please enter the commit message for your changes. Lines starting with '' will be ignored, and an empty message aborts the commit.
  cmd/list/list.go
  cmd/update/ab_config.go
  cmd/update/authz.go
  cmd/update/services.go
Labels: cli

Please enter the commit message for your changes. Lines starting with '' will be ignored, and an empty message aborts the commit.
  PATTERN_TRANSFORMATION_PROGRESS.md
  cmd/list/storage.go
  cmd/self/enroll.go
  cmd/self/self.go
  cmd/update/pipeline_prompts.go
  cmd/update/update_test.go
  docs/BOOTSTRAP_ARCHITECTURE.md
  pkg/disk_management/manager.go
  pkg/enrollment/discover.go
  pkg/enrollment/inventory.go
  pkg/enrollment/network.go
  pkg/enrollment/salt.go
  pkg/enrollment/transition.go
  pkg/enrollment/types.go
  pkg/enrollment/verify.go
Labels: documentation, cli, pkg-other

.github/labeler.yml:

# Top-level docs
documentation:
  - README.md
  - SECURITY.md
  - LICENSE.*
  - '**/*.md'

cli:
  - main.go
  - cmd/**
  - policies/**
  - sql/**

ansible:
  - ansible/**

scripts:
  - scripts/**
  - install.sh
  - installGoAndGhOnRhel.sh
  - setupGo.sh
  - uninstall.sh
  - install.ps1

pkg-container:
  - pkg/container/**
  - pkg/docker/**

pkg-vault:
  - pkg/vault/**

pkg-kvm:
  - pkg/kvm/**

pkg-delphi:
  - pkg/delphi/**

pkg-crypto:
  - pkg/crypto/**

pkg-hecate:
  - pkg/hecate/**
  - cmd/hecate/**

pkg-ldap:
  - pkg/ldap/**

pkg-mattermost:
  - pkg/mattermost/**

pkg-platform:
  - pkg/platform/**

pkg-utils:
  - pkg/utils/**
  - pkg/shared/**
  - pkg/logger/**

pkg-other:
  - pkg/**

ci:
  - .github/workflows/**
  - .github/labeler.yml
  - .github/dependabot.yml

dependencies:
  - go.mod
  - go.sum
  - Dockerfile
  - docker-compose.yml

policies:
  - policies/**
sql:
  - sql/**
