Repository CodeMonkeyCybersecurity/eos, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, cli, ansible, scripts, pkg-container, pkg-vault, pkg-kvm, pkg-delphi, pkg-crypto, pkg-hecate, pkg-ldap, pkg-mattermost, pkg-platform, pkg-utils, pkg-other, ci, dependencies, policies, sql

.github/labeler.yml:

# Top-level docs
documentation:
  - README.md
  - SECURITY.md
  - LICENSE.*
  - '**/*.md'

cli:
  - main.go
  - cmd/**
  - policies/**
  - sql/**

ansible:
  - ansible/**

scripts:
  - scripts/**
  - install.sh
  - installGoAndGhOnRhel.sh
  - setupGo.sh
  - uninstall.sh
  - install.ps1

pkg-container:
  - pkg/container/**
  - pkg/docker/**

pkg-vault:
  - pkg/vault/**

pkg-kvm:
  - pkg/kvm/**

pkg-delphi:
  - pkg/delphi/**

pkg-crypto:
  - pkg/crypto/**

pkg-hecate:
  - pkg/hecate/**
  - cmd/hecate/**

pkg-ldap:
  - pkg/ldap/**

pkg-mattermost:
  - pkg/mattermost/**

pkg-platform:
  - pkg/platform/**

pkg-utils:
  - pkg/utils/**
  - pkg/shared/**
  - pkg/logger/**

pkg-other:
  - pkg/**

ci:
  - .github/workflows/**
  - .github/labeler.yml
  - .github/dependabot.yml

dependencies:
  - go.mod
  - go.sum
  - Dockerfile
  - docker-compose.yml

policies:
  - policies/**
sql:
  - sql/**

bootstrap
  cmd/backup/schedule.go
  cmd/bootstrap/bootstrap.go
  cmd/create/bootstrap.go
  cmd/create/bootstrap_enhanced.go
  cmd/create/clusterfuzz.go
  cmd/update/rollback.go
  cmd/update/ubuntu.go
  docs/ubuntu-hardening-fido2.md
  pkg/ubuntu/hardening_fido2.go
  pkg/vault/preflight_checks.go
Labels: documentation, cli, pkg-vault, pkg-other

hecate preflight
  pkg/hecate/preflight_checks.go
  pkg/hecate/preflight_checks_test.go
  pkg/hecate/saltstack_deploy.go
Labels: pkg-hecate, pkg-other

salt secrets
  pkg/hecate/preflight_checks.go
  pkg/hecate/preflight_checks_test.go
  pkg/hecate/saltstack_deploy.go
  pkg/hecate/secret_manager.go
  pkg/hecate/secret_manager_test.go
  pkg/hecate/terraform_integration_test.go
  salt/pillar/hecate/secrets.sls
  salt/pillar/top.sls
  salt/states/hecate/hybrid_secrets.sls
  salt/states/hecate/init.sls
Labels: pkg-hecate, pkg-other

feat: Major improvements to Hecate, AI, and documentation
  CLAUDE.md
  docs/essential-eight-compliance.md
  docs/hecate-cloud-deployment.md
  pkg/ai/config.go
  pkg/eos_err/user_friendly.go
  pkg/hecate/dns_challenge.go
  pkg/hecate/preflight_checks.go
  pkg/hecate/saltstack_deploy.go
  pkg/hecate/secret_manager.go
  salt/states/hecate/caddy/configure.sls
  salt/states/hecate/files/caddy/Caddyfile.j2
  salt/states/hecate/hybrid_secrets.sls
Labels: documentation, pkg-hecate, pkg-other

fix: Improve NAT detection for cloud deployments
  pkg/hecate/preflight_checks.go
Labels: pkg-hecate, pkg-other

feat: Add comprehensive Nomad debug command
  cmd/debug/nomad.go
Labels: cli

feat: Add comprehensive SaltStack debug command
  cmd/debug/saltstack.go
Labels: cli

fix: Improve debug commands and add interactive consent prompts
  cmd/debug/nomad.go
  cmd/debug/saltstack.go
  pkg/consul/install.go
  pkg/eos_io/consent.go
  pkg/hecate/preflight_checks.go
  pkg/nomad/deploy.go
Labels: cli, pkg-hecate, pkg-other

vault-salt
  cmd/bootstrap/all.go
  cmd/bootstrap/bootstrap.go
  cmd/bootstrap/nomad.go
  cmd/bootstrap/osquery.go
  cmd/bootstrap/salt.go
  cmd/bootstrap/vault.go
  cmd/create/bootstrap.go
  cmd/create/secrets.go
  cmd/create/vault_salt.go
  cmd/root.go
  cmd/update/secrets.go
  pkg/hashicorp/tools.go
  pkg/nomad/deploy.go
  pkg/nomad/preflight_checks.go
  pkg/terraform/preflight_checks.go
  pkg/vault/lifecycle1_create.go
  pkg/vault/phase1_install.go
  pkg/vault_salt/install.go
Labels: cli, pkg-vault, pkg-other

consul
  cmd/create/consul.go
  pkg/consul/install.go
  pkg/consul/install/binary.go
  salt/states/hashicorp/consul.sls
Labels: cli, pkg-other

eos create grafana
  CLAUDE.md
  cmd/create/grafana.go
  cmd/create/jenkins.go
  cmd/create/mattermost.go
  cmd/create/tools.go
  docs/ARCHITECTURE_SALTSTACK_NOMAD.md
  docs/AUTOMATIC_SECRET_ENVIRONMENT_MANAGEMENT.md
  docs/SALTSTACK_TERRAFORM_NOMAD_DEEP_DIVE.md
  docs/TERRAFORM_NOMAD_INTEGRATION.md
  docs/USER_EXPERIENCE_ABSTRACTION.md
  pkg/environment/discovery.go
  pkg/nomad_orchestrator/orchestrator.go
  pkg/nomad_orchestrator/types.go
  pkg/saltstack/utils.go
  pkg/secrets/manager.go
  salt/_modules/eos_terraform.py
  salt/states/nomad/services.sls
Labels: documentation, cli, pkg-other

salt grains
  cmd/create/bootstrap_enhanced.go
  cmd/list/cluster_nodes.go
  cmd/read/environment.go
  pkg/environment/discovery.go
  pkg/environment/enhanced_discovery.go
Labels: cli, pkg-other

containers
  cmd/create/penpot.go
  cmd/create/umami.go
Labels: cli

consul
  pkg/hecate/preflight_checks.go
Labels: pkg-hecate, pkg-other

helen
  cmd/create/helen.go
  docs/HELEN_INTEGRATION.md
  pkg/hecate/saltstack_deploy.go
  pkg/helen/ghost.go
  pkg/helen/hecate.go
  pkg/helen/helpers.go
  pkg/helen/integrations.go
  pkg/helen/types.go
  pkg/helen/webhook.go
  salt/_modules/eos_random.py
  salt/pillar/hecate/secrets.sls
  salt/pillar/top.sls
  salt/states/hecate/RANDOM_STRING_GENERATOR.md
  salt/states/hecate/test_bundle_deployment.sh
  salt/states/hecate_bundle.sls
  salt/states/helen/consul_register.sls
  salt/states/helen/docker_image.sls
  salt/states/helen/files/helen-ghost.nomad.jinja
  salt/states/helen/files/helen-static.nomad.jinja
  salt/states/helen/health_check.sls
  salt/states/helen/hecate_route.sls
  salt/states/helen/nomad_deploy.sls
  salt/states/helen/vault_secrets.sls
  salt/states/helen/volumes.sls
Labels: documentation, cli, pkg-hecate, pkg-other

salt vault, consul
  cmd/create/consul.go
  cmd/create/secrets.go
  cmd/create/vault_salt.go
  pkg/eos_cli/wrap.go
  pkg/hecate/client_terraform.go
  pkg/saltstack/client.go
  pkg/saltstack/utils.go
  pkg/vault/constants.go
  pkg/vault/salt_configure.go
  pkg/vault/salt_enable.go
  pkg/vault/salt_harden.go
  pkg/vault/salt_install.go
  pkg/vault/salt_verify.go
  pkg/vault/types.go
  pkg/vault_salt/types.go
Labels: cli, pkg-vault, pkg-hecate, pkg-other

fuzz results
  cmd/read/disk.go
  cmd/read/read.go
  cmd/rollback/disk_operation.go
  cmd/rollback/rollback.go
  cmd/update/storage_safe.go
  docs/testing/FUZZING_GUIDE.md
  pkg/disk_safety/inspect.go
  pkg/disk_safety/journal.go
  pkg/disk_safety/preflight.go
  pkg/disk_safety/rollback.go
  pkg/disk_safety/safe_operations.go
  pkg/disk_safety/snapshots.go
  pkg/disk_safety/types.go
  pkg/fuzzing/runner.go
  pkg/shared/enhanced_input_validation_fuzz_test.go
  pkg/shared/testdata/fuzz/FuzzPathTraversalValidation/5f3fb330b1b5c1c2
  pkg/shared/testdata/fuzz/FuzzPathTraversalValidation/63a51e7aef0df55a
  pkg/shared/testdata/fuzz/FuzzSQLInjectionDetection/90a51b49dd4f5c98
  pkg/shared/testdata/fuzz/FuzzSQLInjectionDetection/ed60e4ef70705cca
Labels: documentation, cli, pkg-utils, pkg-other

fuzzing cont
  docs/SECURITY_IMPROVEMENTS.md
  pkg/crypto/input_validation.go
  pkg/database_management/database.go
  pkg/database_management/manager.go
  pkg/database_management/security.go
  pkg/database_management/sql_injection_test.go
  pkg/execute/command_injection_fuzz_test.go
  pkg/execute/helpers.go
  pkg/security_testing/metrics.go
  pkg/security_testing/property_based_test.go
  pkg/shared/api_input_fuzz_test.go
  pkg/shared/enhanced_input_validation_fuzz_test.go
  pkg/vault/security_helpers.go
  scripts/security_fuzzing_suite.sh
Labels: documentation, scripts, pkg-vault, pkg-crypto, pkg-utils, pkg-other

consul
  salt/states/dependencies.sls
  salt/states/hashicorp/consul.sls
Labels: none

idempotent
  .gitignore
  CLAUDE.md
  assets/nomad/consul.nomad
  assets/nomad/elasticsearch.nomad
  assets/nomad/grafana.nomad
  assets/nomad/kibana.nomad
  assets/nomad/loki.nomad
  assets/nomad/mattermost.nomad
  assets/nomad/postgres.nomad
  assets/nomad/prometheus.nomad
  assets/nomad/redis.nomad
  assets/nomad/vault.nomad
  assets/nomad/wazuh.nomad
  clusterfuzz-config/jobs/clusterfuzz-bots.nomad
  clusterfuzz-config/jobs/clusterfuzz-core.nomad
  clusterfuzz-config/jobs/clusterfuzz-web.nomad
  cmd/create/consul.go
  cmd/delete/consul.go
  nomad/jobs/grafana.nomad
  nomad/jobs/jenkins.nomad
  pkg/consul/idempotency.go
  pkg/consul/remove.go
  salt/states/hashicorp/consul.sls
  salt/states/hashicorp/consul_remove.sls
  salt/states/hecate/files/nomad/authentik-server.nomad
  salt/states/hecate/files/nomad/authentik-worker.nomad
  salt/states/hecate/files/nomad/caddy.nomad
  salt/states/hecate/files/nomad/postgres.nomad
  salt/states/hecate/files/nomad/redis.nomad
Labels: documentation, cli, pkg-other

consul
  cmd/delete/consul.go
  salt/states/hashicorp/consul_remove.sls
Labels: cli

rest api salt
  cmd/create/consul.go
  cmd/create/nomad.go
  cmd/delete/consul.go
  cmd/delete/nomad.go
  go.mod
  pkg/nomad/rest_installer.go
  pkg/salt/README.md
  pkg/salt/client.go
  pkg/salt/client_test.go
  pkg/salt/types.go
  pkg/saltstack/install.go
  pkg/saltstack/rest_client.go
  salt/states/hashicorp/files/nomad.hcl.jinja
  salt/states/hashicorp/files/nomad.service
  salt/states/hashicorp/nomad.sls
  salt/states/hashicorp/nomad_preflight.sls
  salt/states/hashicorp/nomad_remove.sls
Labels: documentation, cli, pkg-other, dependencies

cheerypy
  cmd/create/boundary.go
  cmd/create/consul.go
  cmd/delete/boundary.go
  cmd/delete/consul.go
  examples/boundary-deployment.yaml
  pkg/boundary/README.md
  pkg/boundary/manager.go
  pkg/boundary/manager_test.go
  pkg/boundary/types.go
  pkg/saltstack/simple_install.go
Labels: documentation, cli, pkg-other

fixes
  pkg/saltstack/rest_client.go
Labels: pkg-other

api
  pkg/saltstack/file_roots.go
  pkg/saltstack/simple_install.go
  pkg/saltstack/verification_test.go
Labels: pkg-other

parsing
  pkg/saltstack/simple_install.go
  salt/states/hashicorp/vault/config_eos.sls
  salt/states/hashicorp/vault/initialize.sls
Labels: pkg-other

consolidate salt api
  cmd/create/consul.go
  cmd/create/consul_unified.go
  pkg/salt/unified/auth.go
  pkg/salt/unified/client.go
  pkg/salt/unified/config.go
  pkg/salt/unified/convenience.go
  pkg/salt/unified/execution.go
  pkg/salt/unified/factory.go
  pkg/salt/unified/idempotent.go
  pkg/salt/unified/interface.go
  pkg/salt/unified/types.go
  pkg/saltstack/client.go
  salt/states/hashicorp/vault/install.sls
Labels: cli, pkg-other

lint
  cmd/self/integration_test.go
  pkg/kubernetes/k3s.go
  pkg/salt/client.go
  pkg/system/service_operations_test.go
  pkg/testutil/scenarios.go
  pkg/users/operations_test.go
  pkg/vault/lifecycle1_create.go
Labels: cli, pkg-vault, pkg-other

remotedebug
  cmd/read/remote_debug.go
  docs/storage/BOOTSTRAP_STORAGE_OPS_IMPLEMENTATION.md
  docs/storage/STORAGE_OPERATIONS_IMPLEMENTATION.md
  docs/storage/STORAGE_OPS.md
  docs/storage/storage_ops.md
  pkg/remotedebug/analyzer.go
  pkg/remotedebug/diagnostics.go
  pkg/remotedebug/fixer.go
  pkg/remotedebug/interactive.go
  pkg/remotedebug/kernel_logs.go
  pkg/remotedebug/printer.go
  pkg/remotedebug/remotedebug.go
  pkg/remotedebug/ssh.go
  pkg/remotedebug/ssh_health.go
  pkg/remotedebug/types.go
  pkg/salt/client.go
Labels: documentation, cli, pkg-other

salt api
  cmd/create/consul_api.go
  docs/SALT_API_MIGRATION.md
  pkg/salt/api_client.go
  pkg/salt/examples/migration_example.go
  pkg/salt/factory.go
  pkg/salt/migration.go
  scripts/find-salt-cli-usage.sh
Labels: documentation, cli, scripts, pkg-other

bootstrap consul api
  cmd/bootstrap/bootstrap.go
  cmd/bootstrap/core.go
  cmd/create/consul.go
  cmd/create/consul_api.go
  cmd/create/nomad.go
  cmd/create/saltstack_enhanced.go
  docs/BOOTSTRAP_DESIGN.md
  docs/SALT_API_BOOTSTRAP_SOLUTION.md
  pkg/bootstrap/check.go
  pkg/saltstack/bootstrap_api.go
  pkg/saltstack/simple_install.go
Labels: documentation, cli, pkg-other

watchdog
  cmd/debug/debug.go
  cmd/debug/watchdog_traces.go
  cmd/root.go
  pkg/bootstrap/safety.go
  pkg/eos_cli/wrap.go
  pkg/salt/examples/migration_example.go
  pkg/watchdog/resource_watchdog.go
  pkg/watchdog/timer_watchdog.go
Labels: cli, pkg-other

bootstrap
  docs/BOOTSTRAP_HARDENING_SAFETY.md
  pkg/bootstrap/hardening_safety.go
  pkg/bootstrap/system_bootstrap.go
  pkg/eos_cli/wrap.go
Labels: documentation, pkg-other

bootstrap
  cmd/bootstrap/bootstrap.go
  cmd/create/bootstrap_enhanced.go
  pkg/bootstrap/detector.go
  pkg/eos_cli/wrap.go
Labels: cli, pkg-other

debug
  integration_test.go
Labels: none

integration
  cmd/self/test/integration.go
Labels: cli

debug
  cmd/self/self.go
  pkg/bootstrap/system_bootstrap.go
  pkg/eos_cli/wrap.go
Labels: cli, pkg-other

debug
  cmd/self/self.go
  pkg/eos_cli/wrap.go
Labels: cli, pkg-other

simplify bootstrap
  cmd/create/bootstrap_enhanced.go
  pkg/bootstrap/common.go
  pkg/bootstrap/detector.go
  pkg/bootstrap/integration.go
  pkg/bootstrap/orchestrator.go
  pkg/bootstrap/roles.go
  pkg/bootstrap/setup_salt_api.go
  pkg/bootstrap/validation.go
Labels: cli, pkg-other

salt bootstrap
  docs/BOOTSTRAP_IMPROVEMENTS.md
  pkg/bootstrap/check.go
  pkg/bootstrap/orchestrator.go
  pkg/bootstrap/salt_bootstrap.go
  pkg/bootstrap/setup_salt_api.go
Labels: documentation, pkg-other
