Repository CodeMonkeyCybersecurity/eos, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, cli, ansible, scripts, pkg-container, pkg-vault, pkg-kvm, pkg-delphi, pkg-crypto, pkg-hecate, pkg-ldap, pkg-mattermost, pkg-platform, pkg-utils, pkg-other, ci, dependencies, policies, sql

.github/labeler.yml:

# Top-level docs
documentation:
  - README.md
  - SECURITY.md
  - LICENSE.*
  - '**/*.md'

cli:
  - main.go
  - cmd/**
  - policies/**
  - sql/**

ansible:
  - ansible/**

scripts:
  - scripts/**
  - install.sh
  - installGoAndGhOnRhel.sh
  - setupGo.sh
  - uninstall.sh
  - install.ps1

pkg-container:
  - pkg/container/**
  - pkg/docker/**

pkg-vault:
  - pkg/vault/**

pkg-kvm:
  - pkg/kvm/**

pkg-delphi:
  - pkg/delphi/**

pkg-crypto:
  - pkg/crypto/**

pkg-hecate:
  - pkg/hecate/**
  - cmd/hecate/**

pkg-ldap:
  - pkg/ldap/**

pkg-mattermost:
  - pkg/mattermost/**

pkg-platform:
  - pkg/platform/**

pkg-utils:
  - pkg/utils/**
  - pkg/shared/**
  - pkg/logger/**

pkg-other:
  - pkg/**

ci:
  - .github/workflows/**
  - .github/labeler.yml
  - .github/dependabot.yml

dependencies:
  - go.mod
  - go.sum
  - Dockerfile
  - docker-compose.yml

policies:
  - policies/**
sql:
  - sql/**

feat: add sudo user detection and key ownership management in KVM utils
  pkg/kvm/utils.go
  pkg/terraform/kvm/simple_vm.go
Labels: pkg-kvm, pkg-other

refactor: move kvm package out of terraform directory
  pkg/kvm/cloud_init.go
  pkg/kvm/secure_vm.go
  pkg/kvm/simple_vm.go
Labels: pkg-kvm, pkg-other

refactor: complete kvm package refactoring and fix test utilities
  cmd/create/ubuntu_vm.go
  pkg/bootstrap/orchestrator_test.go
  pkg/kvm/cloud_init.go
  pkg/kvm/secure_vm.go
  pkg/kvm/simple_vm.go
  pkg/kvm/utils.go
  pkg/terraform/kvm/hcl_test.go
  pkg/terraform/kvm/utils.go
  pkg/testutil/context.go
Labels: cli, pkg-kvm, pkg-other

fix: correct SSH key generation format for ed25519 keys
  pkg/kvm/simple_vm.go
Labels: pkg-kvm, pkg-other

feat: add 'restart' as alias for 'update' command
  cmd/update/update.go
Labels: cli

feat: add KVM VM management with drift detection and safe restart
  cmd/list/kvm.go
  cmd/update/kvm.go
  go.mod
  go.sum
  pkg/kvm/inventory.go
  pkg/kvm/restart.go
Labels: cli, pkg-kvm, pkg-other, dependencies

fix: update libvirt Go bindings API usage and add dependency checks
  cmd/list/kvm.go
  cmd/self/self.go
  cmd/update/kvm.go
  install.sh
  pkg/kvm/inventory.go
  pkg/kvm/libvirt.go
  pkg/kvm/restart.go
  pkg/kvm/simple_vm.go
Labels: cli, scripts, pkg-kvm, pkg-other

fix: replace DOMAIN_METADATA_ELEMENT with simpler guest agent check
  pkg/kvm/inventory.go
Labels: pkg-kvm, pkg-other

fix: critical safety improvements and build tag system
  cmd/self/self.go
  install.sh
  pkg/kvm/inventory.go
  pkg/kvm/libvirt.go
  pkg/kvm/libvirt_stub.go
  pkg/kvm/restart.go
Labels: cli, scripts, pkg-kvm, pkg-other

docs: add comprehensive KVM testing guide
  KVM_TESTING.md
Labels: documentation

fix: move common types to separate files without build tags
  pkg/kvm/inventory.go
  pkg/kvm/libvirt.go
  pkg/kvm/restart.go
  pkg/kvm/types.go
  pkg/kvm/utils.go
Labels: pkg-kvm, pkg-other

feat: add KVM configuration types and size parsing utilities
  pkg/kvm/types.go
  pkg/kvm/utils.go
Labels: pkg-kvm, pkg-other

fix: improve pkg-config detection when running as root by using LookPath
  cmd/self/self.go
Labels: cli

refactor: remove libvirt build tag and stub implementation
  pkg/kvm/libvirt.go
  pkg/kvm/libvirt_stub.go
Labels: pkg-kvm, pkg-other

feat: make libvirt a required dependency and remove static build option
  cmd/self/self.go
  install.sh
  integration_security_test.go
  pkg/cicd/status_tracker.go
  pkg/kvm/inventory.go
  pkg/kvm/libvirt.go
  pkg/kvm/restart.go
Labels: cli, scripts, pkg-kvm, pkg-other

feat: add QEMU guest agent support with proper detection and channel configuration
  pkg/kvm/inventory.go
  pkg/kvm/orchestration/orchestrated_vm.go
  pkg/kvm/simple_vm.go
Labels: pkg-kvm, pkg-other

fix: exempt bootstrap commands from watchdog and improve process tree detection
  pkg/eos_cli/wrap.go
  pkg/kvm/inventory.go
  pkg/watchdog/resource_watchdog.go
Labels: pkg-kvm, pkg-other

feat: add debug logging for service detection methods
  pkg/bootstrap/service_manager.go
Labels: pkg-other

feat: use explicit network interface IP instead of GetPrivateIP for Consul binding
  pkg/consul/config/generator.go
  pkg/network/interface_detection.go
Labels: pkg-other

feat: add detailed debug logging for systemctl commands and service detection
  pkg/bootstrap/common.go
  pkg/bootstrap/service_manager.go
  pkg/execute/execute.go
Labels: pkg-other

docs: add retry logic and error handling guidelines for transient vs deterministic failures
  CLAUDE.md
  pkg/bootstrap/checkpoint.go
  pkg/bootstrap/common.go
  pkg/bootstrap/conflict_resolution.go
  pkg/bootstrap/discovery_server.go
  pkg/bootstrap/enhanced_errors.go
  pkg/bootstrap/health_check.go
  pkg/bootstrap/service_health.go
  pkg/bootstrap/service_manager.go
  pkg/bootstrap/state_detection.go
  pkg/bootstrap/storage_integration.go
  pkg/bootstrap/validation.go
Labels: documentation, pkg-other

feat: add error classification system with retry policy for operations
  pkg/bootstrap/common.go
  pkg/bootstrap/common_test.go
  pkg/consul/install.go
Labels: pkg-other

fix: update Consul ports to use EOS-specific ports (8161) instead of default (8500)
  pkg/bootstrap/discovery_server.go
  pkg/bootstrap/hashicorp_bootstrap.go
  pkg/bootstrap/orchestrator.go
  pkg/bootstrap/service_health.go
  pkg/bootstrap/state_detection.go
  pkg/consul/config/generator.go
  pkg/consul/config/types.go
  pkg/consul/install.go
  pkg/consul/installer_helpers.go
Labels: pkg-other

feat: add service log capture and config validation logging for better debugging
  pkg/bootstrap/service_health.go
  pkg/consul/config/generator.go
  pkg/consul/install.go
Labels: pkg-other

refactor: remove log rotation settings from Consul config template
  pkg/consul/config/generator.go
Labels: pkg-other

feat: add crash loop detection and recovery during consul config updates
  pkg/consul/install.go
Labels: pkg-other

feat: scan all HCL files in /etc/consul.d for deprecated directives and remove them
  pkg/consul/install.go
Labels: pkg-other

debug: add extensive logging to config scanning to diagnose why stale configs aren't detected
  pkg/consul/install.go
Labels: pkg-other

fix: call InstallConsul() when service is unhealthy + add execution tracing
  pkg/bootstrap/orchestrator.go
  pkg/consul/install.go
Labels: pkg-other

fix: P0 fixes from adversarial review - fix crash loops, race conditions, and checkpoint paths
  pkg/bootstrap/checkpoint.go
  pkg/bootstrap/orchestrator.go
  pkg/consul/install.go
Labels: pkg-other

feat: comprehensive adversarial review fixes - P0/P1/P2 improvements to bootstrap and consul install
  pkg/bootstrap/orchestrator.go
  pkg/consul/install.go
Labels: pkg-other

fix: critical checkpoint.go issues - file backup, atomic writes, rollback races, disk fill
  pkg/bootstrap/checkpoint.go
Labels: pkg-other

refactor: improve service reliability with flock-based locking and timeout handling
  pkg/bootstrap/orchestrator.go
  pkg/bootstrap/service_health.go
  pkg/consul/install.go
Labels: pkg-other

fix: P0-P2 priority issues in bootstrap and consul install
  pkg/bootstrap/common.go
  pkg/bootstrap/orchestrator.go
  pkg/consul/install.go
  pkg/consul/systemd/service.go
Labels: pkg-other

fix: P0-P3 critical issues in bootstrap and consul install
  pkg/bootstrap/common.go
  pkg/bootstrap/orchestrator.go
  pkg/bootstrap/service_health.go
  pkg/consul/config/generator.go
  pkg/consul/install.go
  pkg/consul/systemd/service.go
Labels: pkg-other

fix: P0-P3 issues round 2 - bugs introduced by previous fixes
  pkg/bootstrap/common.go
  pkg/bootstrap/orchestrator.go
  pkg/consul/config/generator.go
  pkg/consul/install.go
Labels: pkg-other

fix: P0-P1 critical production issues (round 3)
  pkg/bootstrap/orchestrator.go
  pkg/consul/config/generator.go
  pkg/consul/install.go
  pkg/execute/execute.go
Labels: pkg-other

fix: handle installer initialization errors and improve config file safety with atomic writes
  cmd/create/consul.go
  pkg/cli/cli.go
  pkg/consul/config/generator.go
  pkg/consul/install.go
Labels: cli, pkg-other

feat: improve error handling for network mount detection and command retries
  pkg/consul/install.go
  pkg/container/compose.go
  pkg/execute/execute.go
  pkg/execute/types.go
  pkg/terraform/preflight_checks.go
Labels: pkg-container, pkg-other

security: fix P0-P3 critical security vulnerabilities (round 4)
  cmd/create/delphi_jwt.go
  pkg/database_management/manager.go
  pkg/enrollment/inventory.go
Labels: cli, pkg-other
