Repository CodeMonkeyCybersecurity/eos, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, cli, ansible, scripts, pkg-container, pkg-vault, pkg-kvm, pkg-delphi, pkg-crypto, pkg-hecate, pkg-ldap, pkg-mattermost, pkg-platform, pkg-utils, pkg-other, ci, dependencies, policies, sql

.github/labeler.yml:

# Top-level docs
documentation:
  - README.md
  - SECURITY.md
  - LICENSE.*
  - '**/*.md'

cli:
  - main.go
  - cmd/**
  - policies/**
  - sql/**

ansible:
  - ansible/**

scripts:
  - scripts/**
  - install.sh
  - installGoAndGhOnRhel.sh
  - setupGo.sh
  - uninstall.sh
  - install.ps1

pkg-container:
  - pkg/container/**
  - pkg/docker/**

pkg-vault:
  - pkg/vault/**

pkg-kvm:
  - pkg/kvm/**

pkg-delphi:
  - pkg/delphi/**

pkg-crypto:
  - pkg/crypto/**

pkg-hecate:
  - pkg/hecate/**
  - cmd/hecate/**

pkg-ldap:
  - pkg/ldap/**

pkg-mattermost:
  - pkg/mattermost/**

pkg-platform:
  - pkg/platform/**

pkg-utils:
  - pkg/utils/**
  - pkg/shared/**
  - pkg/logger/**

pkg-other:
  - pkg/**

ci:
  - .github/workflows/**
  - .github/labeler.yml
  - .github/dependabot.yml

dependencies:
  - go.mod
  - go.sum
  - Dockerfile
  - docker-compose.yml

policies:
  - policies/**
sql:
  - sql/**

feat: Integrate pipeline package for system prompts management and enhance file handling
  cmd/delphi/prompts/create.go
  cmd/delphi/prompts/delete.go
  cmd/delphi/prompts/list.go
  cmd/delphi/prompts/read.go
  cmd/delphi/prompts/update.go
  cmd/delphi/prompts/validate.go
  pkg/pipeline/system_prompts.go
Labels: cli, pkg-other

refactor: Remove emojis from log messages and documentation for consistency
  assets/python_workers/PROMPT_INTEGRATION_GUIDE.md
  assets/python_workers/parser-monitor.py
  assets/scripts/fix-notification-channels.py
  assets/scripts/validate-delphi-config.py
  cmd/delphi/services/PARSER_MONITORING.md
  cmd/delphi/services/PIPELINE_FLOW.md
  cmd/delphi/services/README.md
  cmd/delphi/services/list.go
  cmd/delphi/services/read.go
Labels: documentation, cli

fix: Improve error handling and logging for missing dependencies; enhance parser failure metrics
  assets/python_workers/email-structurer.py
Labels: none

feat: Add email-structurer service to service workers list; enhance EOS_ROOT detection logic
  cmd/delphi/services/update.go
  pkg/pipeline/system_prompts.go
Labels: cli, pkg-other

fix: Enhance error message for missing psycopg2 dependency; improve logging consistency and formatting
  assets/python_workers/email-formatter.py
Labels: none

feat: Add email-formatter service to service workers list; update documentation for available services
  cmd/delphi/services/update.go
Labels: cli

fix: Enhance import handling for psycopg2 and pytz; improve timezone handling and logging for missing dependencies
  assets/python_workers/email-formatter.py
Labels: none

feat(database): Add schema for agents and alerts with enhanced alert states
  assets/ansible/README.md
  assets/ansible/delphi/confAgentsSyscheckRootdir.yml
  assets/ansible/delphi/createDockerListener.yml
  assets/ansible/delphi/createDockerMonitoring.yml
  assets/ansible/delphi/createOsqueryInstall.yml
  assets/ansible/delphi/updateAgentsAcceptCentralCmds.yml
  assets/ansible/delphi/updateAgentsEnableOsquery.yml
  assets/ansible/delphi/updateDelphiAddress.yml
  assets/ansible/delphi/updateDockerListener.yml
  assets/ansible/deployDocker.yml
  assets/ansible/disableSSHIntoRoot.yml
  assets/ansible/fetchRootCrontabs.yml
  assets/ansible/getDockerPs.yml
  assets/ansible/getMail.yml
  assets/ansible/hosts.ini.template
  assets/ansible/sshCopyId.yml
  assets/ansible/updateKnownHosts.yml
  assets/ansible/updateYum.yml
  assets/python_workers/__pycache__/ab-test-analyzer.cpython-313.pyc
  assets/python_workers/__pycache__/prompt-ab-tester.cpython-313.pyc
  assets/sql/migrations/001_add_structured_alert_data.sql
  assets/sql/migrations/002_add_prompt_tracking.sql
  assets/sql/migrations/003_fix_critical_compatibility_issues.sql
  assets/sql/open_colour_dump.sql
  assets/sql/schema.sql
  assets/sql/solarized.sql
  tests/integration_scenarios_test.go
  tests/integration_test.go
Labels: documentation

fix(email-sender): Update environment variable names for SMTP configuration and enhance PostgreSQL dollar-quoting syntax
  assets/python_workers/email-sender.py
Labels: none

feat(services): Add email-sender service to service workers list; update documentation for available services
  cmd/delphi/services/update.go
Labels: cli

feat(services): Update services list in start and status commands; add new services for better functionality
  cmd/delphi/services/start.go
  cmd/delphi/services/status.go
Labels: cli

Add sdnotify integration for Systemd watchdog support across Python workers
  assets/python_workers/delphi-emailer.py
  assets/python_workers/email-formatter.py
  assets/python_workers/email-sender.py
  assets/python_workers/email-structurer.py
  assets/python_workers/llm-worker.py
  assets/python_workers/parser-monitor.py
  assets/python_workers/prompt-ab-tester.py
  cmd/delphi/services/preflight-install.go
Labels: cli

refactor(services): Remove deprecated delphi-emailer service from configurations and documentation
  cmd/delphi/services/create.go
  cmd/delphi/services/delete.go
  cmd/delphi/services/disable.go
  cmd/delphi/services/enable.go
  cmd/delphi/services/list.go
  cmd/delphi/services/logs.go
  cmd/delphi/services/read.go
  cmd/delphi/services/restart.go
  cmd/delphi/services/services.go
  cmd/delphi/services/status.go
  cmd/delphi/services/stop.go
  cmd/delphi/services/update.go
Labels: cli

fix(preflight-install): Update Debian package name for sdnotify to python3-sdnotify
  cmd/delphi/services/preflight-install.go
Labels: cli

feat(preflight-install): Add sdnotify and tabulate to Debian package installation
  cmd/delphi/services/preflight-install.go
Labels: cli

feat(config): Add comprehensive configuration structure with validation for Delphi components
  pkg/delphi/config_improvements.go
  pkg/delphi/improved_architecture.md
  pkg/delphi/observability_improvements.go
Labels: documentation, pkg-delphi, pkg-other

Implement Redis Streams for Delphi Pipeline Migration
  cmd/delphi/services/update.go
  go.mod
  go.sum
  pkg/delphi/circuit_breaker.go
  pkg/delphi/config_improvements.go
  pkg/delphi/credentials.go
  pkg/delphi/integration_test.go
  pkg/delphi/migration_plan.md
  pkg/delphi/observability_improvements.go
  pkg/delphi/queue.go
  pkg/delphi/worker_integration.go
  pkg/vault/agent_lifecycle_test.go
  pkg/vault/auth_approle.go
  pkg/vault/auth_approle_test.go
Labels: documentation, cli, pkg-vault, pkg-delphi, pkg-other, dependencies

feat(tests): Enhance test cases for AppRole file permissions and runtime directory checks
  go.mod
  go.sum
  pkg/delphi/integration_test.go
  pkg/vault/auth_approle_test.go
  pkg/vault/runtime_directory_test.go
Labels: pkg-vault, pkg-delphi, pkg-other, dependencies

feat(persistence): Implement DualPersistenceManager for Redis and PostgreSQL integration fix(tests): Improve error handling and validation in integration tests
  .github/workflows/codeql.yml
  pkg/delphi/dual_persistence.go
  pkg/delphi/integration_test.go
  pkg/testutil/scenarios.go
  pkg/vault/runtime_directory_test.go
Labels: pkg-vault, pkg-delphi, pkg-other, ci

Implement enforced Multi-Factor Authentication (MFA) for Ubuntu systems
  .github/SECURITY.md
  .github/codeql/README.md
  .github/codeql/codeql-config.yml
  .github/codeql/custom-queries/codeql-pack.lock.yml
  .github/codeql/custom-queries/command-injection.ql
  .github/codeql/custom-queries/eos-security-queries.qls
  .github/codeql/custom-queries/hardcoded-credentials.ql
  .github/codeql/custom-queries/insecure-file-permissions.ql
  .github/codeql/custom-queries/qlpack.yml
  .github/codeql/custom-queries/vault-token-exposure.ql
  .github/codeql/test-queries.sh
  .github/workflows/security.yml
  cmd/secure/ubuntu.go
  pkg/delphi/analytics.go
  pkg/delphi/config_improvements.go
  pkg/delphi/credentials.go
  pkg/delphi/integration_test.go
  pkg/delphi/observability_improvements.go
  pkg/delphi/worker_integration.go
  pkg/ubuntu/MFA_ENFORCEMENT_GUIDE.md
  pkg/ubuntu/mfa_enforced.go
  pkg/ubuntu/mfa_enforced_test.go
  pkg/ubuntu/secure_enhanced.go
Labels: documentation, cli, pkg-delphi, pkg-other, ci

feat(codeql): Add troubleshooting guide and workspace configuration for CodeQL
  .github/codeql/TROUBLESHOOTING.md
  .github/codeql/custom-queries/hardcoded-credentials.ql
  .github/workflows/security.yml
  codeql-workspace.yml
Labels: documentation, ci

Implement comprehensive credential security tests and validation functions
  pkg/crypto/input_validation_fuzz_test.go
  pkg/crypto/input_validation_security_test.go
  pkg/crypto/password_security_test.go
  pkg/execute/injection_security_test.go
  pkg/testutil/testutil.go
  pkg/vault/auth_bypass_test.go
  pkg/vault/credential_exposure_test.go
  pkg/vault/security_helpers.go
Labels: pkg-vault, pkg-crypto, pkg-other

feat(pandora): Add unseal command for Vault management and enhance MFA logging
  cmd/pandora/pandora.go
  cmd/pandora/unseal/unseal.go
  cmd/secure/ubuntu.go
  pkg/ubuntu/MFA_ENFORCEMENT_GUIDE.md
  pkg/ubuntu/mfa_enforced.go
  pkg/ubuntu/secure_enhanced.go
Labels: documentation, cli, pkg-other

feat(security): Implement enhanced security monitoring with Osquery and Auditd, and remove AIDE configuration
  pkg/eos_io/context.go
  pkg/ubuntu/hardening.go
  pkg/ubuntu/monitoring.go
  pkg/ubuntu/secure.go
  pkg/ubuntu/secure_enhanced.go
  pkg/ubuntu/utilities.go
Labels: pkg-other

feat(logging): Remove emojis from log messages for consistency and clarity
  assets/scripts/validate-delphi-config.py
  pkg/ubuntu/MFA_ENFORCEMENT_GUIDE.md
  pkg/ubuntu/mfa_enforced.go
  pkg/ubuntu/monitoring.go
  pkg/ubuntu/secure.go
  pkg/ubuntu/secure_enhanced.go
  pkg/ubuntu/utilities.go
Labels: documentation, pkg-other

feat(monitoring): Add nil checks for runtime context in monitoring functions
  pkg/ubuntu/monitoring.go
Labels: pkg-other

feat(utilities): Refactor Lynis GPG key installation for improved clarity and error handling
  pkg/ubuntu/monitoring.go
  pkg/ubuntu/utilities.go
Labels: pkg-other

refactor: Remove emojis from print statements for consistency across scripts
  assets/python_workers/parser-monitor.py
  assets/scripts/fix-notification-channels.py
  assets/scripts/validate-delphi-config.py
  cmd/create/k3s_caddy_nginx.go
  cmd/delphi/services/PIPELINE_FLOW.md
  cmd/secure/ubuntu.go
  pkg/ubuntu/MFA_ENFORCEMENT_GUIDE.md
  pkg/ubuntu/mfa.go
  pkg/ubuntu/mfa_enforced.go
  pkg/ubuntu/secure_enhanced.go
Labels: documentation, cli, pkg-other

feat: Implement MFA configuration for Ubuntu systems
  pkg/ubuntu/mfa_atomic.go
  pkg/ubuntu/mfa_comprehensive_test.go
  pkg/ubuntu/mfa_emergency.go
  pkg/ubuntu/mfa_enforced.go
  pkg/ubuntu/mfa_manager.go
  pkg/ubuntu/mfa_pam.go
  pkg/ubuntu/mfa_sudoers.go
  pkg/ubuntu/mfa_users.go
  pkg/ubuntu/secure_enhanced.go
Labels: pkg-other

refactor: Improve PAM and sudoers configuration validation by using method calls and skipping non-user specifications
  pkg/ubuntu/mfa_pam.go
  pkg/ubuntu/mfa_sudoers.go
Labels: pkg-other

Add comprehensive MFA recovery and implementation guides
  cmd/secure/ubuntu.go
  docs/commands/README.md
  docs/commands/secure-ubuntu.md
  docs/guides/emergency-recovery.md
  docs/guides/mfa-implementation.md
  docs/guides/mfa-user-guide.md
  pkg/ubuntu/mfa_emergency.go
  pkg/ubuntu/mfa_manager.go
  pkg/ubuntu/mfa_users.go
Labels: documentation, cli, pkg-other

feat: Enhance duration parsing in Fail2Ban configuration to support common formats
  cmd/create/fail2ban.go
Labels: cli

Refactor Fail2ban setup to use enhanced configuration management
  cmd/create/fail2ban.go
  pkg/ubuntu/fail2ban.go
  pkg/ubuntu/fail2ban_enhanced.go
Labels: cli, pkg-other

refactor: Simplify command execution in Fail2ban configuration and status verification
  pkg/ubuntu/fail2ban_enhanced.go
Labels: pkg-other

refactor: Replace RunShell with RunSimple for improved command execution consistency
  cmd/create/ollama.go
  cmd/create/postfix.go
  cmd/delphi/create/docker-listener.go
  cmd/read/ollama.go
  docs/commands/secure-ubuntu.md
  docs/guides/emergency-recovery.md
  docs/guides/mfa-user-guide.md
  pkg/ollama/lifecycle.go
  pkg/ubuntu/mfa_atomic.go
  pkg/ubuntu/mfa_comprehensive_test.go
  pkg/ubuntu/mfa_emergency.go
  pkg/ubuntu/mfa_enforced.go
  pkg/ubuntu/mfa_manager.go
  pkg/ubuntu/mfa_pam.go
  pkg/ubuntu/mfa_users.go
  pkg/ubuntu/secure_enhanced.go
Labels: documentation, cli, pkg-other

refactor: Enhance PAM module discovery with dynamic path checking and improved error reporting
  pkg/ubuntu/mfa_comprehensive_test.go
  pkg/ubuntu/mfa_users.go
Labels: pkg-other

refactor: Remove emojis from log messages for consistency and clarity
  assets/scripts/validate-delphi-config.py
  docs/commands/secure-ubuntu.md
  pkg/ubuntu/mfa.go
  pkg/ubuntu/mfa_atomic.go
  pkg/ubuntu/mfa_comprehensive_test.go
  pkg/ubuntu/mfa_enforced.go
  pkg/ubuntu/mfa_manager.go
  pkg/ubuntu/mfa_users.go
  pkg/ubuntu/secure_enhanced.go
Labels: documentation, pkg-other

refactor: Update Fail2Ban command and configuration for basic protection setup
  cmd/create/fail2ban.go
  pkg/ubuntu/fail2ban_enhanced.go
Labels: cli, pkg-other

refactor: Enhance user guidance for Docker group membership and access verification
  pkg/container/docker.go
Labels: pkg-container, pkg-other

refactor: Enhance Zabbix deployment command with detailed usage instructions and dynamic Docker Compose generation
  cmd/create/zabbix.go
  pkg/templates/zabbix.go
Labels: cli, pkg-other
