Repository CodeMonkeyCybersecurity/eos, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, cli, ansible, scripts, pkg-container, pkg-vault, pkg-kvm, pkg-delphi, pkg-crypto, pkg-hecate, pkg-ldap, pkg-mattermost, pkg-platform, pkg-utils, pkg-other, ci, dependencies, policies, sql

debug bootstrap again
  cmd/bootstrap/bootstrap.go
  pkg/bootstrap/integration.go
Labels: cli, pkg-other

bootstrappoing fixes
  cmd/bootstrap/bootstrap.go
  cmd/bootstrap/bootstrap_enhanced.go
  cmd/create/bootstrap.go
  docs/BOOTSTRAP_STATE_VALIDATION.md
  pkg/bootstrap/check.go
  pkg/bootstrap/common.go
  pkg/bootstrap/integration.go
  pkg/bootstrap/orchestrator.go
  pkg/bootstrap/salt_api_client.go
  pkg/bootstrap/salt_bootstrap.go
  pkg/bootstrap/setup_salt_api.go
  pkg/bootstrap/state_validator.go
Labels: documentation, cli, pkg-other

fixes
  pkg/bootstrap/common.go
  pkg/bootstrap/integration.go
  pkg/bootstrap/orchestrator.go
  pkg/bootstrap/salt_bootstrap.go
  pkg/bootstrap/setup_salt_api.go
  pkg/bootstrap/state_validator.go
Labels: pkg-other

bootstrapping
  pkg/bootstrap/detector.go
  pkg/bootstrap/salt_api_client.go
  pkg/bootstrap/salt_bootstrap.go
  pkg/bootstrap/setup_salt_api.go
  pkg/bootstrap/system_bootstrap.go
  pkg/bootstrap/system_bootstrap_test.go
Labels: pkg-other

bootstrap 1000145
  cmd/bootstrap/bootstrap.go
  cmd/bootstrap/bootstrap_enhanced.go
  pkg/bootstrap/conflict_resolution.go
  pkg/bootstrap/enhanced_errors.go
  pkg/bootstrap/idempotent.go
  pkg/bootstrap/orchestrator.go
  pkg/bootstrap/state_detection.go
Labels: cli, pkg-other

debug
  pkg/bootstrap/conflict_resolution.go
  pkg/bootstrap/service_manager.go
  pkg/bootstrap/service_manager_test.go
  pkg/bootstrap/state_detection.go
  scripts/debug-bootstrap-services.sh
  scripts/test-service-mapping.sh
Labels: scripts, pkg-other

Summary
  pkg/bootstrap/conflict_resolution.go
  pkg/bootstrap/service_manager.go
  pkg/bootstrap/state_detection.go
  pkg/bootstrap/validation.go
Labels: pkg-other

nuke
  cmd/delete/nuke.go
  pkg/docker/cleanup.go
  pkg/nomad/removal.go
  pkg/process/detector.go
  pkg/saltstack/removal.go
  pkg/services/removal.go
Labels: cli, pkg-container, pkg-other

create dev-env
  cmd/create/dev_environment.go
  cmd/delete/nuke.go
  cmd/nuke/nuke.go
  pkg/dev_environment/code_server.go
  pkg/dev_environment/firewall.go
  pkg/dev_environment/github.go
  pkg/dev_environment/prerequisites.go
  pkg/dev_environment/types.go
Labels: cli, pkg-other

nuke --dev
  cmd/delete/nuke.go
Labels: cli

apt autpremvoe a[t autoclean
  cmd/delete/nuke.go
  install.sh
Labels: cli, scripts

dev env
  cmd/create/dev_environment.go
  cmd/delete/nuke.go
  pkg/dev_environment/go_tools.go
  pkg/services/removal.go
  pkg/state/tracker.go
Labels: cli, pkg-other

/opt/ exclusion
  cmd/delete/nuke.go
Labels: cli

nuke debug
  cmd/delete/nuke.go
Labels: cli

tailscale code-server
  cmd/delete/nuke.go
Labels: cli

nuke refactor
  cmd/delete/nuke.go
  pkg/hecate/removal.go
  pkg/nuke/assess.go
  pkg/nuke/display.go
  pkg/nuke/evaluate.go
  pkg/nuke/intervene.go
  pkg/nuke/nuke.go
  pkg/nuke/types.go
Labels: cli, pkg-hecate, pkg-other

tailscale
  pkg/service_installation/tailscale.go
Labels: pkg-other

debug
  pkg/nuke/assess.go
  pkg/nuke/evaluate.go
Labels: pkg-other

verify removal
  pkg/nomad/removal.go
  pkg/nuke/intervene.go
Labels: pkg-other

Key Achievements:
  MIGRATION_ANALYSIS.md
  pkg/boundary/removal.go
  pkg/docker/cleanup.go
  pkg/lifecycle/interface.go
  pkg/lifecycle/registry.go
  pkg/nuke/assess.go
  pkg/nuke/assess_test.go
  pkg/nuke/intervene.go
  pkg/osquery/removal.go
  pkg/packer/lifecycle.go
  pkg/packer/removal.go
  pkg/terraform/removal.go
Labels: documentation, pkg-container, pkg-other

debug
  cmd/delete/nuke.go
  pkg/nomad/removal.go
  pkg/nuke/assess.go
  pkg/nuke/evaluate.go
  pkg/nuke/intervene.go
  pkg/nuke/nuke.go
  pkg/system/package_lifecycle.go
  pkg/system/package_lifecycle_test.go
Labels: cli, pkg-other

-s
  pkg/bootstrap/salt_bootstrap.go
Labels: pkg-other

simpify
  CLAUDE.md
  CLAUDE.md.backup
  PATTERNS.md
  ansible/delphi/persephone-vault-enc.yml
  ansible/persephone-vault-enc.yml
  cmd/create/boundary.go
  cmd/create/consul.go
  cmd/create/consul_api.go
  cmd/create/consul_orchestrated.go
  cmd/create/consul_terraform.go
  cmd/create/consul_unified.go
  cmd/create/hashicorp_native.go
  cmd/create/hcl.go
  cmd/create/nomad.go
  cmd/create/packer.go
  cmd/create/secrets.go
  pkg/boundary/manager.go
  pkg/boundary/manager_test.go
  pkg/boundary/native_installer.go
  pkg/boundary/removal.go
  pkg/boundary/types.go
  pkg/consul/installer_helpers.go
  pkg/consul/native_install.go
  pkg/consul/types.go
  pkg/hashicorp/installer_base.go
  pkg/hashicorp/tools.go
  pkg/nomad/native_installer.go
  pkg/nuke/assess.go
  pkg/nuke/intervene.go
  pkg/packer/native_installer.go
  pkg/packer/removal.go
  pkg/platform/version_resolver.go
  pkg/shared/ports.go
  pkg/terraform/native_installer.go
  pkg/vault/native_installer.go
  salt/states/hashicorp/consul.sls.deprecated
  salt/states/hashicorp/consul_remove.sls.deprecated
  scripts/test-hashicorp-installers.sh
Labels: documentation, cli, ansible, scripts, pkg-vault, pkg-platform, pkg-utils, pkg-other

fix
  cmd/create/hashicorp_native.go
  cmd/self/self.go
  pkg/watchdog/resource_watchdog.go
Labels: cli, pkg-other

DRY
  cmd/create/consul.go
  pkg/consul/install.go
  pkg/consul/native_install.go
Labels: cli, pkg-other

Completed Requirements (P0 - Critical)
  .gitignore
  cmd/create/boundary.go
  cmd/create/hashicorp_native.go
  cmd/create/nomad.go
  cmd/create/packer.go
  cmd/create/secrets.go
  pkg/boundary/install.go
  pkg/boundary/installer_helpers.go
  pkg/boundary/native_installer.go
  pkg/consul/install.go
  pkg/nomad/install.go
  pkg/nomad/installer_helpers.go
  pkg/nomad/native_installer.go
  pkg/nomad/salt_install.go
  pkg/packer/install.go
  pkg/packer/installer_helpers.go
  pkg/packer/native_installer.go
  pkg/terraform/install.go
  pkg/terraform/installer_helpers.go
  pkg/terraform/native_installer.go
  pkg/vault/install.go
  pkg/vault/installer_helpers.go
  pkg/vault/native_installer.go
Labels: cli, pkg-vault, pkg-other

✅ Fixed Violations:
  cmd/self/self.go
Labels: cli

dfgs
  docs/storage/STORAGE_OPS.md
  docs/storage/storage_ops.md
Labels: documentation

style: clean up whitespace and align struct fields across storage and monitor packages
  cmd/bootstrap/bootstrap_enhanced.go
  cmd/create/create.go
  cmd/create/hecate.go
  cmd/create/kvm_qemu_guest.go
  cmd/create/loki.go
  cmd/create/tailscale.go
  examples/go_best_practices_demo.go
  pkg/managers/security_permissions.go
  pkg/nuke/assess_improved.go
  pkg/nuke/interfaces.go
  pkg/storage/monitor/contention.go
  pkg/storage/monitor/disk_manager_integration.go
  pkg/storage/monitor/disk_usage_improved.go
  pkg/storage/monitor/saltstack_disk_manager.go
  pkg/storage/monitor/saltstack_disk_manager_test.go
  pkg/storage/monitor_integration.go
  pkg/storage/types.go
  pkg/storage_monitor/types.go
  pkg/vault/install.go
Labels: cli, pkg-vault, pkg-other

feat: add n8n proxy configuration to supported apps list
  cmd/create/n8n.go
  pkg/n8n/manager.go
  pkg/n8n/nomad.go
  pkg/n8n/types.go
  pkg/shared/ports.go
Labels: cli, pkg-utils, pkg-other

refactor: remove unused displayBoundaryStatus function and add parameter warnings
  cmd/create/boundary.go
Labels: cli

refactor: remove SaltStack commands and update Wazuh installer to 4.13
  cmd/create/create.go
  cmd/create/delphi.go
  cmd/create/disk_manager.go
  cmd/create/hecate.go
  cmd/create/kvm_manager.go
  cmd/create/storage_cephfs.go
  cmd/create/storage_hashicorp.go
  cmd/create/storage_local.go
  cmd/create/storage_udisks2.go
  cmd/create/storage_unified.go
  cmd/create/vm_libvirt.go
  cmd/debug/saltstack.go
  docs/SALTSTACK_REMOVAL_PLAN.md
  go.mod
  go.sum
  pkg/bootstrap/hashicorp_bootstrap.go
  pkg/bootstrap/orchestrator.go
  pkg/bootstrap/salt_bootstrap.go
  pkg/cephfs/install.go
  pkg/cephfs/saltstack.go
  pkg/hecate/lifecycle_create_v2.go
  pkg/hecate/saltstack_deploy.go
  pkg/hecate/saltstack_deploy_test.go
  pkg/nuke/intervene.go
  pkg/saltstack/stub.go
  pkg/storage/hashicorp/manager.go
  pkg/storage/hashicorp/policies.go
  pkg/storage/local/manager.go
  pkg/storage/monitor/contention.go
  pkg/storage/monitor/disk_manager_integration.go
  pkg/storage/monitor/disk_usage.go
  pkg/storage/monitor/io_metrics.go
  pkg/storage/udisks2/disk_manager.go
  pkg/storage/unified/manager.go
  pkg/storage/utils/size.go
  pkg/terraform/kvm/manager.go
  pkg/virtualization/libvirt/stub.go
Labels: documentation, cli, pkg-hecate, pkg-other, dependencies

refactor: migrate Salt commands to Nomad and Consul equivalents
  cmd/read/salt_job_status.go
  cmd/read/salt_ping.go
  cmd/update/salt_key_accept.go
  docs/MIGRATION_ESCALATION_LIST.md
  docs/SALTSTACK_TO_HASHICORP_MIGRATION.md
  pkg/httpclient/migration.go
  pkg/storage/drivers_stubs.go
  pkg/storage/factory.go
Labels: documentation, cli, pkg-other

refactor: standardize error message capitalization and remove unused code
  cmd/create/boundary.go
  cmd/create/consul.go
  cmd/create/grafana.go
  cmd/create/hashicorp_native.go
  cmd/create/hecate_backend.go
  cmd/create/jenkins.go
  cmd/create/mattermost.go
  cmd/create/nomad.go
  cmd/create/packer.go
  cmd/create/secrets.go
  cmd/create/wazuh_version_config.go
  cmd/read/wazuh_version.go
  cmd/update/wazuh_version.go
  docs/components/WAZUH_VERSION_MANAGEMENT.md
  pkg/wazuh_mssp/install.go
  pkg/wazuh_mssp/types.go
  pkg/wazuh_mssp/version/config.go
  pkg/wazuh_mssp/version/manager.go
Labels: documentation, cli, pkg-other

refactor: remove SaltStack commands and grains in favor of HashiCorp stack
  cmd/bootstrap/all.go
  cmd/bootstrap/bootstrap.go
  cmd/bootstrap/bootstrap_enhanced.go
  cmd/bootstrap/salt.go
  cmd/create/create.go
  cmd/create/hashicorp.go
  cmd/create/hashicorp_native.go
  cmd/create/hcl.go
  cmd/create/mattermost.go
  cmd/create/nomad.go
  cmd/create/secrets.go
  cmd/create/storage_udisks2.go
  cmd/create/storage_unified.go
  cmd/create/vault_salt.go
  cmd/create/vm_libvirt.go
  cmd/create/wazuh_ccs.go
  cmd/create/wazuh_version_config.go
  cmd/read/hecate_route.go
  cmd/update/wazuh_agents.go
  docs/ARCHITECTURE_SALTSTACK_NOMAD.md
  docs/BOOTSTRAP_DESIGN.md
  docs/IMPLEMENTATION_STATUS.md
  docs/SALTSTACK_TO_HASHICORP_MIGRATION.md
  docs/SALT_API_BOOTSTRAP_SOLUTION.md
  docs/components/EOS_INFRASTRUCTURE_COMPILER.md
  docs/components/VAULT.md
  pkg/bootstrap/check.go
  pkg/bootstrap/enhanced_errors.go
  pkg/bootstrap/hardening_safety.go
  pkg/hashicorp/tools.go
  pkg/nomad/job_generator.go
  pkg/nomad/rest_installer.go
  pkg/nomad/salt_installer.go
  pkg/security/hardening.go
  pkg/storage/interfaces.go
  pkg/users/management.go
  pkg/vault/client.go
  pkg/vault/install.go
  pkg/vault/phase8_health_check.go
  pkg/wazuh_mssp/agent_registration.go
Labels: documentation, cli, pkg-vault, pkg-other

refactor: consolidate Wazuh agent upgrade and registration functionality
  cmd/update/wazuh_agents.go
  pkg/wazuh_mssp/agent_registration.go
Labels: cli, pkg-other

chore: remove unused functions and TODOs across multiple command files
  cmd/bootstrap/bootstrap_enhanced.go
  cmd/create/create.go
  cmd/create/hashicorp.go
  cmd/create/nomad.go
  cmd/create/storage_unified.go
  cmd/delete/boundary.go
  cmd/delete/consul.go
  cmd/read/disk_usage.go
Labels: cli

refactor: remove salt-call fallback implementations and unused helper functions
  cmd/delete/boundary.go
  cmd/delete/consul.go
  cmd/delete/hecate_backend.go
  pkg/shared/config_fuzz_test.go
Labels: cli, pkg-utils, pkg-other

chore: rename unused data parameter to _ in config parsing functions
  pkg/shared/config_fuzz_test.go
Labels: pkg-utils, pkg-other

refactor: replace unused parameters with underscores in validation and config functions
  pkg/shared/config_fuzz_test.go
  pkg/shared/service_lifecycle.go
  pkg/shared/validation.go
Labels: pkg-utils, pkg-other

.github/labeler.yml:

# Top-level docs
documentation:
  - README.md
  - SECURITY.md
  - LICENSE.*
  - '**/*.md'

cli:
  - main.go
  - cmd/**
  - policies/**
  - sql/**

ansible:
  - ansible/**

scripts:
  - scripts/**
  - install.sh
  - installGoAndGhOnRhel.sh
  - setupGo.sh
  - uninstall.sh
  - install.ps1

pkg-container:
  - pkg/container/**
  - pkg/docker/**

pkg-vault:
  - pkg/vault/**

pkg-kvm:
  - pkg/kvm/**

pkg-delphi:
  - pkg/delphi/**

pkg-crypto:
  - pkg/crypto/**

pkg-hecate:
  - pkg/hecate/**
  - cmd/hecate/**

pkg-ldap:
  - pkg/ldap/**

pkg-mattermost:
  - pkg/mattermost/**

pkg-platform:
  - pkg/platform/**

pkg-utils:
  - pkg/utils/**
  - pkg/shared/**
  - pkg/logger/**

pkg-other:
  - pkg/**

ci:
  - .github/workflows/**
  - .github/labeler.yml
  - .github/dependabot.yml

dependencies:
  - go.mod
  - go.sum
  - Dockerfile
  - docker-compose.yml

policies:
  - policies/**
sql:
  - sql/**
