Repository CodeMonkeyCybersecurity/eos, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, cli, ansible, scripts, pkg-container, pkg-vault, pkg-kvm, pkg-delphi, pkg-crypto, pkg-hecate, pkg-ldap, pkg-mattermost, pkg-platform, pkg-utils, pkg-other, ci, dependencies, policies, sql

fix: use privileged client for state checking in idempotency functions
  pkg/vault/enablement_state.go
Labels: pkg-vault, pkg-other

feat: add audit logs diagnostics to eos debug vault
  pkg/debug/vault/diagnostics.go
Labels: pkg-other

feat: add comprehensive diagnostic logging to audit directory setup
  pkg/vault/phase12_enable_audit.go
Labels: pkg-vault, pkg-other

feat(self): add SHA256 comparison to skip unnecessary binary rebuilds
  pkg/self/updater_enhanced.go
Labels: pkg-other

feat(vault): enhance diagnostic logging across Vault phases 10-15
  pkg/vault/lifecycle2_enable.go
  pkg/vault/phase10a_enable_userpass.go
  pkg/vault/phase10c_create_entity.go
  pkg/vault/phase15_harden.go
  pkg/vault/phase9e_enable_tracking.go
Labels: pkg-vault, pkg-other

feat: add Vault Agent diagnostics to collect service status, config, credentials, token and logs
  pkg/debug/vault/diagnostics.go
Labels: pkg-other

feat: add detailed logging and ownership verification to file operations
  pkg/eos_unix/filesystem.go
  pkg/vault/auth_approle.go
Labels: pkg-vault, pkg-other

feat: enhance logging coverage for Vault agent configuration and token sink operations
  pkg/vault/auth_approle_test.go
  pkg/vault/phase13_write_agent_config.go
Labels: pkg-vault, pkg-other

refactor: ensure vault ownership when writing agent config and credential files
  pkg/shared/vault_agent.go
  pkg/vault/phase13_write_agent_config.go
Labels: pkg-vault, pkg-utils, pkg-other

feat: add preflight checks and improve cleanup verification for vault installation
  pkg/vault/install.go
  pkg/vault/phase15_harden.go
  pkg/vault/uninstall.go
Labels: pkg-vault, pkg-other

feat: add validation and verification for AppRole credentials and setup
  pkg/vault/auth_approle.go
  pkg/vault/phase10b_enable_approle.go
  pkg/vault/phase13_write_agent_config.go
Labels: pkg-vault, pkg-other

refactor: replace hardcoded eos-agent with shared.AppRoleName constant
  pkg/vault/phase10b_enable_approle.go
Labels: pkg-vault, pkg-other

refactor: use shared constant for AppRole role ID path instead of string concatenation
  pkg/vault/phase10b_enable_approle.go
Labels: pkg-vault, pkg-other

feat: enhance vault agent permissions diagnostics and directory setup with detailed logging
  pkg/debug/vault/diagnostics.go
  pkg/shared/vault_agent.go
Labels: pkg-utils, pkg-other

feat: ensure secrets directory exists with proper permissions before writing AppRole files
  pkg/vault/auth_approle.go
Labels: pkg-vault, pkg-other

feat: add error classification and retry logic for deterministic failures
  pkg/execute/retry.go
  pkg/vault/auth.go
  pkg/vault/phase10b_enable_approle.go
  pkg/vault/phase13_write_agent_config.go
Labels: pkg-vault, pkg-other

feat: add strict TLS cert validation and fail-fast error detection for Vault agent startup
  pkg/vault/phase13_write_agent_config.go
  pkg/vault/phase14_start_agent_and_validate.go
Labels: pkg-vault, pkg-other

fix: update TLS certificate paths from /opt/vault/tls to /etc/vault.d/tls to match install.go
  cmd/repair/vault.go
  pkg/shared/vault_server.go
  pkg/vault/security_warnings.go
Labels: cli, pkg-vault, pkg-utils, pkg-other

feat: add Vault cluster port and update agent config paths
  pkg/shared/ports.go
  pkg/shared/vault_agent.go
  pkg/shared/vault_server.go
  pkg/vault/install.go
  pkg/vault/phase13_write_agent_config.go
  pkg/vault/phase4_config.go
Labels: pkg-vault, pkg-utils, pkg-other

refactor: consolidate Vault paths and ports using consistent base directories and constants
  pkg/shared/ports.go
  pkg/shared/vault_agent.go
  pkg/shared/vault_server.go
  pkg/vault/raft_helpers.go
Labels: pkg-vault, pkg-utils, pkg-other

feat: add TLS skip verify option for Vault agent in dev environments
  pkg/shared/vault_agent.go
Labels: pkg-utils, pkg-other

feat: enhance TLS configuration validation to support both CA file and skip verify options
  pkg/vault/phase13_write_agent_config.go
Labels: pkg-vault, pkg-other

feat: ignore old error messages when vault agent auth succeeds and token is written
  pkg/vault/phase14_start_agent_and_validate.go
Labels: pkg-vault, pkg-other

feat: skip TLS verification for self-signed certificates in Vault health check
  pkg/vault/phase8_health_check.go
Labels: pkg-vault, pkg-other

feat: make vault installation checks idempotent to support existing deployments
  pkg/vault/preflight_checks.go
Labels: pkg-vault, pkg-other

refactor: make Vault installation preflight checks idempotent to support re-runs
  pkg/vault/install.go
Labels: pkg-vault, pkg-other

chore: remove emoji characters from log messages and documentation
  OPENWEBUI_DEPLOYMENT_READY.md
  OPENWEBUI_PORT_VERIFICATION.md
  VAULT_IDEMPOTENCY_DESIGN.md
  cmd/create/secrets.go
  cmd/list/list-delphi-services.go
  cmd/ragequit/ragequit.go
  docs/MODULARIZATION-COMPLETE-FILE-1.md
  docs/components/delphi-dashboard-architecture.md
  docs/security/SECURITY_ANALYSIS.md
  pkg/ai/ai_test.go
  pkg/clusterfuzz/verify.go
  pkg/delphi/dashboard_types.go
  pkg/kubernetes/k3s.go
  pkg/vault/hardening.go
  pkg/vault/phase12_enable_audit.go
  scripts/auto-commit.sh
  scripts/comprehensive-fuzz-runner.sh
  scripts/comprehensive-test-runner.sh
  scripts/fix-logging-violations.sh
  scripts/fix-remaining-violations.sh
  scripts/overnight-fuzz-simple.sh
  scripts/overnight-fuzz.sh
  scripts/quick-fuzz-validation.sh
Labels: documentation, cli, scripts, pkg-vault, pkg-delphi, pkg-other

feat: add idempotency status diagnostic to check vault installation state
  pkg/debug/vault/diagnostics.go
Labels: pkg-other

docs: remove KVM upgrade feature documentation
  cmd/create/bionicgpt.go
  cmd/debug/bionicgpt.go
  cmd/delete/bionicgpt.go
  docs/KVM_UPGRADE_FEATURE.md
  docs/OPENWEBUI_DEPLOYMENT_READY.md
  docs/OPENWEBUI_GENERATED_FILES_EXAMPLE.md
  docs/OPENWEBUI_LITELLM_REVIEW.md
  docs/OPENWEBUI_PORT_VERIFICATION.md
  docs/VAULT_IDEMPOTENCY_DESIGN.md
  docs/VAULT_INIT_UX_IMPROVEMENT.md
  docs/VAULT_LIFECYCLE_ANALYSIS.md
  docs/VAULT_TLS_FIX.md
  pkg/bionicgpt/install.go
  pkg/bionicgpt/types.go
  pkg/shared/ports.go
Labels: documentation, cli, pkg-utils, pkg-other

fix: add missing quotes around memory limit in Docker Compose config
  pkg/bionicgpt/install.go
Labels: pkg-other

refactor: update Docker compose CPU and memory limit syntax to use newer format
  pkg/bionicgpt/install.go
Labels: pkg-other

fix(bionicgpt): remove resource limits from docker-compose
  pkg/bionicgpt/install.go
  pkg/bionicgpt/types.go
Labels: pkg-other

fix(bionicgpt): add embeddings-api version tag cpu-0.6
  pkg/bionicgpt/install.go
  pkg/bionicgpt/types.go
Labels: pkg-other

fix(bionicgpt): increase docker pull timeout to 30 minutes
  pkg/bionicgpt/install.go
Labels: pkg-other

improve(vault): clarify TLS warning message for self-signed certificates
  pkg/vault/phase2_env_setup.go
Labels: pkg-vault, pkg-other

fix(vault): use correct Consul port 8161 for Vault storage backend
  pkg/consul/enhanced_integration_test.go
  pkg/shared/vault_server.go
Labels: pkg-utils, pkg-other

feat: add sync command to root command registry
  cmd/root.go
  cmd/sync/root.go
  pkg/sync/connectors/consul_vault.go
  pkg/sync/registry.go
  pkg/sync/types.go
  pkg/synctypes/types.go
Labels: cli, pkg-other

feat: add storage backend safety check and runtime status to vault list command
  cmd/debug/ceph.go
  cmd/list/ceph.go
  cmd/list/consul.go
  cmd/list/vault.go
  pkg/servicestatus/ceph.go
  pkg/servicestatus/consul.go
  pkg/servicestatus/display.go
  pkg/servicestatus/types.go
  pkg/servicestatus/vault.go
  pkg/sync/connectors/consul_vault.go
Labels: cli, pkg-other

feat: add detailed diagnostics and progress logging for Consul startup timeout
  pkg/consul/install.go
Labels: pkg-other

feat: enhance systemd service diagnostics with detailed status checks and improved logging
  pkg/consul/debug/checks.go
  pkg/consul/debug/diagnostics.go
Labels: pkg-other

.github/labeler.yml:

# Top-level docs
documentation:
  - README.md
  - SECURITY.md
  - LICENSE.*
  - '**/*.md'

cli:
  - main.go
  - cmd/**
  - policies/**
  - sql/**

ansible:
  - ansible/**

scripts:
  - scripts/**
  - install.sh
  - installGoAndGhOnRhel.sh
  - setupGo.sh
  - uninstall.sh
  - install.ps1

pkg-container:
  - pkg/container/**
  - pkg/docker/**

pkg-vault:
  - pkg/vault/**

pkg-kvm:
  - pkg/kvm/**

pkg-delphi:
  - pkg/delphi/**

pkg-crypto:
  - pkg/crypto/**

pkg-hecate:
  - pkg/hecate/**
  - cmd/hecate/**

pkg-ldap:
  - pkg/ldap/**

pkg-mattermost:
  - pkg/mattermost/**

pkg-platform:
  - pkg/platform/**

pkg-utils:
  - pkg/utils/**
  - pkg/shared/**
  - pkg/logger/**

pkg-other:
  - pkg/**

ci:
  - .github/workflows/**
  - .github/labeler.yml
  - .github/dependabot.yml

dependencies:
  - go.mod
  - go.sum
  - Dockerfile
  - docker-compose.yml

policies:
  - policies/**
sql:
  - sql/**
