Repository CodeMonkeyCybersecurity/eos, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, cli, ansible, scripts, pkg-container, pkg-vault, pkg-kvm, pkg-delphi, pkg-crypto, pkg-hecate, pkg-ldap, pkg-mattermost, pkg-platform, pkg-utils, pkg-other, ci, dependencies, policies, sql

security: add DoS protections and secure path validation across multiple packages
  pkg/authentik/delphi.go
  pkg/backup/create.go
  pkg/backup/operations.go
  pkg/crypto/encryption_operations.go
  pkg/delphi/agent.go
  pkg/hecate/api/handlers.go
  pkg/vault/credential_store.go
Labels: pkg-vault, pkg-delphi, pkg-crypto, pkg-hecate, pkg-other

security: improve credential handling with secure password input and mysql defaults file
  pkg/cli/cli.go
  pkg/config/config.go
  pkg/delphi/credentials/passwords.go
  pkg/openstack/utils.go
  pkg/security/security_testing/property_based_test.go
  pkg/xdg/credentials.go
Labels: pkg-delphi, pkg-other

security: improve TLS validation by using custom CA certs instead of skipping verification
  pkg/bootstrap/hashicorp_bootstrap.go
  pkg/bootstrap/service_health.go
  pkg/delphi/agent.go
  pkg/delphi/auth.go
  pkg/delphi/http.go
  pkg/delphi/http_tls.go
  pkg/delphi/provision.go
  pkg/httpclient/tls_helper.go
  pkg/httpclient/xff_validation.go
  pkg/httpclient/xff_validation_test.go
  pkg/ldap/handler.go
  pkg/vault/phase2_env_setup.go
  pkg/vault/phase4_config.go
Labels: pkg-vault, pkg-delphi, pkg-ldap, pkg-other

security: disable MD5 hashing and improve security across database, secrets, and process management
  pkg/crypto/hash_operations.go
  pkg/delphi/database/connection.go
  pkg/execute/execute.go
  pkg/httpclient/client.go
  pkg/kvm/simple_vm.go
  pkg/secrets/manager.go
  pkg/shared/service_lifecycle.go
Labels: pkg-kvm, pkg-delphi, pkg-crypto, pkg-utils, pkg-other

security: add panic recovery, security headers, and harden file operations across multiple packages
  pkg/backup/client.go
  pkg/fileops/path_operations.go
  pkg/hecate/api/handlers.go
  pkg/macos/homebrew.go
  pkg/monitoring/manager.go
  pkg/shared/safe_goroutine.go
  pkg/vault/phase13_write_agent_config.go
  pkg/watchdog/timer_watchdog.go
Labels: pkg-vault, pkg-hecate, pkg-utils, pkg-other

feat: implement security hardening with TLS, rate limiting, and SQL injection prevention
  pkg/authentik/delphi.go
  pkg/delphi/database/connection.go
  pkg/delphi/dual_persistence.go
  pkg/hecate/api/handlers.go
  pkg/httpclient/ssrf_protection.go
Labels: pkg-delphi, pkg-hecate, pkg-other

security: enhance template processing and HTTP client security with TLS and input validation
  cmd/create/trivy.go
  pkg/bootstrap/service_health.go
  pkg/bootstrap/state_detection.go
  pkg/container/compose.go
  pkg/container/docker.go
  pkg/eos_io/yaml.go
  pkg/fileops/template_operations.go
  pkg/hetzner/client_dns.go
  pkg/hetzner/dns_servers.go
  pkg/hetzner/records.go
  pkg/hetzner/zones.go
  pkg/parse/json.go
  pkg/parse/json_parser.go
Labels: cli, pkg-container, pkg-other

fix: handle error return from ExtractComposeMetadata in delete commands
  cmd/delete/jenkins.go
  cmd/delete/umami.go
Labels: cli

refactor: replace fmt.Printf with structured logging for security and consistency
  pkg/command/installer.go
  pkg/container/compose.go
  pkg/delphi/credentials/passwords.go
  pkg/disk_management/manager.go
  pkg/fileops/path_operations.go
  pkg/privilege_check/privileges.go
Labels: pkg-container, pkg-delphi, pkg-other

refactor: replace fmt.Print* with structured logging using otelzap
  pkg/authentik/delphi.go
  pkg/command/installer.go
  pkg/crypto/prompt.go
  pkg/delphi/credentials/passwords.go
  pkg/fileops/path_operations.go
  pkg/interaction/input.go
  pkg/interaction/validate.go
  pkg/network/interface_detection.go
Labels: pkg-delphi, pkg-crypto, pkg-other

security: add SSRF protection to URL validation and secure token file writes
  pkg/shared/validation.go
  pkg/vault/file_security.go
Labels: pkg-vault, pkg-utils, pkg-other

feat: add rate limiting to vault init and unseal operations for security
  pkg/vault/phase6a_init.go
  pkg/vault/rate_limit.go
  pkg/vault/util_unseal.go
Labels: pkg-vault, pkg-other

fix: add context-aware sleeps and proper response body closing
  pkg/authentik/authentik_client.go
  pkg/consul/health/wait.go
  pkg/execute/retry.go
  pkg/hashicorp/helpers.go
  pkg/platform/version_resolver.go
  pkg/shared/service_lifecycle.go
  pkg/vault/agent_lifecycle.go
  pkg/vault/cleanup/services.go
  pkg/vault/install.go
  pkg/vault/installer_helpers.go
  pkg/vault/phase14_start_agent_and_validate.go
  pkg/vault/phase5_start_service.go
  pkg/vault/phase8_health_check.go
Labels: pkg-vault, pkg-platform, pkg-utils, pkg-other

fix: prevent XSS by removing template.HTML and add safe type assertions in API responses
  pkg/alerts/fuzz_test.go
  pkg/alerts/model.go
  pkg/alerts/model_test.go
  pkg/alerts/render_test.go
  pkg/authentik/delphi.go
  pkg/cloudinit/generator.go
  pkg/command/installer.go
  pkg/database_management/backup.go
  pkg/database_management/manager.go
  pkg/delphi/agent.go
  pkg/delphi/credentials/passwords.go
  pkg/delphi_channels/standardizer.go
  pkg/inspect/kvm.go
  pkg/kvm/network.go
  pkg/kvm/snapshot.go
  pkg/nomad/install.go
  pkg/parse/format_detector.go
  pkg/platform/browser.go
  pkg/process/detector.go
  pkg/storage/resize_filesystem.go
  pkg/vault/mfa.go
  pkg/vault/phase11_write_policies.go
  pkg/vault/phase14_start_agent_and_validate.go
Labels: pkg-vault, pkg-kvm, pkg-delphi, pkg-platform, pkg-other

fix: add security hardening for API request limits and credential logging
  CLAUDE.md
  cmd/create/umami.go
  pkg/hecate/api/handlers.go
  pkg/kvm/orchestration/orchestrated_vm.go
  pkg/kvm/simple_vm.go
  pkg/packer/installer_helpers.go
  pkg/process/detector.go
Labels: documentation, cli, pkg-kvm, pkg-hecate, pkg-other

docs: consolidate mission values into philosophy section with clearer formatting
  CLAUDE.md
Labels: documentation

refactor: replace fmt prints with structured logging using otelzap
  cmd/update/sync_ldap_authc_to_delphi.go
  pkg/database_management/authc.go
  pkg/database_management/database.go
  pkg/delphi/interaction.go
  pkg/delphi/ldap.go
  pkg/kvm/lifecycle.go
  pkg/kvm/network.go
  pkg/kvm/utils.go
  pkg/ldap/handler.go
Labels: cli, pkg-kvm, pkg-delphi, pkg-ldap, pkg-other

feat: add architecture detection for Linux Go installation
  install.sh
Labels: scripts

refactor: improve error handling in configuration extraction with detailed messages
  pkg/authentik/extract_helper.go
Labels: pkg-other

refactor: replace console output with structured logging and improve error handling in VM management
  pkg/kvm/orchestration/orchestrated_vm.go
  pkg/kvm/simple_vm.go
  pkg/packer/installer_helpers.go
Labels: pkg-kvm, pkg-other

feat: add support for blueprints, outposts, and tenants in authentik backup
  cmd/backup/authentik.go
  pkg/authentik/extract_helper.go
  pkg/kvm/orchestration/orchestrated_vm.go
  pkg/kvm/simple_vm.go
Labels: cli, pkg-kvm, pkg-other

fix: improve security by using crypto/rand for passwords and preventing command injection vulnerabilities
  cmd/backup/authentik.go
  pkg/dev_environment/code_server.go
  pkg/kvm/inventory.go
  pkg/kvm/orchestration/orchestrated_vm.go
Labels: cli, pkg-kvm, pkg-other

fix: restore missing time import in code_server.go
  pkg/dev_environment/code_server.go
Labels: pkg-other

feat: add list, show, and restore subcommands to authentik backup
  cmd/backup/authentik.go
  cmd/backup/backup.go
  cmd/read/authentik.go
  pkg/authentik/client.go
  pkg/authentik/extract.go
  pkg/authentik/extract_helper.go
Labels: cli, pkg-other

feat: add Consul-based config management and improve VM agent setup
  cmd/backup/authentik.go
  cmd/backup/backup.go
  cmd/config/config.go
  cmd/read/authentik.go
  cmd/root.go
  pkg/consul_config/config.go
  pkg/kvm/orchestration/orchestrated_vm.go
Labels: cli, pkg-kvm, pkg-other

fix: use context-aware sleep and secure file permissions for secrets
  cmd/backup/authentik.go
  cmd/create/umami.go
  integration_test.go
  pkg/authentik/extract_helper.go
  pkg/consul/install.go
  pkg/delphi/ldap.go
  pkg/kvm/lifecycle.go
  pkg/ragequit/emergency/actions.go
  pkg/remotedebug/ssh.go
  pkg/services/service_installation/caddy.go
  pkg/services/service_installation/tailscale.go
  pkg/vault/install.go
Labels: cli, pkg-vault, pkg-kvm, pkg-delphi, pkg-other

fix: remove automatic util-linux installation and fallback to /proc/mounts if findmnt missing
  pkg/consul/install.go
Labels: pkg-other

feat: add SetDomainAutostart function to control VM startup behavior
  cmd/delete/kvm.go
  cmd/update/kvm_modify.go
  pkg/kvm/libvirt.go
Labels: cli, pkg-kvm, pkg-other

fix: skip vault config validation if binary not found and make executable
  pkg/vault/install.go
Labels: pkg-vault, pkg-other

feat: add detailed error logging and remediation steps when Vault service fails to start
  pkg/vault/install.go
Labels: pkg-vault, pkg-other

refactor: simplify consul and nomad deletion to use native removal functions
  cmd/delete/consul.go
  cmd/delete/nomad.go
  cmd/delete/vault.go
  cmd/read/consul.go
  cmd/read/nomad.go
Labels: cli

feat: add client/server mode flags for Consul and fix Nomad mode flag conflicts
  cmd/create/consul.go
  cmd/create/nomad.go
  cmd/create/secrets.go
  cmd/list/consul.go
  cmd/list/nomad.go
  pkg/vault/install.go
Labels: cli, pkg-vault, pkg-other

fix: remove non-functional list commands (require pkg implementation)
  cmd/list/consul.go
  cmd/list/nomad.go
Labels: cli

fix: improve Vault config validation error reporting
  pkg/vault/install.go
Labels: pkg-vault, pkg-other

feat: add comprehensive vault debug command and improve validation diagnostics
  cmd/debug/vault.go
  pkg/vault/install.go
Labels: cli, pkg-vault, pkg-other

fix: use lowercase debugCmd to match existing debug command structure
  cmd/debug/vault.go
Labels: cli

feat: create comprehensive pkg/debug framework and refactor vault debug
  cmd/debug/vault.go
  cmd/debug/vault_old.go
  pkg/debug/collector.go
  pkg/debug/common.go
  pkg/debug/formatters.go
  pkg/debug/types.go
  pkg/debug/vault/diagnostics.go
Labels: cli, pkg-other

feat: enhance vault debug output with analysis, next steps and sanitization
  cmd/debug/vault.go
  pkg/debug/analyzer.go
  pkg/debug/vault/analyzer.go
  pkg/debug/vault/tls.go
Labels: cli, pkg-other

feat: add multi-environment deployment support with Consul, Vault and WireGuard mesh networking
  cmd/bootstrap/bootstrap.go
  cmd/bootstrap/bootstrap_enhanced.go
  pkg/bootstrap/environment_setup.go
  pkg/environment/config.go
  pkg/hecate/consul_integration.go
  pkg/kvm/consul_autoregister.go
  pkg/kvm/consul_register.go
  pkg/kvm/simple_vm.go
  pkg/vault/consul_registration.go
  pkg/vault/discovery.go
  pkg/vault/hcl_validator_test.go
  pkg/vault/install.go
Labels: cli, pkg-vault, pkg-kvm, pkg-hecate, pkg-other

feat: add auto-generated self-signed TLS certificate support for Vault installation
  cmd/create/hashicorp_native.go
  cmd/create/secrets.go
  pkg/vault/install.go
Labels: cli, pkg-vault, pkg-other

.github/labeler.yml:

# Top-level docs
documentation:
  - README.md
  - SECURITY.md
  - LICENSE.*
  - '**/*.md'

cli:
  - main.go
  - cmd/**
  - policies/**
  - sql/**

ansible:
  - ansible/**

scripts:
  - scripts/**
  - install.sh
  - installGoAndGhOnRhel.sh
  - setupGo.sh
  - uninstall.sh
  - install.ps1

pkg-container:
  - pkg/container/**
  - pkg/docker/**

pkg-vault:
  - pkg/vault/**

pkg-kvm:
  - pkg/kvm/**

pkg-delphi:
  - pkg/delphi/**

pkg-crypto:
  - pkg/crypto/**

pkg-hecate:
  - pkg/hecate/**
  - cmd/hecate/**

pkg-ldap:
  - pkg/ldap/**

pkg-mattermost:
  - pkg/mattermost/**

pkg-platform:
  - pkg/platform/**

pkg-utils:
  - pkg/utils/**
  - pkg/shared/**
  - pkg/logger/**

pkg-other:
  - pkg/**

ci:
  - .github/workflows/**
  - .github/labeler.yml
  - .github/dependabot.yml

dependencies:
  - go.mod
  - go.sum
  - Dockerfile
  - docker-compose.yml

policies:
  - policies/**
sql:
  - sql/**
