Repository CodeMonkeyCybersecurity/eos, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, cli, ansible, scripts, pkg-container, pkg-vault, pkg-kvm, pkg-delphi, pkg-crypto, pkg-hecate, pkg-ldap, pkg-mattermost, pkg-platform, pkg-utils, pkg-other, ci, dependencies, policies, sql

Refactor and reorganize crypto package; remove handler.go, enhance password generation and validation, and introduce new parsing utilities
  go.mod
  go.sum
  pkg/cli/cli.go
  pkg/config/config.go
  pkg/crypto/bcrypt.go
  pkg/crypto/fuzz_test.go
  pkg/crypto/hash.go
  pkg/crypto/passwd.go
  pkg/crypto/redact.go
  pkg/delphi/provision_test.go
  pkg/interaction/fuzz_test.go
  pkg/parse/csv.go
  pkg/parse/fuzz_test.go
  pkg/parse/json.go
  pkg/parse/paths.go
  pkg/parse/yaml.go
  pkg/shell/shell.go
Labels: pkg-delphi, pkg-crypto, pkg-other, dependencies

feat: Add data retention policies and definitions for various log types
  .github/workflows/# Tools Configuration.go
  policies/data-retention.yml
  policies/data_policy.cue
Labels: cli, ci, policies

changes
  cmd/clean/clean.go
  cmd/clean/for_microsoft.go
  cmd/enable/postgres.go
  go.mod
  go.sum
  pkg/alerts/model.go
  pkg/alerts/render.go
  pkg/alerts/smtp.go
  pkg/clean/clean.go
  pkg/eos_cue/cue.go
  pkg/eos_io/context.go
  pkg/eos_opa/opa.go
  pkg/eos_postgres/postgres.go
  pkg/eos_postgres/types.go
  pkg/execute/execute.go
  pkg/postgres/postgres.go
  pkg/stackstorm/emailer.go
  pkg/stackstorm/templates.go
  pkg/stackstorm/watcher.go
  pkg/templates/email_body.html
  pkg/templates/email_body.txt
  pkg/templates/email_subject.txt
  pkg/templates/embed.go
  pkg/verify/context.go
  pkg/verify/opa.go
Labels: cli, pkg-other, dependencies

feat: Implement LLM worker and email notification system
  assets/.env.example
  assets/LLM-worker.py
  assets/alert-to-db.py
  assets/delphi-emailer.py
  go.mod
  pkg/alerts/smtp.go
  pkg/eos_postgres/delphi_pipeline.go
  pkg/llm/helpers.go
  pkg/llm/main.tf
  pkg/llm/outputs.tf
  pkg/llm/variables.tf
  sql/schema.sql
Labels: cli, pkg-other, dependencies, sql

refactor: Remove rate limiting logic and improve email logging
  assets/delphi-emailer.py
Labels: none

feat: Extend fetch_unsent_alerts query to include additional alert fields
  assets/delphi-emailer.py
Labels: none

feat: Enhance email sending functionality with retry logic and improve logging
  assets/delphi-emailer.py
Labels: none

feat: Improve SMTP email sending with retry logic and enhanced logging
  assets/delphi-emailer.py
Labels: none

feat: Enhance alert processing with detailed logging for insertions and duplicates
  assets/alert-to-db.py
  assets/stackstorm-webhook.yml
Labels: none

feat: Enhance logging in LLM worker for better error tracking and alert processing
  assets/LLM-worker.py
Labels: none

feat: Add comments for clarity on webhook configuration and usage
  assets/stackstorm-webhook.yml
Labels: none

feat: Refactor emailer to improve environment variable validation and logging setup; add HTML email template
  assets/delphi-emailer.py
  assets/email.html
Labels: none

fix: Update email template path to correct location
  assets/delphi-emailer.py
Labels: none

fix: Correct email template file path in HTML header
  assets/email.html
Labels: none

fix: Update .env.example with correct Mailcow SMTP configuration and add missing SUPPORT_EMAIL variable; enhance delphi-emailer.py header comments
  assets/.env.example
  assets/delphi-emailer.py
Labels: none

feat: Enhance emailer functionality by adding alert ID to email template and refactoring HTML structure; improve code readability
  assets/delphi-emailer.py
  assets/email.html
Labels: none

fix: Update SQL query in fetch_alert to include agent_id; refactor format_html parameters for clarity; improve error logging in main loop
  assets/delphi-emailer.py
Labels: none

fix: Remove redundant title element from email template for improved clarity
  assets/email.html
Labels: none

fix: Update fetch_unsent_alerts to include agent_name in query; modify format_subject to reflect new subject format
  assets/delphi-emailer.py
Labels: none

fix: Correct SQL query in fetch_unsent_alerts to reference the correct table alias for agent_name
  assets/delphi-emailer.py
Labels: none

fix: Simplify SQL query in fetch_unsent_alerts by removing agent_name reference and adjusting selected fields
  assets/delphi-emailer.py
Labels: none

fix: Refactor fetch_alert SQL query for improved readability; enhance error handling in main loop
  assets/delphi-emailer.py
Labels: none

fix: Update alert hashing method for consistency; rename listen channel and adjust SQL queries in delphi-emailer
  assets/alert-to-db.py
  assets/delphi-emailer.py
Labels: none

fix: Rename parameter in compute_alert_hash to avoid conflict with outer variable
  assets/alert-to-db.py
Labels: none

fix: Refactor alert processing logic for improved error handling and logging; enhance database operations
  assets/alert-to-db.py
Labels: none

fix: Enhance logging and error handling in alert processing; improve alert insertion logic and database interactions
  assets/alert-to-db.py
Labels: none

fix: Enhance logging and error handling in LLM worker; improve alert processing and database interactions
  assets/LLM-worker.py
Labels: none

fix: Improve logging messages for skipped alerts and database integrity errors; ensure consistent timestamp formatting
  assets/alert-to-db.py
Labels: none

Update install.sh
  install.sh
Labels: scripts

feat: Refactor 'read' command to 'inspect' for clarity; implement subcommands for API details, configuration, user credentials, and keepalive checks
  cmd/delphi/delphi.go
  cmd/delphi/inspect/api.go
  cmd/delphi/inspect/config.go
  cmd/delphi/inspect/credentials.go
  cmd/delphi/inspect/inspect.go
  cmd/delphi/inspect/keepalive.go
  cmd/delphi/inspect/users.go
  cmd/delphi/read/read.go
  cmd/root.go
Labels: cli

feat: Rename 'ReadCmd' to 'InspectCmd' for clarity; update command usage and help messages
  cmd/delphi/inspect/inspect.go
  cmd/root.go
Labels: cli

Update install.sh
  install.sh
Labels: scripts

feat: Implement CreateLogtestSession function to analyze logs with specified formats
  pkg/delphi/agent.go
  pkg/delphi/logtest.go
Labels: pkg-delphi, pkg-other

feat: Add 'list' command for Delphi (Wazuh) resources with subcommand support
  cmd/delphi/list/list.go
Labels: cli

feat: Enhance alert deduplication logic with tiered checks and improved logging
  assets/alert-to-db.py
Labels: none

feat: Update WriteSSHKey to use context for Vault operations
  pkg/vault/util_write.go
Labels: pkg-vault, pkg-other

feat: Update section parsing in delphi-emailer and adjust SQL schema for agent status
  assets/delphi-emailer.py
  sql/schema.sql
Labels: cli, sql

feat: Update environment configuration and enhance agents table schema with new fields
  assets/.env.example
  assets/alert-enrichment-agent.py
  sql/schema.sql
Labels: cli, sql

feat: Remove loading of Wazuh API specific secrets from .delphi.env
  assets/alert-enrichment-agent.py
Labels: none

feat: Refactor alert enrichment logic and enhance Wazuh API interaction for improved agent data retrieval
  assets/alert-enrichment-agent.py
Labels: none

.github/labeler.yml:

# Top-level docs
documentation:
  - README.md
  - SECURITY.md
  - LICENSE.*
  - '**/*.md'

cli:
  - main.go
  - cmd/**
  - policies/**
  - sql/**

ansible:
  - ansible/**

scripts:
  - scripts/**
  - install.sh
  - installGoAndGhOnRhel.sh
  - setupGo.sh
  - uninstall.sh
  - install.ps1

pkg-container:
  - pkg/container/**
  - pkg/docker/**

pkg-vault:
  - pkg/vault/**

pkg-kvm:
  - pkg/kvm/**

pkg-delphi:
  - pkg/delphi/**

pkg-crypto:
  - pkg/crypto/**

pkg-hecate:
  - pkg/hecate/**
  - cmd/hecate/**

pkg-ldap:
  - pkg/ldap/**

pkg-mattermost:
  - pkg/mattermost/**

pkg-platform:
  - pkg/platform/**

pkg-utils:
  - pkg/utils/**
  - pkg/shared/**
  - pkg/logger/**

pkg-other:
  - pkg/**

ci:
  - .github/workflows/**
  - .github/labeler.yml
  - .github/dependabot.yml

dependencies:
  - go.mod
  - go.sum
  - Dockerfile
  - docker-compose.yml

policies:
  - policies/**
sql:
  - sql/**
