Repository CodeMonkeyCybersecurity/eos, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, cli, ansible, scripts, pkg-container, pkg-vault, pkg-kvm, pkg-delphi, pkg-crypto, pkg-hecate, pkg-ldap, pkg-mattermost, pkg-platform, pkg-utils, pkg-other, ci, dependencies, policies, sql

feat: detect and use actual consul binary path in systemd service configuration
  pkg/consul/systemd/service.go
Labels: pkg-other

feat: add timeout and helpful error messages for Ceph cluster connectivity checks
  cmd/debug/ceph.go
Labels: cli

feat: add Consul storage backend as default for Vault with improved error handling and migration warnings
  cmd/create/consul.go
  cmd/create/secrets.go
  pkg/consul/install.go
  pkg/shared/vault_server.go
  pkg/vault/install.go
  pkg/vault/phase4_config.go
  pkg/vault/raft_helpers.go
Labels: cli, pkg-vault, pkg-utils, pkg-other

feat: improve Consul installation UX with better progress messages and confirmation flow
  cmd/create/consul.go
  pkg/consul/install.go
Labels: cli, pkg-other

refactor: deprecate file storage backend and default to Consul for Vault installations
  cmd/create/hashicorp_native.go
  pkg/shared/vault_server.go
  pkg/vault/install.go
Labels: cli, pkg-vault, pkg-utils, pkg-other

chore: upgrade Go to 1.25.1 and update dependencies
  cmd/sync/consul.go
  go.mod
  go.sum
  pkg/sync/connectors/consul_tailscale.go
  pkg/tailscale/client.go
Labels: cli, pkg-other, dependencies

feat: add Tailscale auto-discovery connector for Consul node clustering
  cmd/sync/root.go
  pkg/sync/connectors/consul_tailscale_auto.go
Labels: cli, pkg-other

refactor: change consul node specification from flags to --nodes array argument
  cmd/sync/consul.go
  cmd/sync/root.go
Labels: cli

feat: add detailed cluster state and retry join validation to Consul diagnostics
  cmd/debug/consul.go
  pkg/consul/debug/checks.go
  pkg/consul/debug/config_helpers.go
  pkg/consul/debug/diagnostics.go
  pkg/consul/debug/port_analysis.go
Labels: cli, pkg-other

feat: align HashiCorp service ports with upstream defaults
  cmd/update/consul.go
  cmd/update/secrets.go
  cmd/update/update.go
  cmd/update/vault.go
  pkg/consul/debug/port_analysis.go
  pkg/shared/ports.go
Labels: cli, pkg-utils, pkg-other

refactor: remove deprecated vault update command and related imports
  cmd/update/secrets.go
Labels: cli

feat: add Mattermost debugging subcommand to debug CLI tool
  cmd/debug/debug.go
  cmd/debug/mattermost.go
  pkg/mattermost/debug/diagnostics.go
Labels: cli, pkg-mattermost, pkg-other

refactor: replace shell command execution with Docker API client for container operations
  pkg/mattermost/debug/diagnostics.go
Labels: pkg-mattermost, pkg-other

refactor: improve logging and error handling in diagnostics checks
  cmd/debug/metis.go
  cmd/update/system.go
  pkg/mattermost/debug/diagnostics.go
Labels: cli, pkg-mattermost, pkg-other

refactor: rename repair command to fix and add backwards compatibility alias
  cmd/fix/fix.go
  cmd/fix/mattermost.go
  cmd/fix/metis.go
  cmd/fix/vault.go
  cmd/root.go
  pkg/mattermost/fix/fix.go
Labels: cli, pkg-mattermost, pkg-other

feat: improve container lookup to support Docker Compose labels and fallback name matching
  pkg/mattermost/fix/fix.go
Labels: pkg-mattermost, pkg-other

docs: add Docker SDK consolidation proposal with unified container management approach
  docs/DOCKER_SDK_CONSOLIDATION_PROPOSAL.md
  docs/DOCKER_SDK_MIGRATION_GUIDE.md
  docs/DOCKER_SDK_PHASE1_COMPLETE.md
  pkg/container/client.go
  pkg/container/discovery.go
  pkg/container/examples_test.go
  pkg/container/operations.go
Labels: documentation, pkg-container, pkg-other

feat: expand Mattermost volume permission checks and fixes
  cmd/fix/mattermost.go
  cmd/list/containers.go
  docs/CONTAINER_MERGE_PROGRESS.md
  docs/MATTERMOST_DIAGNOSTICS_ENHANCEMENT.md
  docs/SESSION_COMPLETE.md
  docs/SESSION_SUMMARY.md
  pkg/container/compose_management.go
  pkg/container/list.go
  pkg/container/types.go
  pkg/mattermost/debug/diagnostics.go
Labels: documentation, cli, pkg-container, pkg-mattermost, pkg-other

refactor: migrate HashiCorp service ports to use official default values (Vault 8200, Nomad 4646, Consul 8500)
  cmd/backup/authentik.go
  cmd/create/penpot.go
  cmd/delete/config.go
  cmd/list/config.go
  cmd/read/config.go
  cmd/update/config.go
  docs/HARDCODED_PORTS_AUDIT.md
  pkg/consul/config/config.go
  pkg/environment/discovery.go
  pkg/servicestatus/vault.go
  pkg/shared/ports.go
  pkg/shared/service_addresses.go
  pkg/shared/vault_server.go
  pkg/vault/CONSOLIDATION_PLAN.md
  pkg/vault/CONSOLIDATION_PLAN_V2.md
  pkg/vault/RAFT_MIGRATION_SUMMARY.md
  pkg/vault/vault-complete-specification-v1.0-raft-integrated.md
  pkg/vault/vault-documentation-update-summary.md
  scripts/recover-hashicorp.sh
Labels: documentation, cli, scripts, pkg-vault, pkg-utils, pkg-other

refactor: remove metis.go and migrate to new package structure
  cmd/create/iris.go
  cmd/create/wazuh.go
  cmd/create/wazuh_templates.go
  cmd/debug/debug.go
  cmd/debug/delphi.go
  cmd/debug/iris/checks/configuration.go
  cmd/debug/iris/checks/infrastructure.go
  cmd/debug/iris/types.go
  cmd/debug/metis.go
  cmd/debug/wazuh.go
  cmd/fix/fix.go
  cmd/fix/metis.go
  cmd/repair/metis.go
  cmd/repair/repair.go
  docs/CODEBASE-MODULARIZATION-PLAN.md
  docs/METIS-MODULARIZATION-ANALYSIS.md
  docs/METIS-MODULARIZATION-PROGRESS.md
  docs/MODULARIZATION-COMPLETE-FILE-1.md
  docs/MODULARIZATION-EXECUTIVE-SUMMARY.md
  docs/MODULARIZATION-PROGRESS.md
  docs/MODULARIZATION-SESSION-SUMMARY.md
  docs/NEXT-STEPS-MODULARIZATION.md
  docs/SESSION-SUMMARY-2025-10-10.md
  pkg/hecate/routes.go
  pkg/iris/templates.go
  pkg/vault/mfa.go
Labels: documentation, cli, pkg-vault, pkg-hecate, pkg-other

feat: add system packages and Go version update options to self-update command
  cmd/backup/authentik.go
  cmd/backup/docker.go
  cmd/debug/wazuh.go
  cmd/self/self.go
  pkg/container/compose_management.go
  pkg/container/examples_test.go
  pkg/debug/vault/diagnostics.go
  pkg/self/updater_enhanced.go
  pkg/shared/vault_server.go
  pkg/vault/client_context.go
  pkg/vault/hcl_validator_test.go
  pkg/vault/mfa.go
  pkg/vault/phase14_start_agent_and_validate.go
Labels: cli, pkg-container, pkg-vault, pkg-utils, pkg-other

feat: add comprehensive agent connectivity diagnostics with DNS, network, and firewall checks
  cmd/debug/wazuh.go
Labels: cli

style: remove chart emoji from logs and documentation
  assets/python_workers/parser-monitor.py
  cmd/debug/wazuh.go
  cmd/read/environment.go
  docs/SESSION_COMPLETE.md
  docs/archive/migration/VAULT_ADVERSARIAL_REVIEW.md
  pkg/penpot/crud.go
  pkg/telemetry/telemetry_management/stats.go
  scripts/comprehensive-fuzz-runner.sh
  scripts/comprehensive-test-runner.sh
  scripts/overnight-fuzz-simple.sh
  scripts/overnight-fuzz.sh
  scripts/run-fuzz-tests.sh
Labels: documentation, cli, scripts, pkg-other

.github/labeler.yml:

# Top-level docs
documentation:
  - README.md
  - SECURITY.md
  - LICENSE.*
  - '**/*.md'

cli:
  - main.go
  - cmd/**
  - policies/**
  - sql/**

ansible:
  - ansible/**

scripts:
  - scripts/**
  - install.sh
  - installGoAndGhOnRhel.sh
  - setupGo.sh
  - uninstall.sh
  - install.ps1

pkg-container:
  - pkg/container/**
  - pkg/docker/**

pkg-vault:
  - pkg/vault/**

pkg-kvm:
  - pkg/kvm/**

pkg-delphi:
  - pkg/delphi/**

pkg-crypto:
  - pkg/crypto/**

pkg-hecate:
  - pkg/hecate/**
  - cmd/hecate/**

pkg-ldap:
  - pkg/ldap/**

pkg-mattermost:
  - pkg/mattermost/**

pkg-platform:
  - pkg/platform/**

pkg-utils:
  - pkg/utils/**
  - pkg/shared/**
  - pkg/logger/**

pkg-other:
  - pkg/**

ci:
  - .github/workflows/**
  - .github/labeler.yml
  - .github/dependabot.yml

dependencies:
  - go.mod
  - go.sum
  - Dockerfile
  - docker-compose.yml

policies:
  - policies/**
sql:
  - sql/**
