Repository CodeMonkeyCybersecurity/eos, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, cli, ansible, scripts, pkg-container, pkg-vault, pkg-kvm, pkg-delphi, pkg-crypto, pkg-hecate, pkg-ldap, pkg-mattermost, pkg-platform, pkg-utils, pkg-other, ci, dependencies, policies, sql

.github/labeler.yml:

# Top-level docs
documentation:
  - README.md
  - SECURITY.md
  - LICENSE.*
  - '**/*.md'

cli:
  - main.go
  - cmd/**
  - policies/**
  - sql/**

ansible:
  - ansible/**

scripts:
  - scripts/**
  - install.sh
  - installGoAndGhOnRhel.sh
  - setupGo.sh
  - uninstall.sh
  - install.ps1

pkg-container:
  - pkg/container/**
  - pkg/docker/**

pkg-vault:
  - pkg/vault/**

pkg-kvm:
  - pkg/kvm/**

pkg-delphi:
  - pkg/delphi/**

pkg-crypto:
  - pkg/crypto/**

pkg-hecate:
  - pkg/hecate/**
  - cmd/hecate/**

pkg-ldap:
  - pkg/ldap/**

pkg-mattermost:
  - pkg/mattermost/**

pkg-platform:
  - pkg/platform/**

pkg-utils:
  - pkg/utils/**
  - pkg/shared/**
  - pkg/logger/**

pkg-other:
  - pkg/**

ci:
  - .github/workflows/**
  - .github/labeler.yml
  - .github/dependabot.yml

dependencies:
  - go.mod
  - go.sum
  - Dockerfile
  - docker-compose.yml

policies:
  - policies/**
sql:
  - sql/**

feat: Update Wazuh API connection details in .env.example and alert-enrichment-agent.py
  assets/.env.example
  assets/alert-enrichment-agent.py
Labels: none

Implement Delphi alert processing system with email notifications and LLM integration
  assets/python_workers/alert-enrichment-agent.py
  assets/python_workers/alert-to-db.py
  assets/python_workers/delphi-emailer.py
  assets/python_workers/llm-worker.py
  assets/services/delphi-emailer.service
  assets/services/llm-worker.service
  assets/stackstorm_rules/pack.yaml
  assets/stackstorm_rules/stackstorm-webhook.yml
Labels: none

Add delphi-agent-enricher script and systemd service configuration
  assets/python_workers/alert-to-db.py
  assets/python_workers/delphi-agent-enricher.py
  assets/python_workers/delphi-emailer.py
  assets/python_workers/llm-worker.py
  assets/services/delphi-agent-enricher.service
Labels: none

feat: Consolidate alert timestamp and ID display in email template
  assets/email.html
Labels: none

fix: Improve notification handling in enriched alerts listener and reduce sleep duration
  assets/python_workers/llm-worker.py
Labels: none

refactor: Consolidate imports, enhance logging, and improve alert processing logic
  assets/python_workers/delphi-agent-enricher.py
Labels: none

Update install.sh
  install.sh
Labels: scripts

Update install.sh
  install.sh
Labels: scripts

Update install.sh
  install.sh
Labels: scripts

fix: Update script generation to use Bash with improved error handling and logging
  cmd/create/k3s.go
Labels: cli

Refactor: Standardize capitalization of "Eos" across the codebase
  CLAUDE.md
  cmd/backup/backup.go
  cmd/config/config.go
  cmd/config/telemetry.go
  cmd/create/hecate.go
  cmd/create/k3s.go
  cmd/enable/postgres.go
  cmd/read/logs.go
  cmd/read/vault.go
  cmd/refresh/eos_passwd.go
  cmd/refresh/refresh.go
  cmd/root.go
  install.ps1
  install.sh
  pkg/config/config.go
  pkg/container/jenkins.go
  pkg/eos_unix/user_eos.go
  pkg/httpclient/httpclient.go
  pkg/logger/reader.go
  pkg/mattermost/patch.go
  pkg/platform/arch.go
  pkg/shared/fields.go
  pkg/shared/vault_entities.go
  pkg/shared/vault_kvv2.go
  pkg/stackstorm/emailer.go
  pkg/stackstorm/templates.go
  pkg/vault/auth_approle.go
  pkg/vault/auth_userpass.go
  pkg/vault/client.go
  pkg/vault/lifecycle2_enable.go
  pkg/vault/phase10a_enable_userpass.go
  pkg/vault/phase10b_enable_approle.go
  pkg/vault/phase10c_create_entity.go
  pkg/vault/phase11_write_policies.go
  pkg/vault/phase13_write_agent_config.go
  pkg/vault/phase3_tls_cert.go
  pkg/vault/vault.go
  policies/data-retention.yml
  policies/data_policy.cue
  uninstall.sh
Labels: documentation, cli, scripts, pkg-container, pkg-vault, pkg-mattermost, pkg-platform, pkg-utils, pkg-other, policies

Implement enhanced security measures for Vault authentication and token management
  TESTING_GUIDE.md
  pkg/crypto/certificate_security_test.go
  pkg/crypto/certs.go
  pkg/crypto/input_validation.go
  pkg/crypto/passwd.go
  pkg/crypto/security_test.go
  pkg/delphi/provision_example_test.go
  pkg/delphi/provision_test.go
  pkg/eos_err/security_improvements.go
  pkg/httpclient/httpclient.go
  pkg/shared/input_validation.go
  pkg/testutil/testutil.go
  pkg/vault/auth.go
  pkg/vault/auth_security.go
  pkg/vault/auth_security_test.go
  pkg/vault/file_security.go
  pkg/vault/file_security_test.go
  pkg/vault/security_test.go
Labels: documentation, pkg-vault, pkg-delphi, pkg-crypto, pkg-utils, pkg-other

fix: Correct function call for GetInternalHostname in TLS SAN prompt
  cmd/create/k3s.go
Labels: cli

Add comprehensive integration testing framework and scenarios
  INTEGRATION_TESTING.md
  integration_scenarios_test.go
  integration_test.go
  pkg/eos_cli/wrap_test.go
  pkg/eos_io/context_test.go
  pkg/testutil/errors.go
  pkg/testutil/filesystem.go
  pkg/testutil/integration.go
  pkg/testutil/scenarios.go
  pkg/testutil/testutil.go
  pkg/vault/auth_security.go
  pkg/vault/auth_security_test.go
  pkg/vault/security_test.go
Labels: documentation, pkg-vault, pkg-other

feat: Enhance CI/CD workflows with comprehensive testing and security measures
  .github/workflows/lint.yml
  .github/workflows/quality-gates.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  CLAUDE.md
  integration_scenarios_test.go
  pkg/crypto/security_test.go
  pkg/testutil/scenarios.go
Labels: documentation, pkg-crypto, pkg-other, ci

chore: Update Go version to 1.24 in CI workflows and enhance workflow validation
  .github/workflows/lint.yml
  .github/workflows/quality-gates.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .github/workflows/validate.yml
  cmd/create/k3s.go
  pkg/crypto/security_test.go
  pkg/testutil/scenarios.go
Labels: cli, pkg-crypto, pkg-other, ci

feat: Add HCL command for installing HashiCorp tools with support for multiple tools
  cmd/create/hcl.go
Labels: cli

fix: Add eos pattern to .gitignore to prevent tracking of EOS-related files
  .gitignore
Labels: none

fix: Remove EOS-related files from tracking and update .gitignore
  .gitignore
Labels: none

feat(terraform): Implement Terraform command workflow and templates
  cmd/create/k3s.go
  cmd/create/terraform_workflow.go
  pkg/terraform/templates.go
  pkg/terraform/terraform.go
  pkg/terraform/terraform_test.go
  pkg/terraform/types.go
Labels: cli, pkg-other

feat: Add K3s deployment with Caddy and Nginx
  README-terraform-integration.md
  cmd/create/hecate_terraform.go
  cmd/create/k3s_caddy_nginx.go
  pkg/terraform/k3s_caddy_nginx.go
Labels: documentation, cli, pkg-other

feat: Add HCL command for installing HashiCorp tools with support for Packer QEMU plugin and update documentation
  CLAUDE.md
  cmd/create/hcl.go
  cmd/root.go
  cmd/self/self.go
  docs/commands/hcl.md
  pkg/shared/ports.go
Labels: documentation, cli, pkg-utils, pkg-other

feat: Add Vault integration for Terraform with K3s and Hetzner support
  cmd/create/terraform_vault.go
  cmd/create/terraform_vault_generators.go
  pkg/terraform/vault_integration.go
  pkg/terraform/vault_templates.go
Labels: cli, pkg-other

feat(terraform): Implement Consul integration and templates
  .gitignore
  cmd/ai/ai.go
  cmd/create/terraform_consul.go
  cmd/root.go
  pkg/ai/actions.go
  pkg/ai/ai.go
  pkg/ai/environment.go
  pkg/terraform/consul_integration.go
  pkg/terraform/consul_templates.go
  pkg/terraform/vault_integration.go
Labels: cli, pkg-other

feat(ai): Enhance AI assistant initialization and add configuration management
  cmd/ai/ai.go
  pkg/ai/ai.go
  pkg/ai/config.go
Labels: cli, pkg-other

feat(ai): Add support for Azure OpenAI provider and enhance configuration management
  cmd/ai/ai.go
  pkg/ai/ai.go
  pkg/ai/config.go
Labels: cli, pkg-other

feat(vault): implement Multi-Factor Authentication (MFA) configuration
  cmd/secure/vault.go
  pkg/shared/vault_policies.go
  pkg/vault/hardening.go
  pkg/vault/lifecycle2_enable.go
  pkg/vault/mfa.go
  pkg/vault/phase11_write_policies.go
Labels: cli, pkg-vault, pkg-utils, pkg-other

feat(docs): add system directory structure and Vault integration details
  CLAUDE.md
Labels: documentation

feat(vault): implement comprehensive HCL validation for Vault policies
  CLAUDE.md
  cmd/read/vault.go
  go.mod
  go.sum
  pkg/shared/vault_policies.go
  pkg/vault/README.md
  pkg/vault/hcl_validator.go
  pkg/vault/hcl_validator_test.go
  pkg/vault/phase11_write_policies.go
  pkg/vault/secure_init_reader.go
  pkg/vault/validation_README.md
Labels: documentation, cli, pkg-vault, pkg-utils, pkg-other, dependencies

feat(vault): enhance Vault Agent enablement and status checks with comprehensive configuration and monitoring
  cmd/read/vault.go
  pkg/eos_unix/systemctl.go
  pkg/vault/agent_lifecycle.go
  pkg/vault/lifecycle2_enable.go
Labels: cli, pkg-vault, pkg-other

fix(vault): improve policy validation error handling and logging
  pkg/shared/vault_policies.go
  pkg/vault/phase11_write_policies.go
Labels: pkg-vault, pkg-utils, pkg-other

feat(vault): enhance policy validation by enforcing parameter syntax and converting list-style definitions to object-style
  pkg/shared/vault_policies.go
  pkg/vault/hcl_validator.go
Labels: pkg-vault, pkg-utils, pkg-other

feat(vault): implement programmatic policy builder and presets for Vault policies
  go.mod
  go.sum
  pkg/vault/phase11_write_policies.go
  pkg/vault/policy_builder.go
  pkg/vault/policy_presets.go
Labels: pkg-vault, pkg-other, dependencies

feat(vault): enhance TOTP MFA configuration and storage with Identity-based method
  pkg/vault/mfa.go
Labels: pkg-vault, pkg-other

fix(vault): update AppRole credential paths to use shared.AppRoleName for consistency
  pkg/vault/agent_lifecycle.go
Labels: pkg-vault, pkg-other

fix(vault): update listener port and use AppRoleName for consistency; add runtime directory setup
  pkg/shared/vault_agent.go
  pkg/shared/vault_auth.go
  pkg/vault/phase14_start_agent_and_validate.go
Labels: pkg-vault, pkg-utils, pkg-other

fix(vault): update systemd unit template and agent configuration to use relative path for RuntimeDirectory and disable cache
  pkg/shared/vault_agent.go
  pkg/vault/phase13_write_agent_config.go
Labels: pkg-vault, pkg-utils, pkg-other

feat(vault): implement self-signed certificate generation with SAN support and ensure TLS directory creation
  pkg/vault/phase3_tls_cert.go
Labels: pkg-vault, pkg-other

fix(vault): ensure Vault Agent CA exists before securing ownership
  pkg/vault/phase3_tls_cert.go
Labels: pkg-vault, pkg-other

feat(hcl): add support for Boundary tool installation in HCL command
  cmd/create/hcl.go
  docs/commands/hcl.md
Labels: documentation, cli
