Repository CodeMonkeyCybersecurity/eos, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, cli, ansible, scripts, pkg-container, pkg-vault, pkg-kvm, pkg-delphi, pkg-crypto, pkg-hecate, pkg-ldap, pkg-mattermost, pkg-platform, pkg-utils, pkg-other, ci, dependencies, policies, sql

Please enter the commit message for your changes. Lines starting with '' will be ignored, and an empty message aborts the commit.
  cmd/create/hecate_dns.go
  cmd/create/kvm_template.go
  cmd/create/kvm_tenant.go
  cmd/create/pipeline_prompts.go
  cmd/create/storage_cephfs.go
  cmd/create/storage_lvm.go
  cmd/create/storage_volume.go
  cmd/list/commands.go
  cmd/list/vault_status_enhanced.go
  cmd/ragequit/ragequit.go
  cmd/read/delphi.go
  cmd/read/storage_metrics.go
  cmd/read/storage_status.go
  cmd/self/enroll.go
  cmd/self/git_commit.go
  cmd/self/test/fuzz.go
  cmd/update/ssh.go
  cmd/update/storage.go
Labels: cli

Please enter the commit message for your changes. Lines starting with '' will be ignored, and an empty message aborts the commit.
  cmd/create/hecate.go
  cmd/create/hecate_dns.go
  cmd/create/kvm.go
  cmd/create/kvm_template.go
  cmd/create/kvm_tenant.go
  cmd/create/pipeline_prompts.go
  cmd/create/storage_cephfs.go
  cmd/create/storage_lvm.go
  cmd/create/storage_volume.go
  cmd/ragequit/ragequit.go
  cmd/read/delphi.go
  cmd/self/git_commit.go
  cmd/self/test/fuzz.go
  cmd/update/ssh.go
  cmd/update/storage.go
Labels: cli

Please enter the commit message for your changes. Lines starting with '' will be ignored, and an empty message aborts the commit.
  cmd/update/services.go
Labels: cli

Refactor: Migrate ragequit and delete secrets to modular package architecture
  cmd/delete/secrets.go
  cmd/ragequit/ragequit.go
  pkg/ragequit/diagnostics/containers.go
  pkg/ragequit/diagnostics/custom.go
  pkg/ragequit/diagnostics/databases.go
  pkg/ragequit/diagnostics/environment.go
  pkg/ragequit/diagnostics/network.go
  pkg/ragequit/diagnostics/performance.go
  pkg/ragequit/diagnostics/queues.go
  pkg/ragequit/diagnostics/resources.go
  pkg/ragequit/diagnostics/security.go
  pkg/ragequit/diagnostics/systemctl.go
  pkg/ragequit/emergency/actions.go
  pkg/ragequit/emergency/confirmation.go
  pkg/ragequit/emergency/timestamp.go
  pkg/ragequit/recovery/plan.go
  pkg/ragequit/recovery/post_reboot.go
  pkg/ragequit/system/utils.go
  pkg/ragequit/types.go
  pkg/vault/cleanup/files.go
  pkg/vault/cleanup/hardening.go
  pkg/vault/cleanup/packages.go
  pkg/vault/cleanup/services.go
  pkg/vault/cleanup/user.go
  pkg/vault/cleanup/verify.go
Labels: cli, pkg-vault, pkg-other

Refactor: Migrate backup schedule helpers to modular package architecture
  cmd/backup/schedule.go
  pkg/backup/schedule/converter.go
  pkg/systemd/systemctl.go
Labels: cli, pkg-other

Refactor: Migrate Python package installation to modular architecture
  cmd/list/preflight-install.go
  pkg/python/install.go
  pkg/python/packages.go
Labels: cli, pkg-other

Refactor: Migrate infrastructure deployment helpers to modular package architecture
  cmd/create/infrastructure.go
  pkg/infrastructure/deploy/headscale.go
  pkg/infrastructure/deploy/tailscale.go
  pkg/infrastructure/deploy/traefik.go
Labels: cli, pkg-other

Refactor: Complete initial phase of modular architecture migration
  cmd/create/pipeline_prompts.go
  pkg/pipeline/prompts.go
  pkg/shared/strings/case.go
  pkg/user/system.go
Labels: cli, pkg-utils, pkg-other

Migrate remaining vault secret management functions from cmd/self/secrets.go
  cmd/ragequit/ragequit_test.go
  cmd/self/secrets.go
  pkg/vault/auth/configure.go
  pkg/vault/secrets/credentials.go
  pkg/vault/secrets/database.go
Labels: cli, pkg-vault, pkg-other

Migrate telemetry management functions from cmd/self/telemetry.go
  cmd/self/telemetry.go
  pkg/telemetry_management/config.go
  pkg/telemetry_management/stats.go
Labels: cli, pkg-other

Migrate pipeline service management functions from cmd/read/pipeline_services.go
  cmd/read/pipeline_services.go
  pkg/pipeline/services/config.go
  pkg/pipeline/services/fileinfo.go
  pkg/pipeline/services/logs.go
  pkg/pipeline/services/status.go
  pkg/pipeline/services/types.go
Labels: cli, pkg-other

Migrate pipeline real-time monitoring functions from cmd/read/pipeline.go
  cmd/read/pipeline.go
  pkg/pipeline/monitor/display.go
  pkg/pipeline/monitor/stats.go
  pkg/pipeline/monitor/utils.go
  pkg/pipeline/monitor/watch.go
Labels: cli, pkg-other

Migrate webhook status checking functions from cmd/read/pipeline_webhook_status.go
  cmd/read/pipeline_webhook_status.go
  pkg/pipeline/webhook/output.go
  pkg/pipeline/webhook/status.go
  pkg/pipeline/webhook/types.go
  pkg/pipeline/webhook/utils.go
Labels: cli, pkg-other

Migrate pipeline alerts monitoring functions from cmd/read/pipeline_alerts.go
  cmd/read/pipeline_alerts.go
  pkg/pipeline/alerts/display.go
  pkg/pipeline/alerts/types.go
  pkg/pipeline/alerts/utils.go
  pkg/pipeline/alerts/watch.go
Labels: cli, pkg-other

Migrate git remote configuration and validation functions from cmd/self/git/remote.go
  cmd/self/git/remote.go
  pkg/git/remote/config.go
  pkg/git/remote/types.go
Labels: cli, pkg-other

Migrate enrollment configuration and utility functions from cmd/self/enroll.go
  cmd/self/enroll.go
  pkg/enrollment/config.go
  pkg/enrollment/logging.go
Labels: cli, pkg-other

Migrate vault export and display functions from cmd/read/vault.go
  cmd/read/vault.go
  pkg/vault/export_display.go
Labels: cli, pkg-vault, pkg-other

Migrate Hecate Terraform templates and configuration from cmd/create/hecate_terraform.go
  cmd/create/hecate_terraform.go
  pkg/hecate/terraform_config.go
  pkg/hecate/terraform_templates.go
Labels: cli, pkg-hecate, pkg-other

Migrate file backup flag variables from cmd/backup/file.go
  cmd/backup/file.go
  pkg/backup/file_backup/command_config.go
Labels: cli, pkg-other

Migrate 20 TODO functions from cmd/create/delphi.go
  cmd/create/delphi.go
  pkg/delphi/agents/api.go
  pkg/delphi/agents/mapping.go
  pkg/delphi/agents/types.go
  pkg/delphi/docker/credentials.go
  pkg/delphi/docker/deployment.go
Labels: cli, pkg-delphi, pkg-other

Fix compilation errors in refactored files
  pkg/backup/read_refactored.go
  pkg/container/backup.go
  pkg/container/helper_refactored.go
Labels: pkg-container, pkg-other

Fix critical security vulnerability in mapstructure dependency
  go.mod
  go.sum
Labels: dependencies

Fix critical documentation issue in docs/README.md
  docs/README.md
Labels: documentation

Eliminate critical fmt.Print security violations in vault secrets
  IMPROVEMENT_ROADMAP.md
  cmd/self/secrets.go
  pkg/vault/secrets/credentials.go
  pkg/vault/secrets/credentials_refactored.go
  pkg/vault/secrets/database.go
  pkg/vault/secrets/database_refactored.go
Labels: documentation, cli, pkg-vault, pkg-other

Complete migration of security-critical refactored packages
  cmd/list/delphi-servicesstatus.go
  cmd/list/list-delphi-services.go
  pkg/database_management/authc.go
  pkg/database_management/authc_refactored.go
  pkg/delphi/dashboard/services_module.go
  pkg/eos_unix/systemctl.go
  pkg/eos_unix/systemctl_refactored.go
  pkg/execute/execute.go
  pkg/execute/execute_refactored.go
  pkg/execute/retry.go
  pkg/execute/retry_refactored.go
Labels: cli, pkg-delphi, pkg-other

Implement comprehensive test coverage improvements across core packages
  cmd/create/nomad.go
  docs/TEST_COVERAGE_IMPROVEMENTS.md
  pkg/alerts/fuzz_test.go
  pkg/alerts/model_test.go
  pkg/alerts/render.go
  pkg/alerts/render_test.go
  pkg/alerts/smtp_test.go
  pkg/alerts/testdata/fuzz/FuzzRenderEmail/c6c4efebcc86bf08
  pkg/backup/read.go
  pkg/backup/read_refactored.go
  pkg/config/config_test.go
  pkg/container/helper.go
  pkg/container/helper_refactored.go
  pkg/crypto/bcrypt_test.go
  pkg/crypto/hash_test.go
  pkg/eos_cli/wrap_extended_test.go
  pkg/eos_io/context_test.go
  pkg/eos_io/fuzz_test.go
  pkg/eos_io/secure_input_test.go
  pkg/eos_unix/user.go
  pkg/eos_unix/user_refactored.go
  pkg/eos_unix/user_test.go
  pkg/execute/fuzz_test.go
  pkg/execute/retry_test.go
  pkg/kubernetes/k3s_refactored.go
  pkg/nomad/deploy.go
  pkg/ubuntu/secure_enhanced.go
  pkg/ubuntu/secure_enhanced_refactored.go
  pkg/vault/export_display.go
  pkg/vault/export_display_refactored.go
Labels: documentation, cli, pkg-container, pkg-vault, pkg-crypto, pkg-other

increasing test coverage
  docs/test-coverage-improvements.md
  pkg/ai/ai_fuzz_test.go
  pkg/ai/ai_security_test.go
  pkg/ai/comprehensive_test.go
  pkg/architecture/architecture_fuzz_test.go
  pkg/architecture/interfaces_test.go
  pkg/authentication/comprehensive_test.go
  pkg/command/command_fuzz_test.go
  pkg/config_loader/loaders_fuzz_test.go
  pkg/config_loader/loaders_test.go
  pkg/consul/config/generator_fuzz_test.go
  pkg/consul/config/generator_test.go
  pkg/crypto/bcrypt_test.go
  pkg/crypto/comprehensive_security_test.go
  pkg/crypto/input_validation_security_test.go
  pkg/crypto/password_security_test.go
Labels: documentation, pkg-crypto, pkg-other

more fuzzing
  pkg/cephfs/cephfs_fuzz_test.go
  pkg/cephfs/comprehensive_test.go
  pkg/command/command_fuzz_test.go
  pkg/command/installer_comprehensive_test.go
Labels: pkg-other

increasing test coverage
  docs/test-coverage-improvement-report.md
  pkg/application/application_security_fuzz_test.go
  pkg/application/comprehensive_test.go
  pkg/application/vault/commands_test.go
  pkg/application/vault/vault_security_fuzz_test.go
  pkg/btrfs/btrfs_security_fuzz_test.go
  pkg/btrfs/comprehensive_test.go
  pkg/btrfs/snapshot_test.go
  pkg/clean/clean_security_fuzz_test.go
  pkg/clean/comprehensive_test.go
  pkg/cloudinit/cloudinit_security_fuzz_test.go
  pkg/cloudinit/comprehensive_unit_test.go
Labels: documentation, pkg-other

Fix critical security vulnerabilities discovered during test coverage improvement
  docs/test-coverage-final-report.md
  docs/test-coverage-improvement-report.md
  docs/test-coverage-summary.md
  integration_security_test.go
  pkg/application/config.go
  pkg/application/vault/commands.go
  pkg/btrfs/create.go
  pkg/btrfs/snapshot.go
  pkg/cephfs/create.go
  pkg/clean/clean.go
  pkg/cloudinit/generator.go
  pkg/command/installer.go
  pkg/container/comprehensive_test.go
  pkg/container/config.go
  pkg/container/container_security_fuzz_test.go
Labels: documentation, pkg-container, pkg-other

commit
  cmd/create/clusterfuzz.go
  cmd/self/enroll.go
  cmd/update/salt_key_accept.go
  pkg/application/application_security_fuzz_test.go
  pkg/authentication/comprehensive_test.go
  pkg/btrfs/compression.go
  pkg/clusterfuzz/nomad/jobs.go
  pkg/config_loader/loaders_fuzz_test.go
  pkg/config_loader/loaders_test.go
  pkg/container_management/manager.go
  pkg/crypto/input_validation_fuzz_test.go
  pkg/database_management/manager.go
Labels: cli, pkg-crypto, pkg-other

commit
  cmd/create/create.go
  cmd/create/delphi.go
  cmd/create/grafana.go
  cmd/create/guacamole.go
  cmd/create/k3s.go
  cmd/create/saltstack.go
  cmd/create/ssh_key.go
  cmd/read/delphi.go
  cmd/read/salt_job_status.go
  cmd/update/services.go
  pkg/backup/create.go
  pkg/backup/docker.go
  pkg/cloudinit/cloudinit_security_fuzz_test.go
  pkg/eos_cli/types.go
  pkg/security_config/config.go
Labels: cli, pkg-other

linting, sec tests vet tests
  cmd/create/clusterfuzz.go
  cmd/create/consul_terraform.go
  cmd/create/hecate.go
  cmd/create/kvm_qemu_guest.go
  cmd/create/loki.go
  cmd/create/services.go
  cmd/ragequit/ragequit.go
  cmd/read/delphi.go
  cmd/update/ldap.go
  pkg/ai/ai_security_test.go
  pkg/ai/ai_test.go
  pkg/application/comprehensive_test.go
  pkg/backup/config_test.go
  pkg/cephfs/cephfs_fuzz_test.go
  pkg/cloudinit/cloudinit_security_fuzz_test.go
  pkg/clusterfuzz/prerequisites/check.go
  pkg/command/installer.go
  pkg/crypto/input_validation_security_test.go
  pkg/delphi_channels/standardizer.go
  pkg/delphi_config/validator.go
  pkg/minio/deployer.go
  pkg/output/disk.go
  pkg/saltstack/client/http.go
  pkg/saltstack/simple_bootstrap_installer.go
  pkg/wazuh_mssp/configure.go
  pkg/wazuh_mssp/customer/lifecycle.go
  pkg/wazuh_mssp/install.go
Labels: cli, pkg-crypto, pkg-other

codebase consolidation
  cmd/read/vault.go
  docs/CODEBASE_IMPROVEMENTS_SUMMARY.md
  docs/IMPROVEMENT_ROADMAP.md
  docs/cobra_functions_to_convert.md
  docs/fuzzing.md
  docs/hecate-complete.md
  docs/integration_security_test.go
  docs/integration_test.go
  docs/security/SECURITY_CHECKLIST.md
  docs/security/SECURITY_COMPLIANCE.md
  docs/user-guides/MIGRATION_GUIDE.md
  docs/wazuh-mssp-complete.md
  go.mod
  pkg/backup/file_backup/manager.go
  pkg/cron_management/manager.go
  pkg/eos_unix/permissions.go
  pkg/httpclient/client.go
  pkg/httpclient/config.go
  pkg/httpclient/httpclient.go
  pkg/httpclient/migration.go
  pkg/managers/core.go
  pkg/managers/registry.go
  pkg/managers/security_permissions.go
  pkg/shared/security_errors.go
  pkg/ubuntu/mfa_sudoers.go
  pkg/vault/auth/configure.go
  pkg/vault/lifecycle2_enable.go
  pkg/vault/mfa.go
  pkg/vault/phase12_enable_audit.go
  pkg/vault/phase6b_unseal.go
  pkg/vault/secure_init_reader.go
  pkg/vault/util_delete.go
  pkg/vault/util_enable.go
  pkg/vault/util_fallback.go
Labels: documentation, cli, pkg-vault, pkg-utils, pkg-other, dependencies

docs restructure
  CLAUDE.md
  cmd/self/enroll.go
  docs/README.md
  docs/archive/CODEBASE_IMPROVEMENTS_SUMMARY.md
  docs/archive/FUZZING_REFACTORING_ANALYSIS.md
  docs/archive/REORGANIZATION_SUMMARY.md
  docs/archive/TEST_COVERAGE_IMPROVEMENTS.md
  docs/archive/TODO_LOGGING_VIOLATIONS.md
  docs/archive/test-coverage-final-report.md
  docs/archive/test-coverage-improvement-report.md
  docs/archive/test-coverage-improvements.md
  docs/archive/test-coverage-summary.md
  docs/components/DELPHI.md
  docs/components/EOS_INFRASTRUCTURE_COMPILER.md
  docs/components/HECATE.md
  docs/components/UBUNTU.md
  docs/components/VAULT.md
  docs/development/BOOTSTRAP_ARCHITECTURE.md
  docs/development/IMPROVEMENT_ROADMAP.md
  docs/development/REFACTORING_GUIDE.md
  docs/testing/COMPREHENSIVE_TESTING.md
  docs/testing/FUZZING_GUIDE.md
  docs/testing/TESTING_GUIDE.md
  docs/testing/TEST_COVERAGE_REPORT.md
  pkg/delphi/provision_test.go
  pkg/enrollment/config.go
  pkg/eos_io/secure_input.go
  pkg/hetzner/client_dns.go
  pkg/testutil/testutil.go
Labels: documentation, cli, pkg-delphi, pkg-other

dedup
  cmd/delete/pipeline_prompts.go
  cmd/delete/pipeline_servies.go
  cmd/list/list-delphi-services.go
  cmd/read/pipeline_prompts.go
  cmd/read/pipeline_services.go
  cmd/update/pipeline_prompts.go
  docs/DOCUMENTATION_AUDIT_2025.md
  docs/consolidation-summary.md
  docs/development/SHARED_UTILITIES_MIGRATION.md
  docs/redundant-code-patterns-analysis.md
  pkg/ai/ai.go
  pkg/ai/ai_fuzz_test.go
  pkg/ai/ai_security_test.go
  pkg/ai/ai_test.go
  pkg/ai/comprehensive_test.go
  pkg/enrollment/config.go
  pkg/eos_io/secure_input.go
  pkg/k3s/uninstall.go
  pkg/llm/helpers.go
  pkg/nginx/nginx.go
  pkg/pipeline/prompts.go
  pkg/pipeline/services/config.go
  pkg/pipeline/system_prompts.go
  pkg/ragequit/diagnostics/environment.go
  pkg/ragequit/diagnostics/queues.go
  pkg/ragequit/diagnostics/security.go
  pkg/ragequit/emergency/actions.go
  pkg/ragequit/recovery/plan.go
  pkg/ragequit/system/utils.go
  pkg/service_installation/manager.go
  pkg/shared/error_handling.go
  pkg/shared/file_operations.go
  pkg/shared/strings/case.go
  pkg/shared/validation.go
  pkg/system_config/manager.go
  pkg/system_config/manager_test.go
  pkg/system_config/ssh_key.go
  pkg/vault/phase3_tls_cert.go
Labels: documentation, cli, pkg-vault, pkg-utils, pkg-other

commit
  cmd/delete/pipeline_servies.go
  docs/CONSOLIDATION_COMPLETION_REPORT.md
  docs/DOCUMENTATION_STANDARDS.md
  docs/EXTENDED_CONSOLIDATION_REPORT.md
  docs/INDEX.md
  docs/PHASE_9A_IMPORT_CYCLE_RESOLUTION.md
  docs/PHASE_9_IMPLEMENTATION_REPORT.md
  docs/PIPELINE_README_OLD.md
  docs/archive/test-coverage-improvement-report.md
  docs/archive/test-coverage-improvements.md
  docs/archive/test-coverage-summary.md
  docs/commands/READ_COMMANDS.md
  docs/components/delphi-dashboard-architecture.md
  docs/development/VALIDATION_GUIDE.md
  docs/development/cobra_functions_to_convert.md
  docs/operations/BACKUP_EXAMPLE.md
  docs/operations/PARSER_MONITORING.md
  docs/operations/auto-commit-guide.md
  docs/security/CRYPTO_GUIDE.md
  docs/security/SECURITY_ANALYSIS.md
  docs/testing/FUZZING_OVERVIEW.md
  pkg/btrfs/compression.go
  pkg/btrfs/create.go
  pkg/docker_volume/create.go
  pkg/docker_volume/logs.go
  pkg/installation.go
  pkg/interaction/validate.go
  pkg/nginx/nginx.go
  pkg/penpot/manager.go
  pkg/pipeline/monitor/display.go
  pkg/service_installation/qemu_guest.go
  pkg/serviceutil/adapters.go
  pkg/shared/config.go
  pkg/shared/interfaces.go
  pkg/shared/service.go
  pkg/system_config/manager.go
  pkg/system_config/ssh_key.go
  pkg/testutil/shared_test_patterns.go
Labels: documentation, cli, pkg-utils, pkg-other

refactor
  cmd/create/secrets_terraform_generators.go
  docs/CONSOLIDATION_COMPLETION_REPORT.md
  docs/PHASE_10_MIGRATION_COMPLETION_REPORT.md
  pkg/container/k3s.go
  pkg/enrollment/salt.go
  pkg/enrollment/transition.go
  pkg/installation/installation.go
  pkg/ragequit/system/utils.go
  pkg/service_installation/caddy.go
  pkg/service_installation/lxd.go
  pkg/service_installation/tailscale.go
  pkg/shared/delphi_services_test.go
  pkg/shared/file_operations.go
  pkg/shared/service.go
  pkg/shared/service_management_simple_test.go
  pkg/testutil/shared_test_patterns.go
Labels: documentation, cli, pkg-container, pkg-utils, pkg-other

consolidate
  docs/DOCUMENTATION_CONSOLIDATION_SUMMARY.md
  docs/INDEX.md
  docs/REMAINING_MIGRATION_PLAN.md
  docs/components/hecate-complete.md
  docs/components/hecate_advanced_usage.md
  docs/components/vault-database-dynamic-credentials.md
  docs/components/vault-delphi-integration.md
  docs/components/wazuh-mssp-complete.md
  docs/testing/FUZZING_GUIDE.md
  docs/testing/FUZZING_OVERVIEW.md
  integration_security_test.go
  integration_test.go
Labels: documentation

fuzzz
  cmd/self/fuzz.go
  docs/FUZZING_INTEGRATION_SUMMARY.md
  pkg/fuzzing/configure.go
  pkg/fuzzing/install.go
  pkg/fuzzing/runner.go
  pkg/fuzzing/types.go
  pkg/fuzzing/verify.go
  scripts/eos-fuzz.sh
  scripts/run-fuzz-tests.sh
Labels: documentation, cli, scripts, pkg-other

.github/labeler.yml:

# Top-level docs
documentation:
  - README.md
  - SECURITY.md
  - LICENSE.*
  - '**/*.md'

cli:
  - main.go
  - cmd/**
  - policies/**
  - sql/**

ansible:
  - ansible/**

scripts:
  - scripts/**
  - install.sh
  - installGoAndGhOnRhel.sh
  - setupGo.sh
  - uninstall.sh
  - install.ps1

pkg-container:
  - pkg/container/**
  - pkg/docker/**

pkg-vault:
  - pkg/vault/**

pkg-kvm:
  - pkg/kvm/**

pkg-delphi:
  - pkg/delphi/**

pkg-crypto:
  - pkg/crypto/**

pkg-hecate:
  - pkg/hecate/**
  - cmd/hecate/**

pkg-ldap:
  - pkg/ldap/**

pkg-mattermost:
  - pkg/mattermost/**

pkg-platform:
  - pkg/platform/**

pkg-utils:
  - pkg/utils/**
  - pkg/shared/**
  - pkg/logger/**

pkg-other:
  - pkg/**

ci:
  - .github/workflows/**
  - .github/labeler.yml
  - .github/dependabot.yml

dependencies:
  - go.mod
  - go.sum
  - Dockerfile
  - docker-compose.yml

policies:
  - policies/**
sql:
  - sql/**
