Repository CodeMonkeyCybersecurity/eos, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, cli, ansible, scripts, pkg-container, pkg-vault, pkg-kvm, pkg-delphi, pkg-crypto, pkg-hecate, pkg-ldap, pkg-mattermost, pkg-platform, pkg-utils, pkg-other, ci, dependencies, policies, sql

chore: remove unused Nomad status check function and migrate agent docs inline
  cmd/create/nomad.go
  docs/AGENTS.md
  docs/SECURITY_IMPROVEMENTS.md
  docs/storage/BOOTSTRAP_STORAGE_OPS_IMPLEMENTATION.md
  docs/storage/GRANULAR_STORAGE_DESIGN.md
  docs/storage/STORAGE_OPERATIONS_IMPLEMENTATION.md
  pkg/delphi/agents/types.go
  pkg/security/hardening.go
  pkg/storage/disk_manager.go
  pkg/storage/interfaces.go
  pkg/storage/manager_lvm.go
Labels: documentation, cli, pkg-delphi, pkg-other

docs: move automatic secret and environment management docs inline with code
  cmd/create/secrets.go
  docs/AUTOMATIC_SECRET_ENVIRONMENT_MANAGEMENT.md
  docs/BOOTSTRAP_HARDENING_SAFETY.md
  docs/DOCUMENTATION_STANDARDS.md
  docs/SYSTEMATIC_HARDWARE_REQUIREMENTS.md
  docs/USER_EXPERIENCE_ABSTRACTION.md
  pkg/bootstrap/hardening_safety.go
  pkg/cli/cli.go
  pkg/security/audit_test.go
  pkg/security/delphi_credentials.go
  pkg/security/hardening.go
  pkg/sizing/hecate_integration.go
  pkg/sizing/postflight.go
  pkg/sizing/requirements_database.go
Labels: documentation, cli, pkg-other

docs: move integration and bootstrap documentation inline with source code
  cmd/bootstrap/all.go
  cmd/bootstrap/bootstrap_enhanced.go
  cmd/create/cicd.go
  cmd/create/helen.go
  cmd/create/mattermost.go
  cmd/create/minio.go
  cmd/create/n8n.go
  cmd/create/nomad.go
  cmd/create/openstack.go
  cmd/create/quickstart.go
  cmd/list/all.go
  docs/BOOTSTRAP_IMPROVEMENTS.md
  docs/HELEN_INTEGRATION.md
  docs/terraform.md
  pkg/bootstrap/check.go
  pkg/bootstrap/checkpoint.go
  pkg/bootstrap/detector.go
  pkg/bootstrap/idempotent.go
  pkg/bootstrap/integration.go
  pkg/bootstrap/orchestrator.go
  pkg/bootstrap/registration.go
  pkg/bootstrap/salt_api_client.go
  pkg/bootstrap/setup_salt_api.go
  pkg/bootstrap/state_detection.go
  pkg/bootstrap/system_bootstrap.go
  pkg/nuke/assess.go
  pkg/nuke/assess_improved.go
  pkg/nuke/evaluate.go
  pkg/state/tracker.go
  pkg/system/orchestration.go
  pkg/terraform/preflight_checks.go
  pkg/terraform/terraform.go
Labels: documentation, cli, pkg-other

refactor: simplify Consul setup to require administrator intervention for services and proxies
  pkg/enrollment/network.go
Labels: pkg-other

refactor: remove unused functions and simplify route management code
  cmd/update/rollback.go
  cmd/update/wazuh_version.go
  pkg/bootstrap/discovery_server.go
  pkg/enrollment/network.go
  pkg/hecate/route_manager.go
  pkg/hecate/routes.go
  pkg/system/nomad_manager.go
  pkg/system/orchestration.go
  pkg/system/service_operations.go
Labels: cli, pkg-hecate, pkg-other

refactor: reorganize command structure and remove unused parameters in function signatures
  cmd/backup/authentik.go
  cmd/backup/backup.go
  cmd/check/authentik.go
  cmd/check/check.go
  cmd/rollback/authentik.go
  cmd/rollback/rollback.go
  cmd/root.go
  cmd/update/authentik.go
  cmd/update/rollback.go
  cmd/update/update.go
  pkg/environments/types.go
  pkg/hecate/auth.go
  pkg/secrets/generator_test.go
  pkg/terraform/executor.go
Labels: cli, pkg-hecate, pkg-other

feat: add secure Ubuntu VM template with TPM, UEFI, and disk encryption support
  cmd/create/kvm_manager.go
  cmd/create/ubuntu_vm.go
  pkg/terraform/kvm/manager.go
Labels: cli, pkg-other

feat: add auto-generated VM names and default SSH key detection for ubuntu-vm command
  cmd/create/ubuntu_vm.go
Labels: cli

fix: change VM name flag shorthand from -n to -N to avoid network flag conflict
  cmd/create/ubuntu_vm.go
Labels: cli

feat: improve git update handling with rebase strategy and conflict detection
  cmd/self/self.go
Labels: cli

refactor: simplify git update logic to force reset instead of handling conflicts
  cmd/self/self.go
Labels: cli

fix: declare variables before assignment in self update command
  cmd/self/self.go
Labels: cli

refactor: move git command variable declarations to top of function
  cmd/self/self.go
Labels: cli

refactor: rewrite self-update command with better error handling and process locking
  cmd/self/self.go
Labels: cli

fix: close file descriptor before error return and improve stash detection in self-update
  cmd/self/self.go
Labels: cli

feat: implement secure Ubuntu VM creation with comprehensive security hardening
  cmd/backup/authentik.go
  cmd/create/kvm.go
  cmd/create/ubuntu_vm.go
  cmd/self/enroll.go
  cmd/self/self.go
  cmd/update/users.go
  pkg/authentik/authentik_client.go
  pkg/authentik/delphi.go
  pkg/authentik/extract.go
  pkg/authentik/extract_helper.go
  pkg/authentik/import.go
  pkg/authentik/types.go
  pkg/delphi/sso.go
  pkg/terraform/kvm/manager.go
Labels: cli, pkg-delphi, pkg-other

refactor: move VM creation logic to kvm package and simplify command handlers
  cmd/create/kvm.go
  cmd/create/ubuntu_vm.go
  pkg/terraform/kvm/cloud_init.go
  pkg/terraform/kvm/secure_vm.go
  pkg/terraform/kvm/utils.go
Labels: cli, pkg-other

feat: enhance self-update command with build verification and defensive checks
  cmd/self/self.go
  pkg/terraform/kvm/manager.go
Labels: cli, pkg-other

fix: add defensive nil context checks to prevent KVM creation panic
  cmd/create/ubuntu_vm.go
  pkg/terraform/kvm/manager.go
  pkg/terraform/kvm/secure_vm.go
Labels: cli, pkg-other

fix: set execute permissions after building in self update
  cmd/self/self.go
Labels: cli

fix: add proper newlines between Terraform resources in VM config
  pkg/terraform/kvm/manager.go
Labels: pkg-other

feat: add architecture detection and static binary build for Eos updates
  cmd/self/self.go
Labels: cli

fix: validate binary size after build and correct build path for eos binary
  cmd/self/self.go
Labels: cli

fix: build EOS binary to temp location first and validate before replacing running binary
  cmd/self/self.go
Labels: cli

feat: add binary backup and validation during updates and installation
  cmd/self/self.go
  install.sh
Labels: cli, scripts

refactor: enhance self-update process with improved validation and error handling
  cmd/self/self.go
Labels: cli

feat: enhance VM creation logging with detailed ASSESS/INTERVENE/EVALUATE steps
  CLAUDE.md
  pkg/terraform/kvm/manager.go
Labels: documentation, pkg-other

refactor: migrate VM config generation to HCLBuilder for cleaner code structure
  pkg/terraform/kvm/hcl_builder.go
  pkg/terraform/kvm/manager.go
Labels: pkg-other

feat: add HashiCorp service flags for Vault and Nomad installation in bootstrap command
  cmd/bootstrap/bootstrap.go
  cmd/create/kvm_manager.go
  cmd/create/ubuntu_vm.go
  cmd/root.go
  pkg/bootstrap/idempotent.go
  pkg/bootstrap/integration.go
  pkg/bootstrap/orchestrator.go
  pkg/bootstrap/orchestrator_test.go
  pkg/bootstrap/service_health.go
  pkg/bootstrap/state_detection.go
  pkg/bootstrap/state_validator.go
  pkg/terraform/kvm/exec_manager.go
  pkg/terraform/kvm/exec_manager_test.go
  pkg/terraform/kvm/hcl_builder.go
  pkg/terraform/kvm/hcl_test.go
  pkg/terraform/kvm/manager.go
  pkg/terraform/kvm/simple_vm.go
  pkg/testutil/context.go
  scripts/recover-hashicorp.sh
  tools/verify-kvm-hcl.sh
Labels: cli, scripts, pkg-other

feat: add libvirt storage permission checks and helpful error messages
  pkg/terraform/kvm/simple_vm.go
Labels: pkg-other

feat: create dedicated libvirt storage pool for VM images in /var/lib/libvirt/images/eos-vms
  pkg/terraform/kvm/simple_vm.go
Labels: pkg-other

refactor: simplify VM creation by using default libvirt storage pool instead of custom pool
  pkg/terraform/kvm/simple_vm.go
Labels: pkg-other

refactor: switch VM storage from /var/lib/libvirt to /tmp to avoid permission issues
  pkg/terraform/kvm/simple_vm.go
Labels: pkg-other

feat: add static IP allocation and SSH key management for KVM VM creation
  pkg/terraform/kvm/simple_vm.go
Labels: pkg-other

feat: add global VM creation mutex and improve cloud-init configuration for static IP
  cmd/create/ubuntu_vm.go
  pkg/terraform/kvm/simple_vm.go
Labels: cli, pkg-other

feat: implement staged VM creation with volume ownership fix in KVM provisioner
  pkg/terraform/kvm/simple_vm.go
Labels: pkg-other

feat: add retries and idempotency to VM creation with domain cleanup
  pkg/terraform/kvm/simple_vm.go
Labels: pkg-other

fix: improve VM cleanup and file ownership handling during KVM provisioning retries
  pkg/terraform/kvm/simple_vm.go
Labels: pkg-other

refactor: improve volume file ownership handling with polling and individual file fixes
  pkg/terraform/kvm/simple_vm.go
Labels: pkg-other

feat: add ed25519 SSH key generation and direct VM creation using virsh
  cmd/create/kvm_orchestrated.go
  cmd/list/kvm_orchestrated.go
  pkg/kvm/orchestration/consul.go
  pkg/kvm/orchestration/nomad.go
  pkg/kvm/orchestration/orchestrated_vm.go
  pkg/kvm/orchestration/pool.go
  pkg/kvm/orchestration/types.go
  pkg/kvm/ssh_keys.go
  pkg/kvm/utils.go
  pkg/terraform/kvm/simple_vm.go
Labels: cli, pkg-kvm, pkg-other

.github/labeler.yml:

# Top-level docs
documentation:
  - README.md
  - SECURITY.md
  - LICENSE.*
  - '**/*.md'

cli:
  - main.go
  - cmd/**
  - policies/**
  - sql/**

ansible:
  - ansible/**

scripts:
  - scripts/**
  - install.sh
  - installGoAndGhOnRhel.sh
  - setupGo.sh
  - uninstall.sh
  - install.ps1

pkg-container:
  - pkg/container/**
  - pkg/docker/**

pkg-vault:
  - pkg/vault/**

pkg-kvm:
  - pkg/kvm/**

pkg-delphi:
  - pkg/delphi/**

pkg-crypto:
  - pkg/crypto/**

pkg-hecate:
  - pkg/hecate/**
  - cmd/hecate/**

pkg-ldap:
  - pkg/ldap/**

pkg-mattermost:
  - pkg/mattermost/**

pkg-platform:
  - pkg/platform/**

pkg-utils:
  - pkg/utils/**
  - pkg/shared/**
  - pkg/logger/**

pkg-other:
  - pkg/**

ci:
  - .github/workflows/**
  - .github/labeler.yml
  - .github/dependabot.yml

dependencies:
  - go.mod
  - go.sum
  - Dockerfile
  - docker-compose.yml

policies:
  - policies/**
sql:
  - sql/**
