Repository CodeMonkeyCybersecurity/eos, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, cli, ansible, scripts, pkg-container, pkg-vault, pkg-kvm, pkg-delphi, pkg-crypto, pkg-hecate, pkg-ldap, pkg-mattermost, pkg-platform, pkg-utils, pkg-other, ci, dependencies, policies, sql

.github/labeler.yml:

# Top-level docs
documentation:
  - README.md
  - SECURITY.md
  - LICENSE.*
  - '**/*.md'

cli:
  - main.go
  - cmd/**
  - policies/**
  - sql/**

ansible:
  - ansible/**

scripts:
  - scripts/**
  - install.sh
  - installGoAndGhOnRhel.sh
  - setupGo.sh
  - uninstall.sh
  - install.ps1

pkg-container:
  - pkg/container/**
  - pkg/docker/**

pkg-vault:
  - pkg/vault/**

pkg-kvm:
  - pkg/kvm/**

pkg-delphi:
  - pkg/delphi/**

pkg-crypto:
  - pkg/crypto/**

pkg-hecate:
  - pkg/hecate/**
  - cmd/hecate/**

pkg-ldap:
  - pkg/ldap/**

pkg-mattermost:
  - pkg/mattermost/**

pkg-platform:
  - pkg/platform/**

pkg-utils:
  - pkg/utils/**
  - pkg/shared/**
  - pkg/logger/**

pkg-other:
  - pkg/**

ci:
  - .github/workflows/**
  - .github/labeler.yml
  - .github/dependabot.yml

dependencies:
  - go.mod
  - go.sum
  - Dockerfile
  - docker-compose.yml

policies:
  - policies/**
sql:
  - sql/**

refactor: move vault deletion logic to dedicated uninstaller package
  cmd/delete/vault.go
  pkg/vault/install.go
  pkg/vault/uninstall.go
Labels: cli, pkg-vault, pkg-other

refactor: move Nomad deletion logic to dedicated uninstaller package
  cmd/delete/nomad.go
  cmd/self/self.go
  cmd/update/hecate.go
  pkg/hecate/update.go
  pkg/nomad/removal.go
  pkg/self/updater.go
  pkg/vault/install.go
Labels: cli, pkg-vault, pkg-hecate, pkg-other

feat: enhance self-update with safety features and add repair command
  cmd/check/vault.go
  cmd/repair/repair.go
  cmd/repair/vault.go
  cmd/root.go
  cmd/self/self.go
  docs/SELF_UPDATE_ADVERSARIAL_REVIEW.md
  docs/VAULT_ADVERSARIAL_REVIEW.md
  docs/VAULT_AUDIT_REPORT.md
  go.mod
  go.sum
  pkg/self/updater_enhanced.go
  pkg/vault/binary_cleanup.go
  pkg/vault/binary_cleanup_test.go
  pkg/vault/config_validator.go
  pkg/vault/config_validator_test.go
  pkg/vault/historical_issues_regression_test.go
  pkg/vault/install.go
  pkg/vault/security_warnings.go
  pkg/vault/security_warnings_test.go
Labels: documentation, cli, pkg-vault, pkg-other, dependencies

feat: add alternate vault binary location to purge paths during uninstall
  docs/VAULT_REMOVAL_ANALYSIS.md
  docs/VAULT_REMOVAL_COMPLETE.md
  docs/VAULT_REMOVAL_VERIFICATION.md
  pkg/vault/phase_delete.go
Labels: documentation, pkg-vault, pkg-other

refactor: use shared.PortVault constant instead of hardcoded Vault port
  cmd/create/grafana.go
  cmd/create/hashicorp.go
  cmd/create/hecate_dns.go
  cmd/create/jenkins.go
  cmd/create/mattermost.go
  cmd/create/n8n.go
  cmd/create/services.go
  cmd/delete/vault.go
  cmd/read/hecate_dns.go
  cmd/self/secrets.go
  pkg/ai/config.go
  pkg/bootstrap/environment_setup.go
  pkg/bootstrap/state_detection.go
  pkg/environment/discovery.go
  pkg/environment/enhanced_discovery.go
  pkg/mattermost/types.go
  pkg/n8n/types.go
  pkg/nomad/types.go
  pkg/penpot/types.go
  pkg/terraform/executor.go
  pkg/vault/client_context.go
  pkg/vault/discovery.go
  pkg/vault/uninstall.go
Labels: cli, pkg-vault, pkg-mattermost, pkg-other

feat: improve HashiCorp service startup with health checks and dependency order
  cmd/create/hashicorp.go
  pkg/bootstrap/hashicorp_bootstrap.go
Labels: cli, pkg-other

hbjk
  cmd/create/metis.go
  cmd/debug/metis.go
  pkg/metis/templates.go
Labels: cli, pkg-other

feat: enhance Consul diagnostics with binary, permissions, and network checks
  cmd/debug/consul.go
  pkg/consul/debug/checks.go
  pkg/consul/debug/diagnostics.go
Labels: cli, pkg-other

docs: expand debug command help text with additional subcommands and descriptions
  cmd/debug/bootstrap.go
  cmd/debug/debug.go
Labels: cli

style: remove chain link emoji from log messages and documentation
  LICENSE.md
  cmd/deploy/stack.go
  cmd/promote/stack.go
  cmd/read/check.go
  cmd/self/git/remote.go
  docs/architecture/CLEAN_ARCHITECTURE.md
  install.sh
  pkg/database_management/authc.go
  pkg/delphi/delphi_webhook.go
  pkg/hetzner/floating_ips.go
  pkg/nomad/deploy.go
  pkg/openstack/display/summary.go
  pkg/openstack/interactive.go
  pkg/pipeline/webhook/output.go
  pkg/vault/mfa.go
Labels: documentation, cli, scripts, pkg-vault, pkg-delphi, pkg-other

fix: reduce apt dependency bloat by disabling recommended packages during libvirt install
  install.sh
Labels: scripts

feat: add gcc and build tools dependency check for libvirt installation
  install.sh
Labels: scripts

refactor: improve git stash handling to better manage merge conflicts during updates
  pkg/self/updater_enhanced.go
Labels: pkg-other

feat: add support for Go compiler detection in standard locations and custom build path
  pkg/self/updater_enhanced.go
Labels: pkg-other

feat: use git pull --autostash instead of manual stash management for safer updates
  pkg/self/updater.go
  pkg/self/updater_enhanced.go
Labels: pkg-other

feat: add Wazuh webhook integration command for Metis alert forwarding
  cmd/create/wazuh.go
  cmd/create/wazuh_templates.go
Labels: cli

feat: add interactive configuration to eos create metis
  cmd/create/metis.go
Labels: cli

feat: add Wazuh ossec.conf configuration update command
  cmd/update/delphi_ossec.go
Labels: cli

feat: add QEMU guest agent mass update command for KVM VMs
  cmd/update/kvm_qemu_agent.go
Labels: cli

fix: resolve libvirt constant and file I/O issues in kvm_qemu_agent
  cmd/update/kvm_qemu_agent.go
Labels: cli

feat: add comprehensive KVM disk management with safety checks
  cmd/update/kvm_disk.go
  pkg/kvm/disk/assessment.go
  pkg/kvm/disk/backup.go
  pkg/kvm/disk/guest.go
  pkg/kvm/disk/helpers.go
  pkg/kvm/disk/manager.go
  pkg/kvm/disk/transaction.go
  pkg/kvm/disk/types.go
Labels: cli, pkg-kvm, pkg-other

refactor: update logger parameter to pass by value instead of pointer
  cmd/update/kvm_disk.go
Labels: cli

fix: correct kvm command help text and rename flag to --vm-name
  cmd/update/kvm.go
Labels: cli

refactor: convert vm-name flag to positional argument for kvm commands
  cmd/delete/kvm.go
  cmd/update/kvm.go
Labels: cli

feat: add VM resource usage monitoring and OS info to KVM list command
  cmd/list/kvm.go
  pkg/kvm/inventory.go
  pkg/kvm/types.go
Labels: cli, pkg-kvm, pkg-other

refactor: simplify getVMCPUUsage to return 0 since accurate tracking requires sampling
  cmd/list/kvm.go
  pkg/kvm/inventory.go
Labels: cli, pkg-kvm, pkg-other

feat: add memory usage column to KVM list table output
  cmd/list/kvm.go
Labels: cli

fix: remove info emoji from log messages and security warnings
  assets/python_workers/email-structurer.py
  cmd/delete/pipeline_servies.go
  pkg/bootstrap/environment_setup.go
  pkg/consul/display/summary.go
  pkg/disk_safety/inspect.go
  pkg/kvm/consul_register.go
  pkg/self/updater_enhanced.go
  pkg/vault/security_warnings.go
  pkg/vault/security_warnings_test.go
Labels: cli, pkg-vault, pkg-kvm, pkg-other

refactor: remove emoji characters from log messages and warnings
  assets/overnight-fuzz-enhanced.sh
  cmd/create/tools.go
  cmd/delete/vault.go
  cmd/update/kvm_disk.go
  docs/KVM_TESTING.md
  docs/MIGRATION_ESCALATION_LIST.md
  docs/SELF_UPDATE_ADVERSARIAL_REVIEW.md
  docs/VAULT_AUDIT_REPORT.md
  docs/VAULT_REMOVAL_COMPLETE.md
  docs/archive/PHASE_9_IMPLEMENTATION_REPORT.md
  pkg/bootstrap/conflict_resolution.go
  pkg/bootstrap/state_detection.go
  pkg/delphi/docker/credentials.go
  pkg/delphi/docker/deployment.go
  pkg/disk_safety/inspect.go
  pkg/fuzzing/runner.go
  pkg/openstack/display/summary.go
  pkg/pipeline/services.go
  pkg/pipeline/webhook/output.go
  pkg/remotedebug/interactive.go
  pkg/remotedebug/printer.go
  pkg/vault/export_display.go
  pkg/vault/security_warnings.go
  pkg/vault/security_warnings_test.go
  pkg/vault/uninstall.go
  scripts/comprehensive-test-runner.sh
  scripts/overnight-fuzz-simple.sh
Labels: documentation, cli, scripts, pkg-vault, pkg-delphi, pkg-other

refactor: remove emoji characters from log messages and text output
  cmd/delete/vault.go
  cmd/read/check.go
  cmd/read/environment.go
  cmd/read/hecate_dns.go
  cmd/self/git/remote.go
  docs/archive/SURPRISING_CODE_ANALYSIS.md
  pkg/authentik/extract.go
  pkg/authentik/import.go
  pkg/backup/read.go
  pkg/clean/clean_security_fuzz_test.go
  pkg/clean/comprehensive_test.go
  pkg/cloudinit/comprehensive_unit_test.go
  pkg/database_management/authc.go
  pkg/delphi/docker/deployment.go
  pkg/openstack/interactive.go
  pkg/pipeline/services.go
  pkg/pipeline/webhook/output.go
  pkg/prompt/prompt.go
  pkg/security/input_sanitizer_fuzz_test.go
  pkg/security/input_sanitizer_test.go
  pkg/terraform/config_fuzz_test.go
  pkg/testing/property_based_test.go
  pkg/vault/binary_cleanup.go
  pkg/vault/export_display.go
  pkg/vault/secret_operations_test.go
  pkg/vault/uninstall.go
  scripts/comprehensive-test-runner.sh
  test/architecture_integration_fuzz_test.go
Labels: documentation, cli, scripts, pkg-vault, pkg-delphi, pkg-other

feat: add VCPUS column and support block device disks in KVM VM list
  cmd/list/kvm.go
  pkg/kvm/inventory.go
Labels: cli, pkg-kvm, pkg-other

feat: add load avg to VCPUS, memory % to MEM, improve disk detection
  cmd/list/kvm.go
  pkg/kvm/inventory.go
Labels: cli, pkg-kvm, pkg-other

refactor: improve VM status reporting with more detailed agent states and disk info
  cmd/list/kvm.go
  pkg/kvm/inventory.go
  pkg/kvm/types.go
Labels: cli, pkg-kvm, pkg-other

feat: add disk usage percentage and guest-exec management for KVM VMs
  cmd/list/kvm.go
  cmd/update/kvm.go
  pkg/kvm/cloud_init.go
  pkg/kvm/guest_agent.go
  pkg/kvm/inventory.go
  pkg/kvm/restart.go
  pkg/kvm/types.go
Labels: cli, pkg-kvm, pkg-other

feat: enhance Temporal CLI installation with robust verification and error handling
  cmd/create/metis.go
  cmd/debug/metis.go
Labels: cli

perf: optimize temporal binary search with timeouts, targeted paths and better log handling
  cmd/debug/metis.go
Labels: cli

refactor: copy temporal binary to /usr/local/bin instead of symlinking for better security
  cmd/create/metis.go
  cmd/debug/metis.go
  cmd/repair/metis.go
  cmd/repair/repair.go
Labels: cli

feat: add temporal service systemd unit and enhance service dependencies
  cmd/create/metis.go
  cmd/debug/metis.go
  cmd/repair/metis.go
Labels: cli

refactor: move config check before other checks to ensure dependencies are loaded first
  cmd/debug/metis.go
Labels: cli

feat: enhance metis diagnostics with systemd, API checks, and detailed logging
  cmd/debug/metis.go
Labels: cli
