Repository CodeMonkeyCybersecurity/eos, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, cli, ansible, scripts, pkg-container, pkg-vault, pkg-kvm, pkg-delphi, pkg-crypto, pkg-hecate, pkg-ldap, pkg-mattermost, pkg-platform, pkg-utils, pkg-other, ci, dependencies, policies, sql

feat: add delphi debug subcommand for webhook integration troubleshooting
  cmd/debug/debug.go
  cmd/debug/delphi.go
Labels: cli

MOdularising
  docs/CODEBASE-MODULARIZATION-PLAN.md
  docs/DOCUMENTATION-CONSOLIDATION-PLAN.md
  docs/METIS-MODULARIZATION-ANALYSIS.md
  docs/MODULARIZATION-COMPLETE-FILE-1.md
  docs/MODULARIZATION-EXECUTIVE-SUMMARY.md
  docs/MODULARIZATION-PROGRESS.md
  docs/MODULARIZATION-SESSION-SUMMARY.md
  docs/NEXT-STEPS-MODULARIZATION.md
  pkg/consul/config/setup.go
  pkg/consul/helpers/network.go
  pkg/consul/install_orchestrator.go
  pkg/consul/installer/binary.go
  pkg/consul/installer/repository.go
  pkg/consul/installer/version.go
  pkg/consul/rollback/manager.go
  pkg/consul/service/lifecycle.go
  pkg/consul/service/systemd.go
  pkg/consul/validation/ports.go
  pkg/consul/validation/prerequisites.go
  pkg/consul/validation/resources.go
  pkg/consul/validation/security.go
Labels: documentation, pkg-other

test: update Ubuntu 24.04 version string to match actual release format
  pkg/platform/ubuntu_detector_test.go
Labels: pkg-platform, pkg-other

feat: add QEMU guest agent status column and detection to VM list
  cmd/list/kvm.go
  pkg/kvm/inventory.go
  pkg/kvm/types.go
Labels: cli, pkg-kvm, pkg-other

feat: add backup support with disk info and filtering capabilities
  cmd/backup/kvm_batch.go
  pkg/debug/vault/diagnostics.go
  pkg/kvm/batch_backup.go
  pkg/kvm/inventory.go
  pkg/kvm/types.go
Labels: cli, pkg-kvm, pkg-other

refactor: use shared constant for Vault port and add certificate details to TLS diagnostics
  cmd/create/storage_hashicorp.go
  cmd/list/all.go
  cmd/read/status.go
  cmd/read/verify.go
  pkg/debug/vault/tls.go
Labels: cli, pkg-other

feat: implement robust multi-stage vault process termination and deletion diagnostics
  pkg/debug/vault/diagnostics.go
  pkg/vault/uninstall.go
Labels: pkg-vault, pkg-other

feat: add comprehensive logging to vault debug and delete commands
  cmd/debug/vault.go
  cmd/delete/vault.go
  pkg/vault/uninstall.go
Labels: cli, pkg-vault, pkg-other

refactor: centralize system user creation logic into hashicorp.UserManager
  pkg/boundary/install.go
  pkg/boundary/installer_helpers.go
  pkg/consul/installer_helpers.go
  pkg/hashicorp/helpers.go
  pkg/nomad/install.go
  pkg/nomad/installer_helpers.go
  pkg/packer/installer_helpers.go
  pkg/terraform/installer_helpers.go
  pkg/vault/installer_helpers.go
Labels: pkg-vault, pkg-other

feat: add port constant for Open WebUI service (8501)
  cmd/create/openwebui.go
  pkg/openwebui/install.go
  pkg/openwebui/types.go
  pkg/shared/ports.go
Labels: cli, pkg-utils, pkg-other

feat: add URL sanitization utility and standardize URL handling across packages
  CLAUDE.md
  pkg/authentik/client.go
  pkg/openwebui/install.go
  pkg/shared/validation.go
Labels: documentation, pkg-utils, pkg-other

feat: allow periods and underscores in Azure deployment names
  pkg/openwebui/install.go
Labels: pkg-other

feat: support new base64 format for Azure API keys in addition to legacy hex format
  pkg/openwebui/install.go
Labels: pkg-other

feat: improve Docker pull reliability by verifying image exists after pull errors
  pkg/openwebui/install.go
Labels: pkg-other

feat: add Open WebUI update and restore commands with backup functionality
  cmd/update/openwebui.go
  cmd/update/openwebui_restore.go
  pkg/openwebui/update.go
Labels: cli, pkg-other

fix: reorder container stop and backup directory creation to prevent TOCTOU race condition
  pkg/openwebui/update.go
Labels: pkg-other

feat: add OpenWebUI backup diagnostics command to debug tool
  cmd/debug/debug.go
  cmd/debug/openwebui.go
Labels: cli

feat: add detailed logging and pre-flight checks to OpenWebUI backup process
  pkg/openwebui/update.go
Labels: pkg-other

feat: add comprehensive otelzap logging to debug openwebui command
  cmd/debug/openwebui.go
Labels: cli

feat: add eos delete openwebui and enhance create with idempotency and robustness
  cmd/delete/openwebui.go
  pkg/openwebui/install.go
  pkg/openwebui/types.go
Labels: cli, pkg-other

feat(vault): Complete Raft Integrated Storage migration (Phases 1-4)
  cmd/create/vault_raft.go
  cmd/debug/debug.go
  cmd/update/vault_cluster.go
  pkg/shared/vault_server.go
  pkg/vault/COMPLIANCE_AUDIT.md
  pkg/vault/RAFT_MIGRATION_SUMMARY.md
  pkg/vault/cluster_operations.go
  pkg/vault/config_validator.go
  pkg/vault/install.go
  pkg/vault/phase4_config.go
  pkg/vault/raft-vs-file-architecture.md
  pkg/vault/raft_helpers.go
  pkg/vault/tls_raft.go
  pkg/vault/vault-complete-specification-v1.0-raft-integrated.md
  pkg/vault/vault-documentation-navigation-guide.md
  pkg/vault/vault-documentation-update-summary.md
Labels: documentation, cli, pkg-vault, pkg-utils, pkg-other

fix(vault): Remove lint warnings in Raft implementation
  cmd/create/vault_raft.go
  pkg/vault/cluster_operations.go
Labels: cli, pkg-vault, pkg-other

fix(delphi): Remove unnecessary fmt.Sprintf in delphi_ossec.go
  cmd/update/delphi_ossec.go
Labels: cli

feat(openwebui): Add LiteLLM proxy support for production Azure OpenAI integration
  cmd/create/openwebui.go
  pkg/openwebui/install.go
  pkg/openwebui/types.go
Labels: cli, pkg-other

fix(openwebui): CRITICAL - Add Open WebUI to LiteLLM connection and make LiteLLM default
  OPENWEBUI_LITELLM_REVIEW.md
  cmd/create/openwebui.go
  pkg/openwebui/install.go
  pkg/openwebui/types.go
Labels: documentation, cli, pkg-other

docs(openwebui): Add example generated files for technical review
  OPENWEBUI_GENERATED_FILES_EXAMPLE.md
Labels: documentation

docs(openwebui): Confirm all critical issues fixed - ready for deployment
  OPENWEBUI_DEPLOYMENT_READY.md
Labels: documentation

docs(openwebui): Verify port 8501 configuration from shared/ports.go
  OPENWEBUI_PORT_VERIFICATION.md
Labels: documentation

docs: update OpenWebUI LiteLLM review status to ready for deployment
  OPENWEBUI_LITELLM_REVIEW.md
Labels: documentation

fix: downgrade volume removal error to debug log and continue silently
  cmd/delete/openwebui.go
Labels: cli

refactor: improve container and volume removal with idempotent behavior and better error handling
  cmd/delete/openwebui.go
  pkg/container/containers.go
  pkg/container/volumes.go
  pkg/crypto/hash.go
  pkg/self/updater_enhanced.go
Labels: cli, pkg-container, pkg-crypto, pkg-other

refactor: replace text prompt with yes/no confirmation dialog for OpenWebUI deletion
  cmd/delete/openwebui.go
Labels: cli

fix(openwebui): Accept Azure AI Foundry URLs and API keys without validation errors
  pkg/container/cleanup.go
  pkg/nuke/assess.go
  pkg/nuke/intervene.go
  pkg/openwebui/install.go
Labels: pkg-container, pkg-other

feat: improve docker compose startup reliability with container status checks
  pkg/openwebui/install.go
Labels: pkg-other

fix(openwebui): CRITICAL - Fix LiteLLM PostgreSQL connection failure
  pkg/openwebui/install.go
  pkg/openwebui/types.go
Labels: pkg-other

fix(openwebui): CRITICAL - Fix PostgreSQL health check variable escaping
  pkg/openwebui/install.go
Labels: pkg-other

fix(openwebui): Make installation robust, idempotent, and human-friendly
  pkg/openwebui/install.go
Labels: pkg-other

feat(openwebui): Add comprehensive diagnostic command and fix .env permissions
  cmd/debug/openwebui.go
  pkg/openwebui/install.go
Labels: cli, pkg-other

fix(openwebui): CRITICAL - URL-encode PostgreSQL password to fix LiteLLM connection
  pkg/openwebui/install.go
Labels: pkg-other

fix(openwebui): Use URL-safe passwords for PostgreSQL (PRODUCTION-TESTED FIX)
  pkg/crypto/passwd.go
  pkg/openwebui/install.go
Labels: pkg-crypto, pkg-other

.github/labeler.yml:

# Top-level docs
documentation:
  - README.md
  - SECURITY.md
  - LICENSE.*
  - '**/*.md'

cli:
  - main.go
  - cmd/**
  - policies/**
  - sql/**

ansible:
  - ansible/**

scripts:
  - scripts/**
  - install.sh
  - installGoAndGhOnRhel.sh
  - setupGo.sh
  - uninstall.sh
  - install.ps1

pkg-container:
  - pkg/container/**
  - pkg/docker/**

pkg-vault:
  - pkg/vault/**

pkg-kvm:
  - pkg/kvm/**

pkg-delphi:
  - pkg/delphi/**

pkg-crypto:
  - pkg/crypto/**

pkg-hecate:
  - pkg/hecate/**
  - cmd/hecate/**

pkg-ldap:
  - pkg/ldap/**

pkg-mattermost:
  - pkg/mattermost/**

pkg-platform:
  - pkg/platform/**

pkg-utils:
  - pkg/utils/**
  - pkg/shared/**
  - pkg/logger/**

pkg-other:
  - pkg/**

ci:
  - .github/workflows/**
  - .github/labeler.yml
  - .github/dependabot.yml

dependencies:
  - go.mod
  - go.sum
  - Dockerfile
  - docker-compose.yml

policies:
  - policies/**
sql:
  - sql/**
