Repository CodeMonkeyCybersecurity/eos, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, cli, ansible, scripts, pkg-container, pkg-vault, pkg-kvm, pkg-delphi, pkg-crypto, pkg-hecate, pkg-ldap, pkg-mattermost, pkg-platform, pkg-utils, pkg-other, ci, dependencies, policies, sql

fix(hcl): improve verification for Boundary tool installation
  cmd/create/hcl.go
Labels: cli

feat(vault): enhance Vault Agent configuration and error handling with systemd logs
  pkg/shared/vault_agent.go
  pkg/vault/auth_approle.go
  pkg/vault/phase13_write_agent_config.go
  pkg/vault/phase14_start_agent_and_validate.go
Labels: pkg-vault, pkg-utils, pkg-other

feat(vault): enhance Vault Agent configuration with systemd integration, error handling, and testing support
  CLAUDE.md
  TESTING_GUIDE.md
  cmd/enable/vault.go
  pkg/vault/README.md
Labels: documentation, cli, pkg-vault, pkg-other

feat(vault): enhance Vault Agent service configuration with journal logging and token retrieval improvements
  pkg/vault/README.md
  pkg/vault/phase14_start_agent_and_validate.go
Labels: documentation, pkg-vault, pkg-other

feat(vault): clear existing VAULT_TOKEN for fresh authentication setup during enablement
  pkg/vault/lifecycle2_enable.go
Labels: pkg-vault, pkg-other

feat(vault): enhance logging and error handling for Vault token operations and initialization
  CLAUDE.md
  pkg/vault/auth.go
  pkg/vault/client.go
  pkg/vault/lifecycle2_enable.go
  pkg/vault/phase14_start_agent_and_validate.go
Labels: documentation, pkg-vault, pkg-other

feat(vault): enhance logging for token management and client creation processes
  pkg/vault/auth.go
  pkg/vault/client.go
  pkg/vault/phase7a_enable_api_client.go
  pkg/vault/phase9a_create_kv_v2.go
Labels: pkg-vault, pkg-other

feat(vault): enhance logging and error handling for AppRole setup and authentication processes
  pkg/vault/agent_lifecycle.go
  pkg/vault/auth_approle.go
  pkg/vault/phase10b_enable_approle.go
Labels: pkg-vault, pkg-other

feat(vault): enhance logging and error handling for MFA methods configuration and setup
  pkg/vault/mfa.go
Labels: pkg-vault, pkg-other

feat(vault): enhance privileged client usage for AppRole auth method and credential retrieval
  pkg/vault/agent_lifecycle.go
Labels: pkg-vault, pkg-other

feat(vault): enhance logging and add wait time for Vault Agent service startup and authentication
  pkg/vault/phase14_start_agent_and_validate.go
Labels: pkg-vault, pkg-other

feat(ubuntu): implement comprehensive security hardening for Ubuntu systems with various tools and configurations
  cmd/secure/ubuntu.go
  pkg/ubuntu/README.md
  pkg/ubuntu/aide.go
  pkg/ubuntu/auditd.go
  pkg/ubuntu/fail2ban.go
  pkg/ubuntu/hardening.go
  pkg/ubuntu/osquery.go
  pkg/ubuntu/secure.go
  pkg/ubuntu/unattended_upgrades.go
Labels: documentation, cli, pkg-other

feat(vault): implement secure Vault deletion command with comprehensive cleanup and verification
  SECURITY_ANALYSIS.md
  cmd/delete/vault.go
  cmd/delete/vault_secure.go
Labels: documentation, cli

feat(security): address critical vulnerabilities with comprehensive fixes and enhanced logging
  SECURITY_ANALYSIS.md
  cmd/root.go
  pkg/eos_unix/permissions.go
  pkg/execute/execute.go
  pkg/vault/agent_lifecycle.go
  pkg/vault/auth.go
  pkg/vault/auth_approle.go
  pkg/vault/client.go
  pkg/vault/lifecycle2_enable.go
  pkg/vault/mfa.go
  pkg/vault/phase10b_enable_approle.go
  pkg/vault/phase7a_enable_api_client.go
  pkg/vault/phase9a_create_kv_v2.go
Labels: documentation, cli, pkg-vault, pkg-other

feat(hashicorp): Implement comprehensive installation and verification for HashiCorp tools
  cmd/create/hcl.go
  cmd/delete/vault.go
  pkg/hashicorp/repository.go
  pkg/hashicorp/tools.go
  pkg/hashicorp/tools_test.go
  pkg/hashicorp/verification.go
  pkg/vault/phase_delete.go
Labels: cli, pkg-vault, pkg-other

feat(container): Implement comprehensive Docker installation process
  cmd/create/docker.go
  cmd/create/hcl.go
  cmd/secure/ubuntu.go
  go.mod
  go.sum
  pkg/container/docker.go
  pkg/container/docker_test.go
  pkg/hashicorp/repository.go
  pkg/hashicorp/tools_test.go
  pkg/hashicorp/verification.go
  pkg/ubuntu/mfa.go
  pkg/ubuntu/secure.go
Labels: cli, pkg-container, pkg-other, dependencies

feat(delete): update delete commands to use absolute paths for better reliability
  cmd/hecate/delete/delete.go
  cmd/hecate/update/update.go
  cmd/read/vault.go
  pkg/utils/inspect.go
Labels: cli, pkg-hecate, pkg-utils, pkg-other

Fix lint issues
  cmd/create/hecate_terraform.go
  cmd/create/k3s_caddy_nginx.go
  integration_scenarios_test.go
  integration_test.go
  pkg/alerts/smtp.go
  pkg/clean/clean.go
  pkg/container/exec.go
  pkg/eos_cli/wrap_test.go
  pkg/eos_io/context_test.go
  pkg/eos_unix/filesystem.go
  pkg/hetzner/client_dns.go
  pkg/kvm/lifecycle.go
  pkg/kvm/provision_kickstart.go
  pkg/llm/helpers.go
  pkg/logger/lifecycle.go
  pkg/packer/lifecycle.go
  pkg/parse/append.go
  pkg/stackstorm/emailer.go
  pkg/stackstorm/watcher.go
  pkg/terraform/terraform.go
  pkg/testutil/filesystem.go
  pkg/testutil/integration.go
  pkg/vault/file_security.go
  pkg/verify/types.go
Labels: cli, pkg-container, pkg-vault, pkg-kvm, pkg-utils, pkg-other

Fix lint issues
  cmd/create/hecate_terraform.go
  cmd/create/k3s_caddy_nginx.go
  integration_scenarios_test.go
  integration_test.go
  pkg/alerts/smtp.go
  pkg/clean/clean.go
  pkg/container/exec.go
  pkg/eos_cli/wrap_test.go
  pkg/eos_io/context_test.go
  pkg/eos_unix/filesystem.go
  pkg/hetzner/client_dns.go
  pkg/kvm/lifecycle.go
  pkg/kvm/provision_kickstart.go
  pkg/llm/helpers.go
  pkg/logger/lifecycle.go
  pkg/packer/lifecycle.go
  pkg/parse/append.go
  pkg/stackstorm/emailer.go
  pkg/stackstorm/watcher.go
  pkg/terraform/terraform.go
  pkg/testutil/filesystem.go
  pkg/testutil/integration.go
  pkg/vault/file_security.go
  pkg/verify/types.go
Labels: cli, pkg-container, pkg-vault, pkg-kvm, pkg-utils, pkg-other

feat: make backup cmd configurable
  cmd/create/backup.go
Labels: cli

feat(inspect): implement service discovery for various infrastructure components
  cmd/read/infra.go
  cmd/read/read.go
  pkg/inspect/docker.go
  pkg/inspect/hetzner.go
  pkg/inspect/inspector.go
  pkg/inspect/kvm.go
  pkg/inspect/output.go
  pkg/inspect/services.go
  pkg/inspect/types.go
Labels: cli, pkg-other

refactor: consolidate helper packages and enhance structured logging
  cmd/create/postfix.go
  cmd/hecate/deploy/deploy.go
  cmd/pandora/read/test_data.go
  pkg/REFACTORING_GUIDE.md
  pkg/eos_io/yaml.go
  pkg/interaction/prompt.go
  pkg/interaction/reader.go
  pkg/parse/yaml.go
  pkg/utils/file.go
  pkg/utils/process.go
  pkg/utils/types.go
  pkg/utils/utils.go
  pkg/utils/yaml.go
  pkg/vault/phase5_start_service.go
  pkg/vault/print.go
  pkg/vault/util_read.go
  pkg/vault/util_write.go
Labels: documentation, cli, pkg-vault, pkg-hecate, pkg-utils, pkg-other

feat(architecture): Introduce clean architecture interfaces and services
  pkg/architecture/ARCHITECTURE.md
  pkg/architecture/README.md
  pkg/architecture/container.go
  pkg/architecture/example_implementation.go
  pkg/architecture/interfaces.go
  pkg/architecture/migration_guide.go
  pkg/architecture/services.go
  pkg/architecture/vault_refactor_example.go
  pkg/domain/vault/interfaces.go
Labels: documentation, pkg-other

feat(vault): Implement composite secret store with fallback capability
  pkg/architecture/migration_results.md
  pkg/domain/vault/entities.go
  pkg/domain/vault/interfaces.go
  pkg/domain/vault/service.go
  pkg/domain/vault/service_test.go
  pkg/infrastructure/vault/api_secret_store.go
  pkg/infrastructure/vault/composite_secret_store.go
  pkg/infrastructure/vault/composite_secret_store_test.go
  pkg/infrastructure/vault/fallback_secret_store.go
  pkg/vault/service_facade.go
Labels: documentation, pkg-vault, pkg-other

feat(crypto): Implement comprehensive cryptographic operations including hashing, key management, random operations, and secure operations.
  CLAUDE.md
  cmd/config/self.go
  cmd/root.go
  cmd/vault_enhanced_example.go
  pkg/architecture/HELPER_MIGRATION_COMPLETE.md
  pkg/architecture/container.go
  pkg/architecture/container_improved.go
  pkg/architecture/container_registration.go
  pkg/architecture/example_implementation.go
  pkg/architecture/examples_and_migration.go
  pkg/architecture/integration_test.go
  pkg/architecture/integration_test_helper_migration.go
  pkg/architecture/migration_guide.go
  pkg/architecture/services_improved.go
  pkg/architecture/vault_refactor_example.go.disabled
  pkg/domain/container/entities.go
  pkg/domain/container/interfaces.go
  pkg/domain/container/service.go
  pkg/domain/crypto/entities.go
  pkg/domain/crypto/interfaces.go
  pkg/domain/crypto/service.go
  pkg/domain/delphi/README.md
  pkg/domain/delphi/entities.go
  pkg/domain/delphi/interfaces.go
  pkg/domain/fileops/entities.go
  pkg/domain/fileops/interfaces.go
  pkg/domain/fileops/service.go
  pkg/domain/hecate/entities.go
  pkg/domain/hecate/interfaces.go
  pkg/domain/hecate/service.go
  pkg/infrastructure/crypto/encryption_operations.go
  pkg/infrastructure/crypto/hash_operations.go
  pkg/infrastructure/crypto/key_management.go
  pkg/infrastructure/crypto/random_operations.go
  pkg/infrastructure/crypto/secure_operations.go
  pkg/infrastructure/fileops/file_operations.go
  pkg/infrastructure/fileops/template_operations.go
  pkg/vault/enhanced_integration.go
  pkg/vault/service_facade.go
Labels: documentation, cli, pkg-vault, pkg-other

Implement platform detection and vault management features
  cmd/list/list.go
  cmd/read/read.go
  cmd/read/vault.go
  cmd/vault_enhanced_example.go
  cmd/vault_status_enhanced.go
  pkg/architecture/README.md
  pkg/domain/delphi/interfaces.go
  pkg/domain/hecate/entities.go
  pkg/domain/parse/entities.go
  pkg/domain/parse/interfaces.go
  pkg/domain/parse/service.go
  pkg/domain/stringutils/entities.go
  pkg/domain/stringutils/interfaces.go
  pkg/domain/stringutils/service.go
  pkg/domain/sysinfo/entities.go
  pkg/domain/sysinfo/interfaces.go
  pkg/domain/sysinfo/service.go
  pkg/infrastructure/parse/format_detector.go
  pkg/infrastructure/parse/json_parser.go
  pkg/infrastructure/parse/yaml_parser.go
  pkg/infrastructure/sysinfo/platform_detector.go
  pkg/infrastructure/vault/audit_repository.go
  pkg/infrastructure/vault/auth_provider.go
  pkg/infrastructure/vault/config_repository.go
  pkg/infrastructure/vault/vault_manager.go
  pkg/vault/enhanced_integration.go
Labels: documentation, cli, pkg-vault, pkg-other

feat(terraform): Enhance Terraform configuration with improved provider management, modular Docker resources, and migration guidance
  pkg/inspect/output.go
Labels: pkg-other

feat(config): Add self command to config for improved self-management functionality
  cmd/config/config.go
  cmd/config/self.go
Labels: cli

feat(logging): Enhance logging throughout the inspection process with detailed context and structured output
  CLAUDE.md
  cmd/read/infra.go
  pkg/inspect/docker.go
  pkg/inspect/hetzner.go
  pkg/inspect/inspector.go
  pkg/inspect/kvm.go
  pkg/inspect/output.go
  pkg/inspect/services.go
Labels: documentation, cli, pkg-other

feat(context): Add NewExtendedContext for custom timeout in long-running operations
  cmd/secure/ubuntu.go
  pkg/eos_cli/wrap.go
  pkg/eos_io/context.go
Labels: cli, pkg-other

feat(self): Improve logging and error handling in self-update command
  cmd/config/self.go
Labels: cli

Refactor Delphi Command Structure: Migrate 'inspect' commands to 'read' commands
  cmd/delphi/delphi.go
  cmd/delphi/inspect/inspect.go
  cmd/delphi/read/README.md
  cmd/delphi/read/api.go
  cmd/delphi/read/config.go
  cmd/delphi/read/credentials.go
  cmd/delphi/read/keepalive.go
  cmd/delphi/read/read.go
  cmd/delphi/read/users.go
  cmd/read/README.md
Labels: documentation, cli

feat(terraform): Implement modular Terraform configuration generation and update output handling
  cmd/read/infra.go
  pkg/inspect/output.go
  pkg/inspect/terraform_modular.go
Labels: cli, pkg-other

feat(fuzz): Enhance fuzz testing with individual package tests and detailed output
  .github/workflows/fuzz.yml
  CLAUDE.md
  scripts/README-fuzz.md
  scripts/run-fuzz-tests.sh
Labels: documentation, scripts, ci

feat(labeling): Implement full GitHub labeler workflow and setup script
  .github/README-labeler.md
  .github/workflows/# Tools Configuration.go
  .github/workflows/label-simple.yml
  .github/workflows/label.yml
  scripts/setup-github-labels.sh
Labels: documentation, scripts, ci

feat(security): Enhance security validation and error handling across multiple files
  .github/workflows/security.yml
  pkg/crypto/certificate_security_test.go
  pkg/crypto/certs.go
  pkg/crypto/hash.go
  pkg/crypto/input_validation.go
  pkg/vault/auth.go
  pkg/vault/auth_approle.go
  pkg/vault/file_security.go
  pkg/vault/security_test.go
Labels: pkg-vault, pkg-crypto, pkg-other, ci

refactor(security): Improve error messages and enhance credential handling in AppRole authentication
  pkg/vault/auth_approle.go
  pkg/vault/file_security.go
  pkg/vault/security_test.go
Labels: pkg-vault, pkg-other

fix(security): Update Go version to 1.22 and correct gosec installation path
  .github/workflows/security.yml
Labels: ci

fix(security): Update Go version to 1.24 and ensure vulnerability scan continues on error
  .github/workflows/security.yml
Labels: ci

feat(security): Update TLS configurations for secure connections and improve error handling
  .github/workflows/codeql.yml
  cmd/delphi/create/create.go
  pkg/container/docker_test.go
  pkg/crypto/certificate_security_test.go
  pkg/crypto/input_validation.go
  pkg/crypto/security_test.go
  pkg/delphi/agent.go
  pkg/delphi/http.go
  pkg/delphi/http_tls.go
  pkg/httpclient/httpclient.go
  pkg/infrastructure/crypto/hash_operations.go
  pkg/ldap/handler.go
  pkg/platform/scheduler.go
  pkg/vault/phase2_env_setup.go
Labels: cli, pkg-container, pkg-vault, pkg-delphi, pkg-crypto, pkg-ldap, pkg-platform, pkg-other, ci

.github/labeler.yml:

# Top-level docs
documentation:
  - README.md
  - SECURITY.md
  - LICENSE.*
  - '**/*.md'

cli:
  - main.go
  - cmd/**
  - policies/**
  - sql/**

ansible:
  - ansible/**

scripts:
  - scripts/**
  - install.sh
  - installGoAndGhOnRhel.sh
  - setupGo.sh
  - uninstall.sh
  - install.ps1

pkg-container:
  - pkg/container/**
  - pkg/docker/**

pkg-vault:
  - pkg/vault/**

pkg-kvm:
  - pkg/kvm/**

pkg-delphi:
  - pkg/delphi/**

pkg-crypto:
  - pkg/crypto/**

pkg-hecate:
  - pkg/hecate/**
  - cmd/hecate/**

pkg-ldap:
  - pkg/ldap/**

pkg-mattermost:
  - pkg/mattermost/**

pkg-platform:
  - pkg/platform/**

pkg-utils:
  - pkg/utils/**
  - pkg/shared/**
  - pkg/logger/**

pkg-other:
  - pkg/**

ci:
  - .github/workflows/**
  - .github/labeler.yml
  - .github/dependabot.yml

dependencies:
  - go.mod
  - go.sum
  - Dockerfile
  - docker-compose.yml

policies:
  - policies/**
sql:
  - sql/**
