Repository CodeMonkeyCybersecurity/eos, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, cli, ansible, scripts, pkg-container, pkg-vault, pkg-kvm, pkg-delphi, pkg-crypto, pkg-hecate, pkg-ldap, pkg-mattermost, pkg-platform, pkg-utils, pkg-other, ci, dependencies, policies, sql

.github/labeler.yml:

# Top-level docs
documentation:
  - README.md
  - SECURITY.md
  - LICENSE.*
  - '**/*.md'

cli:
  - main.go
  - cmd/**
  - policies/**
  - sql/**

ansible:
  - ansible/**

scripts:
  - scripts/**
  - install.sh
  - installGoAndGhOnRhel.sh
  - setupGo.sh
  - uninstall.sh
  - install.ps1

pkg-container:
  - pkg/container/**
  - pkg/docker/**

pkg-vault:
  - pkg/vault/**

pkg-kvm:
  - pkg/kvm/**

pkg-delphi:
  - pkg/delphi/**

pkg-crypto:
  - pkg/crypto/**

pkg-hecate:
  - pkg/hecate/**
  - cmd/hecate/**

pkg-ldap:
  - pkg/ldap/**

pkg-mattermost:
  - pkg/mattermost/**

pkg-platform:
  - pkg/platform/**

pkg-utils:
  - pkg/utils/**
  - pkg/shared/**
  - pkg/logger/**

pkg-other:
  - pkg/**

ci:
  - .github/workflows/**
  - .github/labeler.yml
  - .github/dependabot.yml

dependencies:
  - go.mod
  - go.sum
  - Dockerfile
  - docker-compose.yml

policies:
  - policies/**
sql:
  - sql/**

feat(docker): remove deprecated backup scripts and associated README
  docs/migration/script-migration-plan.md
  scripts/docker/README.md
  scripts/docker/backupDocker.mjs
  scripts/docker/backupDockerContainers.mjs
  scripts/docker/backupDockerEnvVars.mjs
  scripts/docker/backupDockerImages.mjs
  scripts/docker/backupDockerNetworks.mjs
  scripts/docker/backupDockerSwarm.mjs
  scripts/docker/backupDockerVolumesWithCp.mjs
  scripts/docker/backupDockerfiles.mjs
  scripts/docker/backupsDockerComposeFiles.mjs
Labels: documentation, scripts

feat(migration): Add Docker management section to migration plan with backup features
  docs/migration/script-migration-plan.md
Labels: documentation

feat(tests): Add comprehensive user management and error handling tests
  pkg/eos_err/types_test.go
  pkg/eos_err/util_test.go
  pkg/users/management_test.go
Labels: pkg-other

feat(validation): Enhance input validation for domain names, emails, and application names; add tests for user management functions
  pkg/crypto/input_validation.go
  pkg/eos_unix/filesystem_test.go
  pkg/eos_unix/permissions_test.go
  pkg/eos_unix/systemctl_test.go
  pkg/eos_unix/user_test.go
  pkg/execute/execute.go
Labels: pkg-crypto, pkg-other

Add comprehensive tests for security hardening and SSH functionalities
  pkg/security/audit_test.go
  pkg/security/hardening_test.go
  pkg/ssh/diagnostics_test.go
  pkg/ssh/security_test.go
Labels: pkg-other

feat(tests): Add comprehensive tests for configuration validation and security checks
  pkg/backup/client_test.go
  pkg/backup/config_test.go
Labels: pkg-other

feat: Implement HashiCorp tools management via Salt Stack
  MIGRATION_SUMMARY.md
  cmd/backup/update.go
  cmd/disable/suspension.go
  pkg/backup/operations.go
  pkg/patterns/aie.go
  pkg/saltstack/client.go
  pkg/saltstack/hashicorp.go
  pkg/system/service_operations.go
  pkg/users/operations.go
  pkg/users/vault_interface.go
Labels: documentation, cli, pkg-other

Add unit tests for AIEExecutor and SaltStack client functionality
  TEST_COVERAGE_SUMMARY.md
  pkg/backup/operations.go
  pkg/backup/operations_test.go
  pkg/patterns/aie_test.go
  pkg/saltstack/client_test.go
Labels: documentation, pkg-other

Add comprehensive unit tests for user operations
  pkg/saltstack/client.go
  pkg/system/service_operations.go
  pkg/system/service_operations_test.go
  pkg/users/operations.go
  pkg/users/operations_test.go
Labels: pkg-other

feat(tests): Add comprehensive integration tests for backup functionality
  pkg/backup/client_integration_test.go
Labels: pkg-other

feat(tests): Add integration tests for CLI commands using AIE pattern helpers
  cmd/integration_test.go
Labels: cli

feat(tests): Add comprehensive tests for AIE pattern framework
  pkg/crypto/comprehensive_security_test.go
  pkg/patterns/aie_comprehensive_test.go
  pkg/saltstack/security_integration_test.go
Labels: pkg-crypto, pkg-other

feat(tests): Add comprehensive security tests for Vault operations
  pkg/crypto/comprehensive_security_test.go
  pkg/vault/comprehensive_security_test.go
Labels: pkg-vault, pkg-crypto, pkg-other

Add integration and unit tests for LDAP operations
  pkg/ai/..\..\windows\system32\config\sam
  pkg/ai/ai_test.go
  pkg/ai/config_test.go
  pkg/hetzner/hetzner_test.go
  pkg/hetzner/security_test.go
  pkg/ldap/auth_test.go
  pkg/ldap/integration_test.go
  pkg/ldap/ldap_test.go
Labels: pkg-ldap, pkg-other

feat(tests): Add comprehensive tests for Hecate data structures and security validations
  pkg/hecate/hecate_test.go
Labels: pkg-hecate, pkg-other

feat(tests): Add comprehensive security tests for container and Hecate configurations
  pkg/ai/..\..\windows\system32\config\sam
  pkg/container/security_test.go
  pkg/hecate/hecate_test.go
  pkg/hecate/security_test.go
Labels: pkg-container, pkg-hecate, pkg-other

Add comprehensive error handling and YAML utility tests
  pkg/ai/ai.go
  pkg/ai/ai_test.go
  pkg/ai/config_test.go
  pkg/container/security_test.go
  pkg/eos_err/security_improvements_test.go
  pkg/eos_err/util_print_test.go
  pkg/eos_err/util_test.go
  pkg/eos_err/wrap_test.go
  pkg/eos_io/context_test.go
  pkg/eos_io/debug_test.go
  pkg/eos_io/yaml_test.go
  pkg/vault/security_test.go
Labels: pkg-container, pkg-vault, pkg-other

Add comprehensive tests for error handling and environment variable retrieval in vault package
  pkg/crypto/erase_test.go
  pkg/crypto/redact_test.go
  pkg/vault/auth_test.go
  pkg/vault/client_test.go
  pkg/vault/errors_test.go
  pkg/vault/vault_test.go
Labels: pkg-vault, pkg-crypto, pkg-other

feat(tests): Add comprehensive integration tests for authentication workflows and error handling
  pkg/delphi/auth_integration_test.go
Labels: pkg-delphi, pkg-other

Implement Kubernetes installation and management functions
  pkg/container/containers_test.go
  pkg/container/images_test.go
  pkg/container/jenkins_test.go
  pkg/container/k3s.go
  pkg/container/k3s_test.go
  pkg/container/kubernetes.go.old
  pkg/container/kubernetes_test.go.old
  pkg/container/macos_test.go
  pkg/container/volumes_test.go
Labels: pkg-container, pkg-other

Add comprehensive tests for package lifecycle, platform detection, and scheduling
  pkg/execute/execute_test.go
  pkg/execute/helpers_test.go
  pkg/execute/injection_security_test.go
  pkg/execute/retry_test.go
  pkg/ldap/comprehensive_test.go
  pkg/ldap/security_comprehensive_test.go
  pkg/platform/firewall_test.go
  pkg/platform/package_lifecycle_test.go
  pkg/platform/platform_test.go
  pkg/platform/scheduler_test.go
Labels: pkg-ldap, pkg-platform, pkg-other

Implement Delphi configuration and validation system
  cmd/delphi/delphi.go
  cmd/delphi/services/fix_channels.go
  cmd/delphi/services/services.go
  cmd/delphi/validate/validate.go
  cmd/secure/permissions.go
  cmd/secure/secure.go
  pkg/delphi_channels/standardizer.go
  pkg/delphi_channels/types.go
  pkg/delphi_config/types.go
  pkg/delphi_config/validator.go
  pkg/security_permissions/manager.go
  pkg/security_permissions/types.go
Labels: cli, pkg-other

feat(zfs_management): Implement ZFS management functionality with TUI interface
  .github/hooks/pre-commit
  .github/workflows/coverage-enforcement.yml
  TEST_COVERAGE_SUMMARY.md
  assets/python_workers/email-formatter.py
  cmd/delphi/delphi.go
  cmd/delphi/services/cleanup.go
  cmd/delphi/services/delete.go
  cmd/delphi/services/fix_channels.go
  cmd/delphi/validate/validate.go
  cmd/delphi/webhook/webhook.go
  cmd/root.go
  cmd/secure/permissions.go
  cmd/self/secrets.go
  cmd/storage/storage.go
  cmd/storage/zfs.go
  docs/migration/script-migration-plan.md
  go.mod
  go.sum
  pkg/ai/ai_test.go
  pkg/delphi/dashboard/services_module.go
  pkg/delphi/delphi_webhook.go
  pkg/penpot/steps.go
  pkg/shared/service_lifecycle.go
  pkg/shared/service_management.go
  pkg/zfs_management/manager.go
  pkg/zfs_management/tui.go
  pkg/zfs_management/types.go
  scripts/check-coverage.sh
  scripts/overnight-fuzz.sh
Labels: documentation, cli, scripts, pkg-delphi, pkg-utils, pkg-other, ci, dependencies

feat: Remove deprecated scripts for Delphi webhook, notification channels, ZFS management, permission updates, and configuration validation
  scripts/custom-delphi-webhook
  scripts/custom-delphi-webook
  scripts/fix-notification-channels.py
  scripts/manageZfs.mjs
  scripts/updatePermissions.py
  scripts/validate-delphi-config.py
Labels: scripts

feat(cron_management): Implement cron job management functionality
  cmd/manage/cron.go
  cmd/manage/manage.go
  cmd/manage/services.go
  pkg/cron_management/manager.go
  pkg/cron_management/types.go
  pkg/system_services/manager.go
  pkg/system_services/types.go
  scripts/deployClamAV.py
  scripts/deployVBoxGuestAdditions.sh
  scripts/enableAutocomplete.sh
  scripts/installBorg.sh
  scripts/installMicroCloud.sh
  scripts/installPowershell.sh
  scripts/installTraefik.py
  scripts/installTraefik.sh
  scripts/installXfce.sh
  scripts/installZx.sh
  scripts/manageCron.py
  scripts/manageVbox.py
  scripts/renameToSh.sh
  scripts/resizeFilesystem/README.md
Labels: documentation, cli, scripts, pkg-other

feat(privilege_check): Add sudo check command and privilege management functionality
  cmd/secure/secure.go
  cmd/secure/sudo_check.go
  pkg/privilege_check/manager.go
  pkg/privilege_check/types.go
  scripts/checkSudo.py
Labels: cli, scripts, pkg-other

Remove obsolete utility scripts and implement Docker container management commands
  cmd/container/compose.go
  cmd/container/container.go
  cmd/container/install.go
  cmd/container/list.go
  cmd/root.go
  cmd/secure/sudo_check.go
  pkg/container_management/manager.go
  pkg/container_management/types.go
  scripts/PostgreSQL/deployNewDb.py
  scripts/PostgreSQL/getOpenColours.sh
  scripts/PostgreSQL/getSolarized.sh
  scripts/PostgreSQL/installPostgreSQL.sh
  scripts/PostgreSQL/renameDatabase.sh
  scripts/PostgreSQL/setupOpenColour_tb.sh
  scripts/PostgreSQL/setupSolarized_tb.sh
  scripts/deployDocker.py
  scripts/deployVirtualBox-7.1.x.sh
  scripts/installRestic.sh
  scripts/stopDockerCompose.py
  scripts/utilities/apt.sh
  scripts/utilities/checkDirectory.sh
  scripts/utilities/checkIfInstalled.sh
  scripts/utilities/checkSudo.sh
  scripts/utilities/errorLogger.sh
  scripts/utilities/log.sh
  scripts/utilities/stamp.sh
  scripts/utilities/start.sh
  scripts/utilities/stop.sh
  scripts/utilities/timestamp.sh
  scripts/utilities/yesNo.sh
Labels: cli, scripts, pkg-other

feat(disk_management): Implement DiskManager for disk and partition operations
  cmd/backup/backup.go
  cmd/backup/file.go
  cmd/storage/disk.go
  cmd/storage/storage.go
  pkg/disk_management/manager.go
  pkg/disk_management/types.go
  pkg/file_backup/manager.go
  pkg/file_backup/types.go
  scripts/backupAFile.sh
  scripts/diskManager.mjs
Labels: cli, scripts, pkg-other

feat(deploy): Add deployment command for Wazuh with Docker support
  cmd/delphi/delphi.go
  cmd/delphi/deploy/deploy.go
Labels: cli

refactor: Remove obsolete scripts related to Wazuh deployment and configuration
  scripts/delphi/deleteAgent.py
  scripts/delphi/docker/changeDefaultCredentials.sh
  scripts/delphi/docker/deployWazuh.sh
  scripts/delphi/removeWazuh.sh
  scripts/setup-vault-delphi.sh
Labels: scripts

feat(git): implement comprehensive Git repository management commands
  cmd/git/commit.go
  cmd/git/config.go
  cmd/git/deploy.go
  cmd/git/git.go
  cmd/git/info.go
  cmd/git/init.go
  cmd/git/remote.go
  cmd/git/status.go
  cmd/root.go
  pkg/git_management/manager.go
  pkg/git_management/types.go
  scripts/changeGitRemote.sh
  scripts/gitAutoCommit.mjs
  scripts/gitWrap.sh
  scripts/initGitRepo.sh
  scripts/setupGit.sh
  scripts/updateYumCrontab.py
Labels: cli, scripts, pkg-other

feat(database): Add commands for database status and Vault PostgreSQL setup
  cmd/database/credentials.go
  cmd/database/database.go
  cmd/database/health_check.go
  cmd/database/query.go
  cmd/database/schema.go
  cmd/database/status.go
  cmd/database/vault_postgres.go
  cmd/root.go
  pkg/database_management/manager.go
  pkg/database_management/types.go
  scripts/setup-vault-dynamic-postgres.sh
Labels: cli, scripts, pkg-other

feat: Implement service installation for Caddy and Grafana
  cmd/create/caddy.go
  cmd/create/grafana.go
  cmd/create/k3s.go
  pkg/service_installation/caddy.go
  pkg/service_installation/grafana.go
  pkg/service_installation/manager.go
  pkg/service_installation/types.go
Labels: cli, pkg-other

fix(deps): downgrade github.com/fatih/color to v1.16.0
  go.mod
  go.sum
Labels: dependencies

feat: Implement Loki and LXD service installation
  cmd/create/loki.go
  cmd/create/lxd.go
  cmd/create/mattermost.go
  pkg/service_installation/loki.go
  pkg/service_installation/lxd.go
  pkg/service_installation/manager.go
  pkg/service_installation/mattermost.go
  scripts/installCaddy.sh
  scripts/installGrafana.py
  scripts/installLokiDocker.sh
  scripts/installLxd.sh
  scripts/installMattermost.py
Labels: cli, scripts, pkg-other

feat: Remove legacy installation scripts for Apache Guacamole, QEMU Guest Agent, and Tailscale
  cmd/create/guacamole.go
  cmd/create/qemu_guest.go
  cmd/create/tailscale.go
  pkg/service_installation/guacamole.go
  pkg/service_installation/manager.go
  pkg/service_installation/qemu_guest.go
  pkg/service_installation/tailscale.go
  scripts/installApacheGuacServer.sh
  scripts/installQemuGuestAgent.sh
  scripts/installTailscale.sh
Labels: cli, scripts, pkg-other

feat(system_config): Implement SSH key management and system tools configuration
  cmd/root.go
  cmd/setup/setup.go
  cmd/setup/ssh_key.go
  cmd/setup/tools.go
  pkg/system_config/manager.go
  pkg/system_config/manager_test.go
  pkg/system_config/ssh_key.go
  pkg/system_config/system_tools.go
  pkg/system_config/types.go
Labels: cli, pkg-other

feat: Add orchestration capabilities for HashiCorp Vault deployment
  cmd/create/vault_enhanced.go
  cmd/root.go
  cmd/salt/job.go
  cmd/salt/key.go
  cmd/salt/minion.go
  cmd/salt/orchestrate.go
  cmd/salt/ping.go
  cmd/salt/run.go
  cmd/salt/salt.go
  cmd/salt/state.go
  pkg/salt/client/http.go
  pkg/salt/client/types.go
  pkg/salt/orchestration/manager.go
  pkg/salt/orchestrator/enhancer.go
  salt/orchestration/hashicorp/vault/deploy.sls
  salt/states/hashicorp/vault/config.sls
  salt/states/hashicorp/vault/init.sls
  salt/states/hashicorp/vault/install.sls
  salt/states/hashicorp/vault/service.sls
Labels: cli, pkg-other

feat: Enhance email validation logic and update test context creation
  pkg/system_config/manager.go
  pkg/system_config/manager_test.go
Labels: pkg-other

Implement system command structure and add fuzz tests for database operations, YAML parsing, filesystem interactions, command execution, and JSON parsing vulnerabilities
  cmd/system/system.go
  pkg/database_management/database_fuzz_test.go
  pkg/eos_io/yaml_fuzz_test.go
  pkg/eos_unix/filesystem_fuzz_test.go
  pkg/eos_unix/testdata/fuzz/FuzzMkdirP/5f3fb330b1b5c1c2
  pkg/execute/execute_fuzz_test.go
  pkg/interaction/fuzz_test.go
  pkg/parse/json_fuzz_test.go
Labels: cli, pkg-other
