Repository CodeMonkeyCybersecurity/eos, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, cli, ansible, scripts, pkg-container, pkg-vault, pkg-kvm, pkg-delphi, pkg-crypto, pkg-hecate, pkg-ldap, pkg-mattermost, pkg-platform, pkg-utils, pkg-other, ci, dependencies, policies, sql

.github/labeler.yml:

# Top-level docs
documentation:
  - README.md
  - SECURITY.md
  - LICENSE.*
  - '**/*.md'

cli:
  - main.go
  - cmd/**
  - policies/**
  - sql/**

ansible:
  - ansible/**

scripts:
  - scripts/**
  - install.sh
  - installGoAndGhOnRhel.sh
  - setupGo.sh
  - uninstall.sh
  - install.ps1

pkg-container:
  - pkg/container/**
  - pkg/docker/**

pkg-vault:
  - pkg/vault/**

pkg-kvm:
  - pkg/kvm/**

pkg-delphi:
  - pkg/delphi/**

pkg-crypto:
  - pkg/crypto/**

pkg-hecate:
  - pkg/hecate/**
  - cmd/hecate/**

pkg-ldap:
  - pkg/ldap/**

pkg-mattermost:
  - pkg/mattermost/**

pkg-platform:
  - pkg/platform/**

pkg-utils:
  - pkg/utils/**
  - pkg/shared/**
  - pkg/logger/**

pkg-other:
  - pkg/**

ci:
  - .github/workflows/**
  - .github/labeler.yml
  - .github/dependabot.yml

dependencies:
  - go.mod
  - go.sum
  - Dockerfile
  - docker-compose.yml

policies:
  - policies/**
sql:
  - sql/**

refactor: Enhance Zabbix deployment with timezone auto-detection and improved logging
  cmd/create/zabbix.go
Labels: cli

refactor: Simplify MFA configuration for root user with interactive setup and improved logging
  cmd/secure/ubuntu.go
  pkg/ubuntu/mfa_simple.go
  pkg/ubuntu/secure_enhanced.go
Labels: cli, pkg-other

refactor: Improve MFA configuration logging and user guidance in documentation
  docs/commands/secure-ubuntu.md
  docs/guides/mfa-user-guide.md
  pkg/ubuntu/mfa_simple.go
  pkg/ubuntu/secure_enhanced.go
Labels: documentation, pkg-other

refactor: Enhance Docker verification and non-root user setup with improved logging and detection
  pkg/container/docker.go
Labels: pkg-container, pkg-other

refactor: Change shell execution from sh to bash for K3s deployment script
  cmd/create/k3s.go
  cmd/pandora/pandora.go
Labels: cli

refactor: Enhance secure unsealing process with comprehensive audit logging and improved user prompts
  cmd/pandora/unseal/unseal.go
  pkg/ubuntu/mfa_sudoers.go
Labels: cli, pkg-other

refactor: Remove emojis from health status messages and improve documentation clarity
  assets/python_workers/parser-monitor.py
  cmd/create/consul.go
  cmd/delphi/services/PARSER_MONITORING.md
  cmd/pandora/unseal/unseal.go
  cmd/read/vault.go
  pkg/shared/ports.go
  pkg/vault/agent_lifecycle.go
  pkg/vault/hardening.go
  pkg/vault/lifecycle2_enable.go
Labels: documentation, cli, pkg-vault, pkg-utils, pkg-other

feat: Implement backup update and verification commands
  BACKUP_EXAMPLE.md
  cmd/backup/backup.go
  cmd/backup/create.go
  cmd/backup/delete.go
  cmd/backup/list.go
  cmd/backup/read.go
  cmd/backup/restore.go
  cmd/backup/schedule.go
  cmd/backup/update.go
  cmd/backup/verify.go
  pkg/backup/client.go
  pkg/backup/config.go
Labels: documentation, cli, pkg-other

Add enhanced integration tests, metrics collection, and security validation for Consul configurations
  CONSUL_ENHANCEMENT_SUMMARY.md
  assets/python_workers/PROMPT_INTEGRATION_GUIDE.md
  assets/python_workers/parser-monitor.py
  assets/scripts/fix-notification-channels.py
  assets/scripts/validate-delphi-config.py
  cmd/create/consul.go
  cmd/delphi/services/PARSER_MONITORING.md
  cmd/delphi/watch/all.go
  cmd/self/README.md
  cmd/self/telemetry.go
  docs/TESTING_GUIDE.md
  go.mod
  go.sum
  pkg/architecture/README.md
  pkg/architecture/migration_results.md
  pkg/consul/alerting.go
  pkg/consul/enhanced_integration.go
  pkg/consul/enhanced_integration_test.go
  pkg/consul/metrics.go
  pkg/consul/security.go
  pkg/consul/security_test.go
  pkg/domain/delphi/README.md
  pkg/execute/execute.go
  pkg/hetzner/servers.go
  pkg/ubuntu/MFA_ENFORCEMENT_GUIDE.md
  pkg/ubuntu/mfa_enforced.go
  pkg/ubuntu/secure_enhanced.go
Labels: documentation, cli, pkg-other, dependencies

feat: Implement dashboard monitoring functionality
  assets/python_workers/PROMPT_INTEGRATION_GUIDE.md
  assets/python_workers/email-sender.py
  assets/sql/schema.sql
  cmd/delphi/delphi.go
  cmd/delphi/inspect/inspect.go
  go.mod
  go.sum
  pkg/delphi/dashboard_monitor.go
  pkg/delphi/dashboard_types.go
  pkg/delphi/dashboard_ui.go
Labels: documentation, cli, pkg-delphi, pkg-other, dependencies

feat: Add comprehensive database schema verification command
  cmd/delphi/inspect/inspect.go
  pkg/delphi/schema_verifier.go
Labels: cli, pkg-delphi, pkg-other

feat(dashboard): implement dashboard hub and services management module
  assets/python_workers/PROMPT_INTEGRATION_GUIDE.md
  assets/python_workers/alert-to-db.py
  assets/python_workers/delphi-agent-enricher.py
  assets/python_workers/delphi-listener.py
  assets/python_workers/email-formatter.py
  assets/python_workers/email-sender.py
  assets/python_workers/email-structurer.py
  assets/python_workers/parser-monitor.py
  assets/python_workers/prompt-ab-tester.py
  cmd/delphi/dashboard/dashboard.go
  cmd/delphi/delphi.go
  docs/delphi-dashboard-architecture.md
  pkg/delphi/dashboard/components.go
  pkg/delphi/dashboard/hub.go
  pkg/delphi/dashboard/module.go
  pkg/delphi/dashboard/services_module.go
Labels: documentation, cli, pkg-delphi, pkg-other

feat(services): enhance A/B testing management and update service registry
  cmd/delphi/services/ab_config.go
  cmd/delphi/services/service_registry.go
  cmd/delphi/services/services.go
  cmd/delphi/services/start.go
  pkg/delphi/dashboard/services_module.go
Labels: cli, pkg-delphi, pkg-other

feat: Add Vault integration for Delphi dashboard
  cmd/delphi/dashboard/dashboard.go
  cmd/self/secrets.go
  cmd/self/self.go
  docs/vault-database-dynamic-credentials.md
  docs/vault-delphi-integration.md
  pkg/delphi/database/connection.go
  scripts/setup-vault-delphi.sh
  scripts/setup-vault-dynamic-postgres.sh
Labels: documentation, cli, scripts, pkg-delphi, pkg-other

Refactor service port configurations to use centralized constants
  CLAUDE.md
  cmd/create/consul.go
  cmd/create/terraform_consul.go
  cmd/create/terraform_vault.go
  cmd/create/terraform_vault_generators.go
  cmd/create/umami.go
  cmd/create/zabbix.go
  cmd/delphi/services/update.go
  cmd/disable/vault.go
  cmd/refresh/vault.go
  cmd/root.go
  pkg/consul/enhanced_integration_test.go
  pkg/consul/security_test.go
  pkg/eos_unix/systemctl.go
  pkg/shared/ports.go
  pkg/vault/client.go
Labels: documentation, cli, pkg-vault, pkg-utils, pkg-other

Refactor dashboard architecture documentation and improve logging messages
  CONSUL_ENHANCEMENT_SUMMARY.md
  assets/python_workers/email-formatter.py
  cmd/create/consul.go
  cmd/delphi/inspect/inspect.go
  cmd/delphi/services/update.go
  cmd/self/secrets.go
  docs/delphi-dashboard-architecture.md
  pkg/delphi/dashboard/components.go
  pkg/delphi/dashboard_monitor.go
  pkg/delphi/schema_verifier.go
  pkg/eos_unix/systemctl.go
  scripts/setup-vault-dynamic-postgres.sh
Labels: documentation, cli, scripts, pkg-delphi, pkg-other

feat(services): implement centralized service management and deprecate legacy functions
  cmd/delphi/services/update.go
  pkg/shared/delphi_services.go
  pkg/shared/service_management.go
Labels: cli, pkg-utils, pkg-other

chore: remove unused functions and clean up service management code
  cmd/delphi/services/update.go
  cmd/root.go
  pkg/shared/delphi_services.go
  pkg/shared/service_management.go
Labels: cli, pkg-utils, pkg-other

Implement service lifecycle management and emergency zombie cleanup
  assets/services/delphi-agent-enricher.service
  assets/services/delphi-emailer.service
  assets/services/delphi-listener.service
  assets/services/email-formatter.service
  assets/services/email-sender.service
  assets/services/email-structurer.service
  assets/services/llm-worker.service
  assets/services/prompt-ab-tester.service
  cmd/delphi/services/cleanup.go
  cmd/delphi/services/delete.go
  cmd/delphi/services/services.go
  cmd/delphi/services/update.go
  cmd/ragequit/ragequit.go
  cmd/ragequit/ragequit_test.go
  cmd/root.go
  pkg/shared/service_lifecycle.go
  scripts/deployWhois.py
  scripts/emergency-zombie-cleanup.sh
  scripts/setupHeadscale.sh
Labels: cli, scripts, pkg-utils, pkg-other

feat: Implement Nomad job specification and deployment for Penpot
  CLAUDE.md
  assets/docker/penpot-docker-compose.yml
  cmd/create/penpot.go
  go.mod
  go.sum
  pkg/penpot/crud.go
  pkg/penpot/manager.go
  pkg/penpot/nomad.go
  pkg/penpot/steps.go
  pkg/penpot/types.go
  pkg/shared/ports.go
Labels: documentation, cli, pkg-utils, pkg-other, dependencies

docs: add memories section to CLAUDE.md and specify emoji usage policy
  CLAUDE.md
Labels: documentation

feat: Implement Helen deployment manager with Nomad and Vault integration
  cmd/create/helen.go
  pkg/helen/crud.go
  pkg/helen/manager.go
  pkg/helen/nomad.go
  pkg/helen/steps.go
  pkg/helen/types.go
Labels: cli, pkg-other

feat: Add inspect command for infrastructure analysis and Terraform graph generation
  cmd/inspect/inspect.go
  cmd/inspect/terraform_graph.go
  cmd/root.go
  pkg/terraform/graph.go
  pkg/terraform/graph_crud.go
  pkg/terraform/graph_steps.go
Labels: cli, pkg-other

feat: Update Terraform graph command to use shared port constants for Vault and Nomad addresses
  cmd/inspect/terraform_graph.go
  pkg/shared/ports.go
  pkg/terraform/graph.go
Labels: cli, pkg-utils, pkg-other

feat: Add application configuration and vault service management
  cmd/delphi/services/test_summary.md
  cmd/delphi/services/update_test.go
  cmd/hecate/deploy/deploy.go
  go.mod
  go.sum
  pkg/application/config.go
  pkg/application/vault/commands.go
  pkg/domain/vault/entities.go
  pkg/domain/vault/service.go
  pkg/infrastructure/vault/client.go
  pkg/shared/delphi_services.go
  pkg/shared/delphi_services_test.go
  pkg/shared/service_management.go
  pkg/shared/service_management_test.go
  pkg/shared/service_registry_interface.go
Labels: documentation, cli, pkg-hecate, pkg-utils, pkg-other, dependencies

Implement comprehensive fuzz testing suite for EOS CLI tool
  CONSUL_ENHANCEMENT_SUMMARY.md
  assets/python_workers/email-formatter.py
  assets/python_workers/email-structurer.py
  assets/python_workers/parser-monitor.py
  cmd/create/consul.go
  cmd/create/penpot.go
  cmd/delphi/inspect/inspect.go
  cmd/delphi/services/cleanup.go
  cmd/delphi/services/delete.go
  cmd/delphi/services/fuzz_simple_test.go
  cmd/delphi/services/update.go
  cmd/self/secrets.go
  docs/FUZZ_TESTING_DEPLOYMENT.md
  pkg/delphi/dashboard/components.go
  pkg/delphi/dashboard_monitor.go
  pkg/delphi/schema_verifier.go
  pkg/eos_cli/fuzz_simple_test.go
  pkg/eos_unix/systemctl.go
  pkg/penpot/crud.go
  pkg/penpot/manager.go
  pkg/penpot/steps.go
  pkg/shared/delphi_services.go
  pkg/shared/delphi_services_test.go
  pkg/shared/service_dependency_handler.go
  pkg/shared/service_lifecycle.go
  pkg/shared/service_management.go
  pkg/shared/service_management_simple_test.go
  pkg/shared/service_management_test.go
  scripts/emergency-zombie-cleanup.sh
  scripts/overnight-fuzz.sh
  scripts/run-fuzz-tests.sh
  test/comprehensive_fuzz_test.go
Labels: documentation, cli, scripts, pkg-delphi, pkg-utils, pkg-other

feat: Enhance parser metrics queries and update A/B testing metrics handling
  assets/python_workers/parser-monitor.py
Labels: none

feat(security): Implement comprehensive audit logging and system hardening features
  .github/hooks/pre-commit
  .github/workflows/comprehensive-quality.yml
  .github/workflows/coverage-enforcement.yml
  cmd/create/consul.go
  cmd/delete/vault_secure.go
  cmd/delphi/services/PARSER_MONITORING.md
  cmd/delphi/services/cleanup.go
  cmd/delphi/services/stop.go
  cmd/delphi/services/update.go
  cmd/delphi/watch/agents.go
  cmd/delphi/watch/alerts.go
  cmd/delphi/watch/all.go
  cmd/disable/vault.go
  cmd/self/secrets.go
  docs/BACKUP_EXAMPLE.md
  docs/CONSUL_ENHANCEMENT_SUMMARY.md
  pkg/REFACTORING_GUIDE.md
  pkg/domain/vault/service_test.go
  pkg/eos_unix/systemctl.go
  pkg/infrastructure/vault/client_test.go
  pkg/osquery/windows.go
  pkg/security/audit.go
  pkg/security/hardening.go
  pkg/shared/service_lifecycle.go
  pkg/ubuntu/mfa_atomic.go
  pkg/ubuntu/mfa_manager.go
  pkg/vault/hardening.go
  pkg/vault/phase7_ver_root_token.go
  pkg/vault/phase8_health_check.go
  pkg/vault/post_quantum.go
  scripts/check-coverage.sh
  scripts/emergency-zombie-cleanup.sh
  scripts/overnight-fuzz.sh
  test/comprehensive_fuzz_test.go
  test/coverage/coverage_enforcer.go
  test/integration_scenarios_test.go
  test/integration_test.go
  uninstall.sh
Labels: documentation, cli, scripts, pkg-vault, pkg-utils, pkg-other, ci

feat: Add notification channel standardization and Delphi configuration validation scripts
  scripts/fix-notification-channels.py
  scripts/validate-delphi-config.py
Labels: scripts

feat: Enhance service worker update process with backup for systemd services and health checks for oneshot services
  cmd/delphi/services/update.go
  pkg/eos_unix/systemctl.go
Labels: cli, pkg-other

fix: Remove emoji from success messages for consistency across logs and scripts
  cmd/create/penpot.go
  cmd/delphi/services/cleanup.go
  cmd/delphi/services/update.go
  cmd/self/secrets.go
  pkg/penpot/crud.go
  pkg/shared/service_lifecycle.go
  pkg/shared/service_management.go
  scripts/emergency-zombie-cleanup.sh
  scripts/setup-vault-dynamic-postgres.sh
Labels: cli, scripts, pkg-utils, pkg-other

feat: Implement Salt API client for managing SaltStack operations
  cmd/backup/docker.go
  cmd/create/infrastructure.go
  cmd/secure/credentials.go
  docs/INTEGRATION_TESTING.md
  docs/REFACTORING_GUIDE.md
  pkg/container/backup.go
  pkg/infrastructure/network/tailscale.go
  pkg/jenkins/api.go
  pkg/mozart/orchestrator.go
  pkg/salt/api.go
  pkg/security/credentials.go
  pkg/security/wazuh_credentials.go
Labels: documentation, cli, pkg-container, pkg-other

feat: Add SSH security diagnostics and troubleshooting commands with credential validation and service checks
  cmd/secure/ssh.go
  pkg/interaction/prompt.go
  pkg/ssh/diagnostics.go
  scripts_migration_analysis.md
Labels: documentation, cli, pkg-other

feat: Implement storage management commands for reading and updating storage resources, including LVM and filesystem operations
  cmd/read/storage.go
  cmd/update/storage.go
  pkg/storage/filesystem.go
  pkg/storage/lvm.go
Labels: cli, pkg-other

feat(network): Implement Headscale installation and configuration
  cmd/create/headscale.go
  cmd/create/tailscale-hosts.go
  cmd/read/system.go
  cmd/read/tailscale.go
  pkg/infrastructure/network/headscale.go
  pkg/infrastructure/network/hosts.go
  pkg/system/info.go
Labels: cli, pkg-other

feat(migration): Add comprehensive migration plan for converting legacy shell scripts to Go implementations
  docs/migration/script-migration-plan.md
Labels: documentation

feat: Remove deprecated SSH troubleshooting and credential check scripts
  scripts/checkSshCredentials.sh
  scripts/collectUbuntuInfo.sh
  scripts/createTailscaleHostsConf.sh
  scripts/manageFstab.sh
  scripts/resizeFilesystems.sh
  scripts/setupHeadscale.sh
  scripts/troubleshootSsh.sh
Labels: scripts

Remove deprecated scripts and implement Kubernetes installation logic
  cmd/create/k3s.go
  cmd/secure/ssh.go
  docs/migration/script-migration-plan.md
  pkg/container/kubernetes.go
  pkg/ssh/diagnostics.go
  scripts/copySshIds.sh
  scripts/disableSSHIntoRoot.py
  scripts/distributeSshKeys.sh
  scripts/installKubeadm.sh
  scripts/installMicroK8s.sh
Labels: documentation, cli, scripts, pkg-container, pkg-other

feat(users): Implement user management functions including creation, password change, and SSH access management
  cmd/create/user.go
  cmd/read/users.go
  cmd/update/users.go
  pkg/users/management.go
Labels: cli, pkg-other

feat(migration): Update migration plan to include user management features and remove legacy scripts
  docs/migration/script-migration-plan.md
  scripts/addUser.sh
  scripts/changeUserPassword.sh
  scripts/userHostnameStamp.sh
  scripts/usersWithRemoteSsh.sh
Labels: documentation, scripts
